In [1]:
import os
file_path = os.path.abspath("school_safety_zip_atlas_zip_codes.csv")
print(file_path)

C:\Users\ryanb\Semester 8\DS 490 Capstone\DS 490 Report Writing\school_safety_zip_atlas_zip_codes.csv

In [2]:
#Chrome
from selenium import webdriver 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from time import sleep
from selenium.webdriver.chrome.options import Options
import time
import pandas as pd
import numpy as np
from tqdm import tqdm
from random import randint
import re

In [3]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

df_1 = pd.read_csv(r'C:\Users\ryanb\Semester 8\DS 490 Capstone\DS 490 Report Writing\school_safety_zip_atlas_zip_codes.csv')

In [4]:
zips = df_1['Zip_Code'].copy()

for i in range(len(zips)):
    if len(str(zips[i])) == 4: 
        zips[i] = f"0{zips[i]}"
        
df_1['Zip_Code'] = zips

print(df_1['Zip_Code'].to_string())

0       46218
1       28655
2       44052
3       27610
4       78249
5       70346
6       21217
7       48224
8       90280
9       05641
10      32220
11      21207
12      53022
13      45406
14      32311
15      33626
16      98684
17      60659
18      78758
19      93727
20      53094
21      43605
22      76205
23      63122
24      34234
25      44105
26      90037
27      33127
28      76119
29      63123
30      28303
31      29010
32      60419
33      70301
34      48237
35      80219
36      98122
37      31404
38      91343
39      85019
40      30224
41      99654
42      27406
43      21040
44      31907
45      20020
46      21231
47      21213
48      44111
49      52501
50      40213
51      37355
52      37874
53      53222
54      60659
55      78006
56      32504
57      20020
58      21231
59      44104
60      21223
61      60478
62      66102
63      61820
64      31636
65      20012
66      98902
67      70441
68      20706
69      72114
70      13492
71      28358
72      32780
73      94613
74      38114
75      21231
76      60637
77      70767
78      67152
79      39601
80      98148
81      89102
82      94533
83      38701
84      90037
85      74106
86      29440
87      73045
88      87557
89      23805
90      23464
91      85029
92      21286
93      74075
94      38555
95      78155
96      30144
97      91739
98      30236
99      39567
100     32218
101     30904
102     68701
103     39759
104     38016
105     61820
106     98106
107     38117
108     20009
109     38109
110     28262
111     17104
112     11204
113     30228
114     78210
115     12180
116     35212
117     21209
118     45219
119     55021
120     87112
121     72143
122     19133
123     08332
124     31907
125     20020
126     53206
127     22206
128     23220
129     48092
130     02122
131     21221
132     01604
133     76104
134     92220
135     30331
136     10940
137     48225
138     18603
139     43227
140     55419
141     93638
142     15290
143     27712
144     27834
145     48198
146     01923
147     20024
148     07108
149     10304
150     19904
151     85015
152     98122
153     91304
154     20011
155     43228
156     07514
157     55411
158     97216
159     46222
160     92372
161     37771
162     45405
163     20020
164     20747
165     60471
166     11413
167     94613
168     29485
169     19129
170     89030
171     29456
172     47713
173     27932
174     85205
175     48503
176     20746
177     42003
178     93552
179     37919
180     23220
181     30144
182     55746
183     06519
184     89011
185     90059
186     24540
187     72202
188     32714
189     77053
190     70115
191     53188
192     15218
193     85033
194     60612
195     77071
196     95212
197     98126
198     28590
199     29611
200     45202
201     77017
202     45237
203     19136
204     27601
205     39213
206     20009
207     96021
208     96080
209     27103
210     20832
211     30135
212     37215
213     08332
214     46540
215     38106
216     19143
217     80206
218     36207
219     75229
220     76012
221     97386
222     10454
223     27709
224     20011
225     49418
226     80601
227     95632
228     10040
229     10035
230     10029
231     53209
232     44137
233     25951
234     19131
235     46201
236     79107
237     10019
238     48066
239     21224
240     21239
241     59457
242     60632
243     62959
244     31404
245     81006
246     90703
247     45237
248     80517
249     71270
250     28339
251     60644
252     77547
253     77067
254     44110
255     21212
256     15208
257     30035
258     79022
259     80203
260     10304
261     80206
262     93704
263     11206
264     33169
265     19709
266     72904
267     84770
268     33896
269     73040
270     60099
271     20011
272     85365
273     36617
274     65804
275     08094
276     84123
277     43607
278     64111
279     79602
280     50317
281     98409
282     33430
283     55117
284     11233
285     73115
286     11412
287     34205
288     05641
289     23701
290     84045
291     44105
292     70125
293     40484
294     19720
295     22191
296     97206
297     23608
298     48237
299     21225
300     32703
301     43229
302     14621
303     48205
304     06519
305     95776
306     60608
307     43211
308     97202
309     37411
310     19134
311     45416
312     27526
313     20746
314     63106
315     21740
316     47885
317     60644
318     36107
319     38116
320     53204
321     19804
322     48658
323     48219
324     13207
325     20016
326     47842
327     97128
328     28358
329     37203
330     71405
331     32805
332     39154
333     42721
334     98133
335     20170
336     76119
337     40272
338     31404
339     20011
340     79106
341     80130
342     75088
343     28464
344     72756
345     78884
346     60085
347     15222
348     10312
349     63139
350     43219
351     60608
352     44120
353     95838
354     19139
355     80219
356     37153
357     97217
358     89191
359     33605
360     95125
361     23223
362     23225
363     37129
364     27406
365     70510
366     70427
367     75224
368     11218
369     27511
370     97060
371     67401
372     53218
373     04210
374     66106
375     43560
376     27834
377     49017
378     85009
379     43207
380     28387
381     02121
382     48371
383     91761
384     74126
385     12550
386     70806
387     94613
388     75217
389     19128
390     31602
391     53205
392     19143
393     55423
394     19709
395     95012
396     85029
397     46601
398     11229
399     70058
400     34997
401     30904
402     10128
403     30912
404     18974
405     84010
406     49203
407     20745
408     94589
409     53404
410     53210
411     70510
412     53209
413     45432
414     21217
415     51108
416     33309
417     21218
418     47130
419     19134
420     87109
421     20019
422     94621
423     63133
424     44125
425     43214
426     43609
427     37042
428     43125
429     70117
430     33570
431     78521
432     95204
433     72103
434     49507
435     92392
436     30512
437     30253
438     12601
439     01901
440     31096
441     19134
442     94609
443     11550
444     46628
445     66030
446     77845
447     18612
448     10459
449     94589
450     13205
451     30341
452     95301
453     60620
454     98204
455     38611
456     35904
457     72204
458     48234
459     46402
460     91401
461     70125
462     92101
463     60624
464     76013
465     29445
466     60643
467     53211
468     78801
469     20011
470     19140
471     22026
472     37407
473     43110
474     62363
475     36582
476     23225
477     49508
478     70401
479     37132
480     34221
481     60613
482     94124
483     76667
484     03220
485     60586
486     31206
487     33401
488     77008
489     71901
490     32206
491     10303
492     30024
493     44436
494     36301
495     92405
496     20112
497     43211
498     15644
499     78214
500     46628
501     49849
502     31206
503     53233
504     30060
505     63031
506     97317
507     20015
508     96049
509     58646
510     50310
511     22192
512     39350
513     48195
514     71603
515     01902
516     25271
517     98040
518     97203
519     16508
520     47401
521     29605
522     19151
523     30314
524     86409
525     24016
526     89107
527     76123
528     28216
529     84106
530     75189
531     38011
532     22191
533     24015
534     75214
535     32168
536     39567
537     53142
538     85255
539     36551
540     02908
541     60010
542     99685
543     92505
544     98902
545     21231
546     02124
547     30297
548     92870
549     19136
550     53402
551     44905
552     25702
553     94803
554     38106
555     20785
556     80130
557     78254
558     87567
559     33055
560     50316
561     66062
562     48915
563     11213
564     20001
565     87120
566     35816
567     22192
568     77077
569     81007
570     20785
571     73463
572     39648
573     23323
574     01876
575     98930
576     32025
577     20024
578     14216
579     55418
580     10552
581     21052
582     30034
583     35211
584     27883
585     42276
586     53209
587     19079
588     55435
589     60659
590     53511
591     71203
592     77045
593     19142
594     89191
595     83835
596     20855
597     30316
598     23701
599     15212
600     32773
601     20020
602     77015
603     20877
604     87107
605     95828
606     61101
607     97209
608     43219
609     28144
610     77535
611     29203
612     11233
613     53204
614     23602
615     28216
616     32833
617     14611
618     31032
619     33935
620     43110
621     28023
622     10002
623     64132
624     40207
625     60616
626     10314
627     90810
628     72315
629     98122
630     19121
631     77002
632     38343
633     43213
634     48371
635     90020
636     61103
637     85339
638     95008
639     29728
640     60426
641     44102
642     80011
643     21217
644     92804
645     70510
646     10457
647     32209
648     12603
649     28115
650     14850
651     88046
652     10458
653     32765
654     88240
655     15136
656     29135
657     39120
658     60622
659     19104
660     10454
661     31406
662     19136
663     72758
664     93721
665     36604
666     04102
667     19026
668     60619
669     74133
670     49008
671     60653
672     72202
673     97266
674     73529
675     77661
676     19140
677     27701
678     33023
679     76002
680     58639
681     28205
682     19104
683     43608
684     87505
685     60613
686     77053
687     08002
688     28314
689     27712
690     46214
691     38106
692     39345
693     44122
694     04106
695     60014
696     22560
697     37167
698     21229
699     35064
700     83442
701     11236
702     06511
703     19121
704     45044
705     67211
706     30317
707     32043
708     23605
709     44105
710     80911
711     23228
712     37914
713     19143
714     27127
715     30401
716     53711
717     84601
718     43229
719     22150
720     40505
721     61821
722     37086
723     63042
724     29709
725     80007
726     94301
727     27909
728     48220
729     61820
730     55428
731     61821
732     37086
733     17104
734     01930
735     89179
736     28262
737     94545
738     90621
739     87110
740     46406
741     30281
742     90011
743     72202
744     27106
745     60624
746     07103
747     28401
748     21117
749     33467
750     93454
751     05401
752     22191
753     19079
754     42301
755     46324
756     98118
757     43607
758     11788
759     61103
760     68111
761     93704
762     29115
763     80204
764     22193
765     29532
766     60619
767     87102
768     30080
769     30058
770     92583
771     80909
772     94609
773     43219
774     97236
775     70360
776     30135
777     36693
778     98188
779     60623
780     77836
781     72207
782     67217
783     60608
784     14613
785     93705
786     61104
787     95368
788     76112
789     28383
790     27104
791     19132
792     17512
793     63033
794     06708
795     24017
796     77078
797     16146
798     66104
799     76112
800     22204
801     60614
802     07501
803     79912
804     38122
805     21045
806     94401
807     11233
808     90059
809     29206
810     83442
811     29692
812     49548
813     60612
814     55103
815     46256
816     11210
817     92395
818     38128
819     19977
820     55441
821     76548
822     45402
823     38401
824     37914
825     92101
826     46327
827     61604
828     60609
829     73131
830     36701
831     02140
832     63304
833     97317
834     25404
835     40258
836     46410
837     79603
838     45214
839     37914
840     43227
841     29709
842     71603
843     70126
844     98902
845     93291
846     61104
847     37917
848     28677
849     55406
850     76119
851     07501
852     70582
853     49508
854     20748
855     48127
856     39401
857     32117
858     74344
859     43213
860     20902
861     62703
862     12010
863     99207
864     33073
865     60827
866     23693
867     60651
868     67846
869     28791
870     76086
871     59401
872     38115
873     28451
874     17110
875     94587
876     77036
877     91744
878     47802
879     85718
880     80516
881     33015
882     14604
883     30274
884     06902
885     71603
886     40220
887     98944
888     16701
889     02908
890     75204
891     55379
892     32209
893     73170
894     72390
895     68152
896     19341
897     90003
898     06511
899     07508
900     61201
901     62702
902     95307
903     18974
904     32218
905     94597
906     84111
907     94132
908     40511
909     97211
910     44312
911     98333
912     95370
913     84010
914     29732
915     43224
916     61603
917     77012
918     19335
919     32225
920     31705
921     75211
922     65203
923     49505
924     15221
925     62234
926     85737
927     29115
928     48312
929     46360
930     60056
931     45069
932     24592
933     47201
934     46218
935     33137
936     52803
937     44113
938     36695
939     44105
940     22042
941     28012
942     93292
943     27616
944     68134
945     30034
946     71203
947     71103
948     77346
949     37854
950     16101
951     33327
952     75126
953     33607
954     87108
955     20001
956     63135
957     03301
958     70541
959     32209
960     77083
961     94531
962     75901
963     38117
964     11427
965     98902
966     93035
967     68508
968     60636
969     76123
970     29483
971     48843
972     75150
973     77401
974     75232
975     39206
976     33430
977     99338
978     62203
979     70049
980     34113
981     06515
982     23517
983     66616
984     47711
985     07305
986     66106
987     35601
988     88007
989     53719
990     54902
991     53186
992     35223
993     98686
994     60644
995     94587
996     60461
997     08232
998     91350
999     90063
1000    21214
1001    75241
1002    95206
1003    11231
1004    20723
1005    08724
1006    95401
1007    48225
1008    43608
1009    30213
1010    70126
1011    70578
1012    01850
1013    77035
1014    80110
1015    30354
1016    28262
1017    94803
1018    19140
1019    55720
1020    23663
1021    60901
1022    76112
1023    23606
1024    84119
1025    66502
1026    29803
1027    19067
1028    15644
1029    35215
1030    21251
1031    43608
1032    28501
1033    36604
1034    11575
1035    90023
1036    19143
1037    63116
1038    63146
1039    30013
1040    17013
1041    30315
1042    37213
1043    07103
1044    36064
1045    92105
1046    06114
1047    99508
1048    10460
1049    80909
1050    48532
1051    07090
1052    18049
1053    20032
1054    60085
1055    60624
1056    20032
1057    43227
1058    97220
1059    32211
1060    60609
1061    80129
1062    22193
1063    33545
1064    30213
1065    30087
1066    72523
1067    60534
1068    77048
1069    01902
1070    53215
1071    32209
1072    80010
1073    71857
1074    39169
1075    32227
1076    35031
1077    32746
1078    66208
1079    36107
1080    80015
1081    87144
1082    64128
1083    21216
1084    55443
1085    77346
1086    38107
1087    30058
1088    89501
1089    38107
1090    36609
1091    71118
1092    66085
1093    27704
1094    63138
1095    35401
1096    97402
1097    94002
1098    19807
1099    64117
1100    47374
1101    40815
1102    12093
1103    19121
1104    43209
1105    98198
1106    75227
1107    49449
1108    23701
1109    21221
1110    30106
1111    93103
1112    29527
1113    40216
1114    28105
1115    34474
1116    48228
1117    03102
1118    06607
1119    30039
1120    37214
1121    49017
1122    23231
1123    23502
1124    38012
1125    97220
1126    99501
1127    72209
1128    57325
1129    75010
1130    21225
1131    19141
1132    28215
1133    31513
1134    91767
1135    91401
1136    35801
1137    98204
1138    33426
1139    89032
1140    38116
1141    60619
1142    95020
1143    50310
1144    02903
1145    10468
1146    52748
1147    94112
1148    28205
1149    49506
1150    19901
1151    80205
1152    62025
1153    32209
1154    36104
1155    33413
1156    37013
1157    08332
1158    21040
1159    52501
1160    98908
1161    25526
1162    44137
1163    66224
1164    38109
1165    45506
1166    59801
1167    75227
1168    97212
1169    45434
1170    75071
1171    46062
1172    30284
1173    77517
1174    30236
1175    64128
1176    61021
1177    93551
1178    48836
1179    38485
1180    57273
1181    87108
1182    30331
1183    34480
1184    49201
1185    64138
1186    12078
1187    42701
1188    39744
1189    20653
1190    23701
1191    59804
1192    22301
1193    93955
1194    40509
1195    35215
1196    63630
1197    30720
1198    98409
1199    44720
1200    33073
1201    33076
1202    37208
1203    10459
1204    55109
1205    20745
1206    90026
1207    19136
1208    48128
1209    36606
1210    42025
1211    76651
1212    70113
1213    05602
1214    85650
1215    50436
1216    98146
1217    98270
1218    70131
1219    93535
1220    48458
1221    75216
1222    77502
1223    27262
1224    61820
1225    87410
1226    23464
1227    45801
1228    95125
1229    80205
1230    38305
1231    34715
1232    96021
1233    31061
1234    30349
1235    48912
1236    13492
1237    43613
1238    27284
1239    28202
1240    15742
1241    64086
1242    91352
1243    40517
1244    61938
1245    99030
1246    43207
1247    72114
1248    92411
1249    30122
1250    12534
1251    31601
1252    84660
1253    53216
1254    29506
1255    60617
1256    74126
1257    68112
1258    36744
1259    75956
1260    70611
1261    97230
1262    74106
1263    92405
1264    15235
1265    93930
1266    36107
1267    55109
1268    70807
1269    29803
1270    60564
1271    43357
1272    32328
1273    35010
1274    47710
1275    19952
1276    32217
1277    89512
1278    63103
1279    84010
1280    55117
1281    48611
1282    80513
1283    81501
1284    84047
1285    94134
1286    30331
1287    43211
1288    36610
1289    76112
1290    60644
1291    37080
1292    29689
1293    45205
1294    39201
1295    17401
1296    52404
1297    79830
1298    48208
1299    74126
1300    33157
1301    43228
1302    65608
1303    93230
1304    60651
1305    02121
1306    67010
1307    29605
1308    83301
1309    32401
1310    20705
1311    81001
1312    75233
1313    54409
1314    35215
1315    45042
1316    75801
1317    19013
1318    34429
1319    85303
1320    49444
1321    19130
1322    46226
1323    46254
1324    71701
1325    19901
1326    67213
1327    33147
1328    72579
1329    31768
1330    78218
1331    78244
1332    57032
1333    28689
1334    70501
1335    97132
1336    30901
1337    77469
1338    76073
1339    66109
1340    75201
1341    78227
1342    06112
1343    68023
1344    28734
1345    34139
1346    48507
1347    32244
1348    76706
1349    32244
1350    85284
1351    30012
1352    44127
1353    20602
1354    98506
1355    89101
1356    78155
1357    63130
1358    95341
1359    72201
1360    21701
1361    55113
1362    29927
1363    36602
1364    34475
1365    53213
1366    49509
1367    04901
1368    15201
1369    97217
1370    33055
1371    98271
1372    30315
1373    38116
1374    30213
1375    28001
1376    40291
1377    03102
1378    50313
1379    84123
1380    32746
1381    33147
1382    23606
1383    21701
1384    63736
1385    97060
1386    53202
1387    94804
1388    98204
1389    84601
1390    46319
1391    48224
1392    43232
1393    27858
1394    07105
1395    30349
1396    33167
1397    71282
1398    64131
1399    51534
1400    44124
1401    28144
1402    97701
1403    50313
1404    85339
1405    96822
1406    62901
1407    19141
1408    17602
1409    88201
1410    70806
1411    06511
1412    38362
1413    93706
1414    80122
1415    34787
1416    15211
1417    30087
1418    50511
1419    91710
1420    89431
1421    78758
1422    32818
1423    03269
1424    04039
1425    60659
1426    27105
1427    38666

In [5]:
new_cols = ['Race_Asian', 'Race_Black_African', 'Race_Hawaiian_Pacific',
    'Race_Hispanic_Or_Latino', 'Race_Native_Alaskan', 'Race_White_Caucasian',
    'Race_Two_Or_More_Races', 'Race_Some_Other_Race',
    
    'Sex_And_Age_Male_Under_5_Years', 'Sex_And_Age_Female_Under_5_Years',
    'Sex_And_Age_Male_5_To_9_Years', 'Sex_And_Age_Female_5_To_9_Years',
    'Sex_And_Age_Male_10_To_14_Years', 'Sex_And_Age_Female_10_To_14_Years',
    'Sex_And_Age_Male_15_To_19_Years', 'Sex_And_Age_Female_15_To_19_Years',
    'Sex_And_Age_Male_20_To_24_Years', 'Sex_And_Age_Female_20_To_24_Years',
    'Sex_And_Age_Male_25_To_29_Years', 'Sex_And_Age_Female_25_To_29_Years',
    'Sex_And_Age_Male_30_To_34_Years', 'Sex_And_Age_Female_30_To_34_Years',
    'Sex_And_Age_Male_35_To_39_Years', 'Sex_And_Age_Female_35_To_39_Years',
    'Sex_And_Age_Male_40_To_44_Years', 'Sex_And_Age_Female_40_To_44_Years',
    'Sex_And_Age_Male_45_To_49_Years', 'Sex_And_Age_Female_45_To_49_Years',
    'Sex_And_Age_Male_50_To_54_Years', 'Sex_And_Age_Female_50_To_54_Years',
    'Sex_And_Age_Male_55_To_59_Years', 'Sex_And_Age_Female_55_To_59_Years',
    'Sex_And_Age_Male_60_To_64_Years', 'Sex_And_Age_Female_60_To_64_Years',
    'Sex_And_Age_Male_65_To_69_Years', 'Sex_And_Age_Female_65_To_69_Years',
    'Sex_And_Age_Male_70_To_74_Years', 'Sex_And_Age_Female_70_To_74_Years',
    'Sex_And_Age_Male_75_To_79_Years', 'Sex_And_Age_Female_75_To_79_Years',
    'Sex_And_Age_Male_80_To_84_Years', 'Sex_And_Age_Female_80_To_84_Years',
    'Sex_And_Age_Male_85_Years_and_Over', 'Sex_And_Age_Female_85_Years_and_Over',
    
    'Family_Type_Married_Couple_Number_Of_Families', 'Family_Type_Married_Couple_Family_Size',
    'Family_Type_Single_Male_Father_Number_Of_Families', 'Family_Type_Single_Male_Father_Family_Size',
    'Family_Type_Single_Female_Mother_Number_Of_Families', 'Family_Type_Single_Female_Mother_Family_Size',
           
    'Household_Type_Married_Couple_Number_Of_Households', 'Household_Type_Married_Couple_Household_Size',
    'Household_Type_Single_Male_Father_Number_Of_Households', 'Household_Type_Single_Male_Father_Household_Size',
    'Household_Type_Single_Female_Mother_Number_Of_Households', 'Household_Type_Single_Female_Mother_Household_Size',
    'Household_Type_Non_Family_Number_Of_Households', 'Household_Type_Non_Family_Household_Size',
           
    'Household_Size_1_Person_Households_Family_Households', 'Household_Size_1_Person_Households_Non_Family_Households',
    'Household_Size_2_Person_Households_Family_Households', 'Household_Size_2_Person_Households_Non_Family_Households',
    'Household_Size_3_Person_Households_Family_Households', 'Household_Size_3_Person_Households_Non_Family_Households',
    'Household_Size_4_Person_Households_Family_Households', 'Household_Size_4_Person_Households_Non_Family_Households',
    'Household_Size_5_Person_Households_Family_Households', 'Household_Size_5_Person_Households_Non_Family_Households',
    'Household_Size_6_Person_Households_Family_Households', 'Household_Size_6_Person_Households_Non_Family_Households',
    'Household_Size_7_Person_Households_Family_Households', 'Household_Size_7_Person_Households_Non_Family_Households',
           
    'Fertility_By_Age_15_19_Years_Women_With_Births', 'Fertility_By_Age_15_19_Years_Births_1000_Women',
    'Fertility_By_Age_20_34_Years_Women_With_Births', 'Fertility_By_Age_20_34_Years_Births_1000_Women',
    'Fertility_By_Age_35_50_Years_Women_With_Births', 'Fertility_By_Age_35_50_Years_Births_1000_Women',
           
    'Fertility_By_Age_By_Marriage_15_19_Years_Married', 'Fertility_By_Age_By_Marriage_15_19_Years_Unmarried',
    'Fertility_By_Age_By_Marriage_20_34_Years_Married', 'Fertility_By_Age_By_Marriage_20_34_Years_Unmarried',
    'Fertility_By_Age_By_Marriage_35_50_Years_Married', 'Fertility_By_Age_By_Marriage_35_50_Years_Unmarried',
           
    'Fertility_By_Education_Less_Than_High_School_Women_With_Births', 'Fertility_By_Education_Less_Than_High_School_Births_Per_1000_Women',
    'Fertility_By_Education_High_School_Diploma_Women_With_Births', 'Fertility_By_Education_High_School_Diploma_Births_Per_1000_Women',
    'Fertility_By_Education_College_Or_Associates_Degree_Women_With_Births', 'Fertility_By_Education_College_Or_Associates_Degree_Births_Per_1000_Women',
    'Fertility_By_Education_Bachelors_Degree_Women_With_Births', 'Fertility_By_Education_Bachelors_Degree_Births_Per_1000_Women',
    'Fertility_By_Education_Graduate_Degree_Women_With_Births', 'Fertility_By_Education_Graduates_Degree_Births_Per_1000_Women',
           
    'Fertility_By_Education_By_Marriage_Less_Than_High_School_Married', 'Fertility_By_Education_By_Marriage_Less_Than_High_School_Unmarried',
    'Fertility_By_Education_By_Marriage_High_School_Diploma_Married', 'Fertility_By_Education_By_Marriage_High_School_Diploma_Unmarried',
    'Fertility_By_Education_By_Marriage_College_Or_Associates_Degree_Married', 'Fertility_By_Education_By_Marriage_College_Or_Associates_Degree_Unmarried',
    'Fertility_By_Education_By_Marriage_Bachelors_Degree_Married', 'Fertility_By_Education_By_Marriage_Bachelors_Degree_Unmarried',
    'Fertility_By_Education_By_Marriage_Graduate_Degree_Married', 'Fertility_By_Education_By_Marriage_Graduate_Degree_Unmarried',
           
    'Income_Overview_Characteristic_Per_Capita_Income_Number', 'Income_Overview_Characteristic_Per_Capita_Income_Measure',
    'Income_Overview_Characteristic_Median_Family_Income_Number', 'Income_Overview_Characteristic_Median_Family_Income_Measure',
    'Income_Overview_Characteristic_Mean_Family_Income_Number', 'Income_Overview_Characteristic_Mean_Family_Income_Measure',
    'Income_Overview_Characteristic_Median_Household_Income_Number', 'Income_Overview_Characteristic_Median_Household_Income_Measure',
    'Income_Overview_Characteristic_Mean_Household_Income_Number', 'Income_Overview_Characteristic_Mean_Household_Income_Measure',
    'Income_Overview_Characteristic_Income_Deficit_Number', 'Income_Overview_Characteristic_Income_Deficit_Measure',
    'Income_Overview_Characteristic_Wage_Income_Gap_Number_Percentage', 'Income_Overview_Characteristic_Wage_Income_Gap_Measure_Percentage',
    'Income_Overview_Characteristic_Wage_Income_Gap_Number_USA_Dollars', 'Income_Overview_Characteristic_Wage_Income_Gap_Measure_USA_Dollars',
    'Income_Overview_Characteristic_Gini_Inequality_Index_Number', 'Income_Overview_Characteristic_Gini_Inequality_Index_Measure',
    
    'Earnings_By_Sex_Male_Number', 'Earnings_By_Sex_Male_Average_Earnings',
    'Earnings_By_Sex_Female_Number', 'Earnings_By_Sex_Female_Average_Earnings',
           
    'Earnings_By_Sex_By_Income_Male_2499_Or_Less', 'Earnings_By_Sex_By_Income_Female_2499_Or_Less',
    'Earnings_By_Sex_By_Income_Male_2500_4999', 'Earnings_By_Sex_By_Income_Female_2500_4999',
    'Earnings_By_Sex_By_Income_Male_5000_7499', 'Earnings_By_Sex_By_Income_Female_5000_7499',
    'Earnings_By_Sex_By_Income_Male_7500_9999', 'Earnings_By_Sex_By_Income_Female_7500_9999',
    'Earnings_By_Sex_By_Income_Male_10000_12499', 'Earnings_By_Sex_By_Income_Female_10000_12499',
    'Earnings_By_Sex_By_Income_Male_12500_14999', 'Earnings_By_Sex_By_Income_Female_12500_14999',
    'Earnings_By_Sex_By_Income_Male_15000_17499', 'Earnings_By_Sex_By_Income_Female_15000_17499',
    'Earnings_By_Sex_By_Income_Male_17500_19999', 'Earnings_By_Sex_By_Income_Female_17500_19999',
    'Earnings_By_Sex_By_Income_Male_20000_22499', 'Earnings_By_Sex_By_Income_Female_20000_22499',
    'Earnings_By_Sex_By_Income_Male_22500_24999', 'Earnings_By_Sex_By_Income_Female_22500_24999',
    'Earnings_By_Sex_By_Income_Male_25000_29999', 'Earnings_By_Sex_By_Income_Female_25000_29999',
    'Earnings_By_Sex_By_Income_Male_30000_34999', 'Earnings_By_Sex_By_Income_Female_30000_34999',
    'Earnings_By_Sex_By_Income_Male_35000_39999', 'Earnings_By_Sex_By_Income_Female_35000_39999',
    'Earnings_By_Sex_By_Income_Male_40000_44999', 'Earnings_By_Sex_By_Income_Female_40000_44999',
    'Earnings_By_Sex_By_Income_Male_45000_49999', 'Earnings_By_Sex_By_Income_Female_45000_49999',
    'Earnings_By_Sex_By_Income_Male_50000_54999', 'Earnings_By_Sex_By_Income_Female_50000_54999',
    'Earnings_By_Sex_By_Income_Male_55000_64999', 'Earnings_By_Sex_By_Income_Female_55000_64999',
    'Earnings_By_Sex_By_Income_Male_65000_74999', 'Earnings_By_Sex_By_Income_Female_65000_74999',
    'Earnings_By_Sex_By_Income_Male_75000_99999', 'Earnings_By_Sex_By_Income_Female_75000_99999',
    'Earnings_By_Sex_By_Income_Male_100000_+', 'Earnings_By_Sex_By_Income_Female_100000_+',
           
    'Earnings_By_Sex_By_Educational_Attainment_Male_Less_Than_High_School',
    'Earnings_By_Sex_By_Educational_Attainment_Female_Less_Than_High_School',
    'Earnings_By_Sex_By_Educational_Attainment_Male_High_School_Diploma',
    'Earnings_By_Sex_By_Educational_Attainment_Female_High_School_Diploma',
    'Earnings_By_Sex_By_Educational_Attainment_Male_College_Or_Associates_Degree',
    'Earnings_By_Sex_By_Educational_Attainment_Female_College_Or_Associates_Degree',
    'Earnings_By_Sex_By_Educational_Attainment_Male_Bachelors_Degree',
    'Earnings_By_Sex_By_Educational_Attainment_Female_Bachelors_Degree',
    'Earnings_By_Sex_By_Educational_Attainment_Male_Graduate_Degree',
    'Earnings_By_Sex_By_Educational_Attainment_Female_Graduate_Degree',
           
    'Family_Income_Brackets_Number_Families_Less_Than_10000',
    'Family_Income_Brackets_Percentage_Families_Less_Than_10000',
    'Family_Income_Brackets_Number_Families_10000_14999',
    'Family_Income_Brackets_Percentage_Families_10000_14999',
    'Family_Income_Brackets_Number_Families_15000_24999',
    'Family_Income_Brackets_Percentage_Families_15000_24999',
    'Family_Income_Brackets_Number_Families_25000_34999',
    'Family_Income_Brackets_Percentage_Families_25000_34999',
    'Family_Income_Brackets_Number_Families_35000_44999',
    'Family_Income_Brackets_Percentage_Families_35000_44999',
    'Family_Income_Brackets_Number_Families_50000_74999',
    'Family_Income_Brackets_Percentage_Families_50000_74999',
    'Family_Income_Brackets_Number_Families_75000_99999',
    'Family_Income_Brackets_Percentage_Families_75000_99999',
    'Family_Income_Brackets_Number_Families_100000_149999',
    'Family_Income_Brackets_Percentage_Families_100000_149999',
    'Family_Income_Brackets_Number_Families_150000_199999',
    'Family_Income_Brackets_Percentage_Families_150000_199999',
    'Family_Income_Brackets_Number_Families_200000_+',
    'Family_Income_Brackets_Percentage_Families_200000_+',
           
    'Family_Income_By_Family_Size_Number_Families_2_Person_Families',
    'Family_Income_By_Family_Size_Median_Income_2_Person_Families',
    'Family_Income_By_Family_Size_Number_Families_3_Person_Families',
    'Family_Income_By_Family_Size_Median_Income_3_Person_Families',
    'Family_Income_By_Family_Size_Number_Families_4_Person_Families',
    'Family_Income_By_Family_Size_Median_Income_4_Person_Families',
    'Family_Income_By_Family_Size_Number_Families_5_Person_Families',
    'Family_Income_By_Family_Size_Median_Income_5_Person_Families',
    'Family_Income_By_Family_Size_Number_Families_6_Person_Families',
    'Family_Income_By_Family_Size_Median_Income_6_Person_Families',
    'Family_Income_By_Family_Size_Number_Families_7_+_Person_Families',
    'Family_Income_By_Family_Size_Median_Income_7_+_Person_Families',
           
    'Family_Income_By_Number_Of_Earners_No_Earners_Number',
    'Family_Income_By_Number_Of_Earners_No_Earners_Median_Income',
    'Family_Income_By_Number_Of_Earners_1_Earners_Number',
    'Family_Income_By_Number_Of_Earners_1_Earners_Median_Income',
    'Family_Income_By_Number_Of_Earners_2_Earners_Number',
    'Family_Income_By_Number_Of_Earners_2_Earners_Median_Income',
    'Family_Income_By_Number_Of_Earners_3_+_Earners_Number',
    'Family_Income_By_Number_Of_Earners_3_+_Earners_Median_Income',
           
    'Household_Income_Brackets_Number_Households_Less_Than_10000',
    'Household_Income_Brackets_Percentage_Households_Less_Than_10000',
    'Household_Income_Brackets_Number_Households_10000_14999',
    'Household_Income_Brackets_Percentage_Households_10000_14999',
    'Household_Income_Brackets_Number_Households_15000_24999',
    'Household_Income_Brackets_Percentage_Households_15000_24999',
    'Household_Income_Brackets_Number_Households_25000_34999',
    'Household_Income_Brackets_Percentage_Households_25000_34999',
    'Household_Income_Brackets_Number_Households_35000_49999',
    'Household_Income_Brackets_Percentage_Households_35000_49999',
    'Household_Income_Brackets_Number_Households_50000_74999',
    'Household_Income_Brackets_Percentage_Households_50000_74999',
    'Household_Income_Brackets_Number_Households_75000_99999',
    'Household_Income_Brackets_Percentage_Households_75000_99999',
    'Household_Income_Brackets_Number_Households_100000_149999',
    'Household_Income_Brackets_Percentage_Households_100000_149999',
    'Household_Income_Brackets_Number_Households_150000_199999',
    'Household_Income_Brackets_Percentage_Households_150000_199999',
    'Household_Income_Brackets_Number_Households_200000_+',
    'Household_Income_Brackets_Percentage_Households_200000_+',
           
    'Household_Income_By_Householder_Age_Number_Households_15_24_Years',
    'Household_Income_By_Householder_Median_Income_Households_15_24_Years',
    'Household_Income_By_Householder_Age_Number_Households_25_44_Years',
    'Household_Income_By_Householder_Median_Income_Households_25_44_Years',
    'Household_Income_By_Householder_Age_Number_Households_45_64_Years',
    'Household_Income_By_Householder_Median_Income_Households_45_64_Years',
    'Household_Income_By_Householder_Age_Number_Households_65_+_Years',
    'Household_Income_By_Householder_Median_Income_Households_65_+_Years',
           
    'Income_Below_Poverty_By_Sex_Male_Under_5_Years',
    'Income_Below_Poverty_By_Sex_Female_Under_5_Years',
    'Income_Below_Poverty_By_Sex_Male_5_Years',
    'Income_Below_Poverty_By_Sex_Female_5_Years',
    'Income_Below_Poverty_By_Sex_Male_6_11_Years',
    'Income_Below_Poverty_By_Sex_Female_6_11_Years',
    'Income_Below_Poverty_By_Sex_Male_12_14_Years',
    'Income_Below_Poverty_By_Sex_Female_12_14_Years',
    'Income_Below_Poverty_By_Sex_Male_15_Years',
    'Income_Below_Poverty_By_Sex_Female_15_Years',
    'Income_Below_Poverty_By_Sex_Male_16_17_Years',
    'Income_Below_Poverty_By_Sex_Female_16_17_Years',
    'Income_Below_Poverty_By_Sex_Male_18_24_Years',
    'Income_Below_Poverty_By_Sex_Female_18_24_Years',
    'Income_Below_Poverty_By_Sex_Male_25_34_Years',
    'Income_Below_Poverty_By_Sex_Female_25_34_Years',
    'Income_Below_Poverty_By_Sex_Male_35_44_Years',
    'Income_Below_Poverty_By_Sex_Female_35_44_Years',
    'Income_Below_Poverty_By_Sex_Male_45_54_Years',
    'Income_Below_Poverty_By_Sex_Female_45_54_Years',
    'Income_Below_Poverty_By_Sex_Male_55_64_Years',
    'Income_Below_Poverty_By_Sex_Female_55_64_Years',
    'Income_Below_Poverty_By_Sex_Male_65_74_Years',
    'Income_Below_Poverty_By_Sex_Female_65_74_Years',
    'Income_Below_Poverty_By_Sex_Male_75_+_Years',
    'Income_Below_Poverty_By_Sex_Female_75_+_Years',
           
    'Income_Above_Poverty_By_Sex_&_Age_Male_Under_5_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_Under_5_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_5_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_5_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_6_11_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_6_11_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_12_14_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_12_14_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_15_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_15_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_16_17_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_16_17_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_18_24_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_18_24_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_25_34_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_25_34_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_35_44_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_35_44_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_45_54_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_45_54_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_55_64_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_55_64_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_65_74_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_65_74_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Male_75_+_Years',
    'Income_Above_Poverty_By_Sex_&_Age_Female_75_+_Years',
           
    'Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_No_Children',
    'Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_No_Children',
    'Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_1_Or_2_Children',
    'Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_1_Or_2_Children',
    'Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_3_Or_4_Children',
    'Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_3_Or_4_Children',
    'Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_5_+_Children',
    'Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_5_+_Children',
           
    'Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_No_Children',
    'Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_No_Children',
    'Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_1_Or_2_Children',
    'Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_1_Or_2_Children',
    'Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_3_Or_4_Children',
    'Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_3_Or_4_Children',
    'Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_5_+_Children',
    'Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_5_+_Children',
           
    'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_No_Children_Married_Couple_Families',
    'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_No_Children_Single_Parent_Households',
    'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_1_Or_2_Children_Married_Couple_Families',
    'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_1_Or_2_Children_Single_Parent_Households',
    'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_3_Or_4_Children_Married_Couple_Families',
    'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_3_Or_4_Children_Single_Parent_Households',
    'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_5_+_Children_Married_Couple_Families',
    'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_5_+_Children_Single_Parent_Households',
           
    'Employment_By_Class_Of_Employer_Private_Company_Employees_Number_Of_Employees',
    'Employment_By_Class_Of_Employer_Private_Company_Employees_Percentage_Of_Employees',
    'Employment_By_Class_Of_Employer_Self_Employed_Incorporated_Number_Of_Employees',
    'Employment_By_Class_Of_Employer_Self_Employed_Incorporated_Percentage_Of_Employees',
    'Employment_By_Class_Of_Employer_Self_Employed_Not_Incorporated_Number_Of_Employees',
    'Employment_By_Class_Of_Employer_Self_Employed_Not_Incorporated_Percentage_Of_Employees',
    'Employment_By_Class_Of_Employer_Non_For_Profit_Organizations_Number_Of_Employees',
    'Employment_By_Class_Of_Employer_Non_For_Profit_Organizations_Percentage_Of_Employees',
    'Employment_By_Class_Of_Employer_Local_Government_Employees_Number_Of_Employees',
    'Employment_By_Class_Of_Employer_Local_Government_Employees_Percentage_Of_Employees',
    'Employment_By_Class_Of_Employer_State_Government_Employees_Number_Of_Employees',
    'Employment_By_Class_Of_Employer_State_Government_Employees_Percentage_Of_Employees',
    'Employment_By_Class_Of_Employer_Federal_Government_Employees_Number_Of_Employees',
    'Employment_By_Class_Of_Employer_Federal_Government_Employees_Percentage_Of_Employees',
           
    'Employment_Status_By_Age_16_19_Years_In_Labor_Force',
    'Employment_Status_By_Age_16_19_Years_Unemployed',
    'Employment_Status_By_Age_20_24_Years_In_Labor_Force',
    'Employment_Status_By_Age_20_24_Years_Unemployed',
    'Employment_Status_By_Age_25_29_Years_In_Labor_Force',
    'Employment_Status_By_Age_25_29_Years_Unemployed',
    'Employment_Status_By_Age_30_34_Years_In_Labor_Force',
    'Employment_Status_By_Age_30_34_Years_Unemployed',
    'Employment_Status_By_Age_35_44_Years_In_Labor_Force',
    'Employment_Status_By_Age_35_44_Years_Unemployed',
    'Employment_Status_By_Age_45_54_Years_In_Labor_Force',
    'Employment_Status_By_Age_45_54_Years_Unemployed',
    'Employment_Status_By_Age_55_59_Years_In_Labor_Force',
    'Employment_Status_By_Age_55_59_Years_Unemployed',
    'Employment_Status_By_Age_60_64_Years_In_Labor_Force',
    'Employment_Status_By_Age_60_64_Years_Unemployed',
    'Employment_Status_By_Age_65_74_Years_In_Labor_Force',
    'Employment_Status_By_Age_65_74_Years_Unemployed',
    'Employment_Status_By_Age_75_+_Years_In_Labor_Force',
    'Employment_Status_By_Age_75_+_Years_Unemployed',
           
    'Employment_Status_By_Educational_Attainment_Less_Than_High_School_In_Labor_Force',
    'Employment_Status_By_Educational_Attainment_Less_Than_High_School_Unemployed',
    'Employment_Status_By_Educational_Attainment_High_School_Diploma_In_Labor_Force',
    'Employment_Status_By_Educational_Attainment_High_School_Diploma_Unemployed',
    'Employment_Status_By_Educational_Attainment_College_Or_Associate_Degree_In_Labor_Force',
    'Employment_Status_By_Educational_Attainment_College_Or_Associate_Degree_Unemployed',
    'Employment_Status_By_Educational_Attainment_Bachelors_+_Degree_In_Labor_Force',
    'Employment_Status_By_Educational_Attainment_Bachelors_+_Degree_Unemployed',
           
    'Employment_Occupations_By_Sex_Male_Management',
    'Employment_Occupations_By_Sex_Female_Management',
    'Employment_Occupations_By_Sex_Male_Business_Financial',
    'Employment_Occupations_By_Sex_Female_Business_Financial',
    'Employment_Occupations_By_Sex_Male_Computers_Engineering_Science',
    'Employment_Occupations_By_Sex_Female_Computers_Engineering_Science',
    'Employment_Occupations_By_Sex_Male_Computers_Mathematics',
    'Employment_Occupations_By_Sex_Female_Computers_Mathematics',
    'Employment_Occupations_By_Sex_Male_Architecture_Engineering',
    'Employment_Occupations_By_Sex_Female_Architecture_Engineering',
    'Employment_Occupations_By_Sex_Male_Life_Physical_Social_Science',
    'Employment_Occupations_By_Sex_Female_Life_Physical_Social_Science',
    'Employment_Occupations_By_Sex_Male_Community_Social_Service',
    'Employment_Occupations_By_Sex_Female_Community_Social_Service',
    'Employment_Occupations_By_Sex_Male_Education_Arts_Media',
    'Employment_Occupations_By_Sex_Female_Education_Arts_Media',
    'Employment_Occupations_By_Sex_Male_Legal_Services_Support',
    'Employment_Occupations_By_Sex_Female_Legal_Services_Support',
    'Employment_Occupations_By_Sex_Male_Education_Instruction_Library',
    'Employment_Occupations_By_Sex_Female_Education_Instruction_Library',
    'Employment_Occupations_By_Sex_Male_Arts_Media_Entertainment',
    'Employment_Occupations_By_Sex_Female_Arts_Media_Entertainment',
    'Employment_Occupations_By_Sex_Male_Health_Diagnosing_Treating',
    'Employment_Occupations_By_Sex_Female_Health_Diagnosing_Treating',
    'Employment_Occupations_By_Sex_Male_Health_Technologists',
    'Employment_Occupations_By_Sex_Female_Health_Technologists',
           
    "Employment_Service_Occupations_By_Sex_Male_Healthcare_Support",
    "Employment_Service_Occupations_By_Sex_Female_Healthcare_Support",
    "Employment_Service_Occupations_By_Sex_Male_Security_Protection",
    "Employment_Service_Occupations_By_Sex_Female_Security_Protection",
    "Employment_Service_Occupations_By_Sex_Male_Firefighting_Prevention",
    "Employment_Service_Occupations_By_Sex_Female_Firefighting_Prevention",
    "Employment_Service_Occupations_By_Sex_Male_Law_Enforcement",
    "Employment_Service_Occupations_By_Sex_Female_Law_Enforcement",
    "Employment_Service_Occupations_By_Sex_Male_Food_Preparation_Serving",
    "Employment_Service_Occupations_By_Sex_Female_Food_Preparation_Serving",
    "Employment_Service_Occupations_By_Sex_Male_Cleaning_Maintenance",
    "Employment_Service_Occupations_By_Sex_Female_Cleaning_Maintenance",
    "Employment_Service_Occupations_By_Sex_Male_Personal_Care_Service",
    "Employment_Service_Occupations_By_Sex_Female_Personal_Care_Service",
           
    "Employment_Sales_Office_Occupations_By_Sex_Male_Sales_Related",
    "Employment_Sales_Office_Occupations_By_Sex_Female_Sales_Related",
    "Employment_Sales_Office_Occupations_By_Sex_Male_Office_Administration",
    "Employment_Sales_Office_Occupations_By_Sex_Female_Office_Administration",
           
    "Natural_Resources_Construction_Maintenance_Occupation_Male_Farming_Fishing_Forestry",
    "Natural_Resources_Construction_Maintenance_Occupation_Female_Farming_Fishing_Forestry",
    "Natural_Resources_Construction_Maintenance_Occupation_Male_Construction_Extraction",
    "Natural_Resources_Construction_Maintenance_Occupation_Female_Construction_Extraction",
    "Natural_Resources_Construction_Maintenance_Occupation_Male_Installation_Maintenance_Repair",
    "Natural_Resources_Construction_Maintenance_Occupation_Female_Installation_Maintenance_Repair",
           
    "Production_Transportation_Moving_Occupation_Male_Production",
    "Production_Transportation_Moving_Occupation_Female_Production",
    "Production_Transportation_Moving_Occupation_Male_Transportation",
    "Production_Transportation_Moving_Occupation_Female_Transportation",
    "Production_Transportation_Moving_Occupation_Male_Material_Moving",
    "Production_Transportation_Moving_Occupation_Female_Material_Moving",
        
    "Employment_Industries_Male_Agriculture_Fishing_Hunting",
    "Employment_Industries_Female_Agriculture_Fishing_Hunting",
    "Employment_Industries_Male_Mining_Quarrying_Extraction",
    "Employment_Industries_Female_Agriculture_Mining_Quarrying_Extraction",
    "Employment_Industries_Male_Construction",
    "Employment_Industries_Female_Construction",
    "Employment_Industries_Male_Manufacturing",
    "Employment_Industries_Female_Manufacturing",
    "Employment_Industries_Male_Wholesale_Trade",
    "Employment_Industries_Female_Wholesale_Trade",
    "Employment_Industries_Male_Retail_Trade",
    "Employment_Industries_Female_Retail_Trade",
    "Employment_Industries_Male_Transportation_Warehousing",
    "Employment_Industries_Female_Transportation_Warehousing",
    "Employment_Industries_Male_Utilities",
    "Employment_Industries_Female_Utilities",
    "Employment_Industries_Male_Information",
    "Employment_Industries_Female_Information",
    "Employment_Industries_Male_Finance_Insurance",
    "Employment_Industries_Female_Finance_Insurance",
    "Employment_Industries_Male_Real_Estate_Rental_Leasing",
    "Employment_Industries_Female_Real_Estate_Rental_Leasing",
    "Employment_Industries_Male_Professional_Scientific",
    "Employment_Industries_Female_Professional_Scientific",
    "Employment_Industries_Male_Enterprise_Management",
    "Employment_Industries_Female_Enterprise_Management",
    "Employment_Industries_Male_Administrative_Support",
    "Employment_Industries_Female_Administrative_Support",
    "Employment_Industries_Male_Educational_Services",
    "Employment_Industries_Female_Educational_Services",
    "Employment_Industries_Male_Health_Care_Social_Assistance",
    "Employment_Industries_Female_Health_Care_Social_Assistance",
    "Employment_Industries_Male_Arts_Entertainment_Recreation",
    "Employment_Industries_Female_Arts_Entertainment_Recreation",
    "Employment_Industries_Male_Accommodation_Food_Services",
    "Employment_Industries_Female_Accommodation_Food_Services",
    "Employment_Industries_Male_Public_Administration",
    "Employment_Industries_Female_Public_Administration",
           
    "School_Enrollment_Nursery_Pre_School_Number_Students",
    "School_Enrollment_Kindergarten_Number_Students",
    "School_Enrollment_Elementary_School_Number_Students",
    "School_Enrollment_Middle_School_Number_Students",
    "School_Enrollment_Highschool_School_Number_Students",
    "School_Enrollment_College_Undergraduate_Number_Students",
    "School_Enrollment_Graduate_Professional_Number_Students",
           
    'School_Enrollment_By_Age_By_Funding_3_4_Year_Public_School',
    'School_Enrollment_By_Age_By_Funding_3_4_Year_Private_School',
    'School_Enrollment_By_Age_By_Funding_5_9_Year_Public_School',
    'School_Enrollment_By_Age_By_Funding_5_9_Year_Private_School',
    'School_Enrollment_By_Age_By_Funding_10_14_Year_Public_School',
    'School_Enrollment_By_Age_By_Funding_10_14_Year_Private_School',
    'School_Enrollment_By_Age_By_Funding_15_17_Year_Public_School',
    'School_Enrollment_By_Age_By_Funding_15_17_Year_Private_School',
    'School_Enrollment_By_Age_By_Funding_18_19_Year_Public_School',
    'School_Enrollment_By_Age_By_Funding_18_19_Year_Private_School',
    'School_Enrollment_By_Age_By_Funding_20_24_Year_Public_School',
    'School_Enrollment_By_Age_By_Funding_20_24_Year_Private_School',
    'School_Enrollment_By_Age_By_Funding_25_34_Year_Public_School',
    'School_Enrollment_By_Age_By_Funding_25_34_Year_Private_School',
    'School_Enrollment_By_Age_By_Funding_35_+_Year_Public_School',
    'School_Enrollment_By_Age_By_Funding_35_+_Year_Private_School',
           
    'Educational_Attainment_By_Field_Of_Study_Computers_and_Mathematics_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Computers_and_Mathematics_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Bio_Nature_and_Agricultural_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Bio_Nature_and_Agricultural_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Physical_and_Health_Sciences_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Physical_and_Health_Sciences_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Psychology_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Psychology_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Social_Sciences_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Social_Sciences_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Engineering_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Engineering_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Multidisciplinary_Studies_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Multidisciplinary_Studies_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Science_and_Technology_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Science_and_Technology_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Business_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Business_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Education_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Education_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Literature_and_Languages_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Literature_and_Languages_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Liberal_Arts_and_History_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Liberal_Arts_and_History_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Visual_and_Performing_Arts_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Visual_and_Performing_Arts_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Communications_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Communications_Percentage',
    'Educational_Attainment_By_Field_Of_Study_Arts_and_Humanities_Graduates',
    'Educational_Attainment_By_Field_Of_Study_Arts_and_Humanities_Percentage',
           
    'Vehicle_Availability_By_Sex_Male_No_Vehicle',
    'Vehicle_Availability_By_Sex_Female_No_Vehicle',
    'Vehicle_Availability_By_Sex_Male_1_Vehicle',
    'Vehicle_Availability_By_Sex_Female_1_Vehicle',
    'Vehicle_Availability_By_Sex_Male_2_Vehicles',
    'Vehicle_Availability_By_Sex_Female_2_Vehicles',
    'Vehicle_Availability_By_Sex_Male_3_Vehicles',
    'Vehicle_Availability_By_Sex_Female_3_Vehicles',
    'Vehicle_Availability_By_Sex_Male_4_Vehicles',
    'Vehicle_Availability_By_Sex_Female_4_Vehicles',
    'Vehicle_Availability_By_Sex_Male_5_+_Vehicles',
    'Vehicle_Availability_By_Sex_Female_5_+_Vehicles',
           
    'Commute_Time_Less_Than_5_Minutes',
    'Commute_Time_5_9_Minutes',
    'Commute_Time_10_14_Minutes',
    'Commute_Time_15_19_Minutes',
    'Commute_Time_20_24_Minutes',
    'Commute_Time_25_29_Minutes',
    'Commute_Time_30_34_Minutes',
    'Commute_Time_35_39_Minutes',
    'Commute_Time_40_44_Minutes',
    'Commute_Time_45_59_Minutes',
    'Commute_Time_60_89_Minutes',
    'Commute_Time_90_+_Minutes',
           
    'Commute_Time_Less_Than_5_Minutes_Male',
    'Commute_Time_Less_Than_5_Minutes_Female',
    'Commute_Time_5_9_Minutes_Male',
    'Commute_Time_5_9_Minutes_Female',
    'Commute_Time_10_14_Minutes_Male',
    'Commute_Time_10_14_Minutes_Female',
    'Commute_Time_15_19_Minutes_Male',
    'Commute_Time_15_19_Minutes_Female',
    'Commute_Time_20_24_Minutes_Male',
    'Commute_Time_20_24_Minutes_Female',
    'Commute_Time_25_29_Minutes_Male',
    'Commute_Time_25_29_Minutes_Female',
    'Commute_Time_30_34_Minutes_Male',
    'Commute_Time_30_34_Minutes_Female',
    'Commute_Time_35_39_Minutes_Male',
    'Commute_Time_35_39_Minutes_Female',
    'Commute_Time_40_44_Minutes_Male',
    'Commute_Time_40_44_Minutes_Female',
    'Commute_Time_45_59_Minutes_Male',
    'Commute_Time_45_59_Minutes_Female',
    'Commute_Time_60_89_Minutes_Male',
    'Commute_Time_60_89_Minutes_Female',
    'Commute_Time_90_+_Minutes_Male',
    'Commute_Time_90_+_Minutes_Female',
           
    'Time_Of_Departure_To_Work_By_Sex_12am_4_59am_Male',
    'Time_Of_Departure_To_Work_By_Sex_12am_4_59am_Female',
    'Time_Of_Departure_To_Work_By_Sex_5am_5_29am_Male',
    'Time_Of_Departure_To_Work_By_Sex_5am_5_29am_Female',
    'Time_Of_Departure_To_Work_By_Sex_5_30am_5_59am_Male',
    'Time_Of_Departure_To_Work_By_Sex_5_30am_5_59am_Female',
    'Time_Of_Departure_To_Work_By_Sex_6am_6_29am_Male',
    'Time_Of_Departure_To_Work_By_Sex_6am_6_29am_Female',
    'Time_Of_Departure_To_Work_By_Sex_6_30am_6_59am_Male',
    'Time_Of_Departure_To_Work_By_Sex_6_30am_6_59am_Female',
    'Time_Of_Departure_To_Work_By_Sex_7am_7_29am_Male',
    'Time_Of_Departure_To_Work_By_Sex_7am_7_29am_Female',
    'Time_Of_Departure_To_Work_By_Sex_7_30am_7_59am_Male',
    'Time_Of_Departure_To_Work_By_Sex_7_30am_7_59am_Female',
    'Time_Of_Departure_To_Work_By_Sex_8am_8_29am_Male',
    'Time_Of_Departure_To_Work_By_Sex_8am_8_29am_Female',
    'Time_Of_Departure_To_Work_By_Sex_8_30am_8_59am_Male',
    'Time_Of_Departure_To_Work_By_Sex_8_30am_8_59am_Female',
    'Time_Of_Departure_To_Work_By_Sex_9am_9_29am_Male',
    'Time_Of_Departure_To_Work_By_Sex_9am_9_29am_Female',
    'Time_Of_Departure_To_Work_By_Sex_10am_10_59am_Male',
    'Time_Of_Departure_To_Work_By_Sex_10am_10_59am_Female',
    'Time_Of_Departure_To_Work_By_Sex_11am_11_59am_Male',
    'Time_Of_Departure_To_Work_By_Sex_11am_11_59am_Female',
    'Time_Of_Departure_To_Work_By_Sex_12pm_3_59pm_Male',
    'Time_Of_Departure_To_Work_By_Sex_12pm_3_59pm_Female',
    'Time_Of_Departure_To_Work_By_Sex_4pm_11_59pm_Male',
    'Time_Of_Departure_To_Work_By_Sex_4pm_11_59pm_Female',
           
    'Housing_Occupancy_Ownership_Owner_Housing_Units_Number',
    'Housing_Occupancy_Ownership_Renter_Occupied_Housing_Units_Number',
           
    'Occupancy_By_Household_1_Person_Household_Number',
    'Occupancy_By_Household_2_Person_Household_Number',
    'Occupancy_By_Household_3_Person_Household_Number',
    'Occupancy_By_Household_4_+_Person_Household_Number',
           
    'Occupancy_By_Ownership_By_Household_1_Person_Household_Number',
    'Occupancy_By_Ownership_By_Household_2_Person_Household_Number',
    'Occupancy_By_Ownership_By_Household_3_Person_Household_Number',
    'Occupancy_By_Ownership_By_Household_4_+_Person_Household_Number',
           
    'Occupancy_By_Educational_Attainment_Owner_Less_Than_High_School',
    'Occupancy_By_Educational_Attainment_Renter_Less_Than_High_School',
    'Occupancy_By_Educational_Attainment_Owner_High_School_Diploma',
    'Occupancy_By_Educational_Attainment_Renter_High_School_Diploma',
    'Occupancy_By_Educational_Attainment_Owner_College_Associate_Degree',
    'Occupancy_By_Educational_Attainment_Renter_College_Associate_Degree',
    'Occupancy_By_Educational_Attainment_Owner_Bachelors_Degree',
    'Occupancy_By_Educational_Attainment_Renter_Bachelors_Degree',
           
    'Occupancy_By_Age_Of_Householder_Under_35_Years',
    'Occupancy_By_Age_Of_Householder_35_44_Years',
    'Occupancy_By_Age_Of_Householder_45_54_Years',
    'Occupancy_By_Age_Of_Householder_55_64_Years',
    'Occupancy_By_Age_Of_Householder_65_74_Years',
    'Occupancy_By_Age_Of_Householder_75_84_Years',
    'Occupancy_By_Age_Of_Householder_85_+_Years',
           
    'Median_Income_Owner_Occupied_Number_Households',
    'Median_Income_Owner_Occupied_Median_Income',
    'Median_Income_Renter_Occupied_Number_Households',
    'Median_Income_Renter_Occupied_Median_Income',
           
    'Occupancy_Householder_Income_Less_Than_5000_Owner_Occupied',
    'Occupancy_Householder_Income_Less_Than_5000_Renter_Occupied',
    'Occupancy_Householder_Income_5000_9999_Owner_Occupied',
    'Occupancy_Householder_Income_5000_9999_Renter_Occupied',
    'Occupancy_Householder_Income_10000_14999_Owner_Occupied',
    'Occupancy_Householder_Income_10000_14999_Renter_Occupied',
    'Occupancy_Householder_Income_15000_19999_Owner_Occupied',
    'Occupancy_Householder_Income_15000_19999_Renter_Occupied',
    'Occupancy_Householder_Income_20000_24999_Owner_Occupied',
    'Occupancy_Householder_Income_25000_34999_Renter_Occupied',
    'Occupancy_Householder_Income_35000_49999_Owner_Occupied',
    'Occupancy_Householder_Income_35000_49999_Renter_Occupied',
    'Occupancy_Householder_Income_50000_74999_Owner_Occupied',
    'Occupancy_Householder_Income_50000_74999_Renter_Occupied',
    'Occupancy_Householder_Income_100000_149999_Owner_Occupied',
    'Occupancy_Householder_Income_100000_149999_Renter_Occupied',
    'Occupancy_Householder_Income_150000_+_Owner_Occupied',
    'Occupancy_Householder_Income_150000_+_Renter_Occupied',
           
    'Monthly_Housing_Cost_Tiers_Less_Than_300_Owner_Occupied',
    'Monthly_Housing_Cost_Tiers_Less_Than_300_Renter_Occupied',
    'Monthly_Housing_Cost_Tiers_300_499_Owner_Occupied',
    'Monthly_Housing_Cost_Tiers_300_499_Renter_Occupied',
    'Monthly_Housing_Cost_Tiers_500_799_Owner_Occupied',
    'Monthly_Housing_Cost_Tiers_500_799_Renter_Occupied',
    'Monthly_Housing_Cost_Tiers_800_999_Owner_Occupied',
    'Monthly_Housing_Cost_Tiers_800_999_Renter_Occupied',
    'Monthly_Housing_Cost_Tiers_1000_1499_Owner_Occupied',
    'Monthly_Housing_Cost_Tiers_1000_1499_Renter_Occupied',
    'Monthly_Housing_Cost_Tiers_1500_1999_Owner_Occupied',
    'Monthly_Housing_Cost_Tiers_1500_1999_Renter_Occupied',
    'Monthly_Housing_Cost_Tiers_2000_2499_Owner_Occupied',
    'Monthly_Housing_Cost_Tiers_2000_2499_Renter_Occupied',
    'Monthly_Housing_Cost_Tiers_2500_2999_Owner_Occupied',
    'Monthly_Housing_Cost_Tiers_2500_2999_Renter_Occupied',
    'Monthly_Housing_Cost_Tiers_3000_+_Owner_Occupied',
    'Monthly_Housing_Cost_Tiers_3000_+_Renter_Occupied',
           
    'Housing_Structures_Single_Unit_Detached',
    'Housing_Structures_Single_Unit_Attached',
    'Housing_Structures_2_Unit_Apartments',
    'Housing_Structures_3_4_Unit_Apartments',
    'Housing_Structures_5_9_Unit_Apartments',
    'Housing_Structures_10_+_Unit_Apartments',
    'Housing_Structures_Mobile_Home_Or_Other',
           
    'Housing_Structures_Single_Unit_Detached_Owner_Occupied',
    'Housing_Structures_Single_Unit_Detached_Renter_Occupied',
    'Housing_Structures_Single_Unit_Attached_Owner_Occupied',
    'Housing_Structures_Single_Unit_Attached_Renter_Occupied',
    'Housing_Structures_2_Unit_Apartments_Owner_Occupied',
    'Housing_Structures_2_Unit_Apartments_Renter_Occupied',
    'Housing_Structures_3_4_Unit_Apartments_Owner_Occupied',
    'Housing_Structures_3_4_Unit_Apartments_Renter_Occupied',
    'Housing_Structures_5_9_Unit_Apartments_Owner_Occupied',
    'Housing_Structures_5_9_Unit_Apartments_Renter_Occupied',
    'Housing_Structures_10_+_Unit_Apartments_Owner_Occupied',
    'Housing_Structures_10_+_Unit_Apartments_Renter_Occupied',
    'Housing_Structures_Mobile_Home_Or_Other_Owner_Occupied',
    'Housing_Structures_Mobile_Home_Or_Other_Renter_Occupied',
           
    'Housing_Structures_1_Room_Owner_Occupied',
    'Housing_Structures_1_Room_Renter_Occupied',
    'Housing_Structures_2_3_Room_Owner_Occupied',
    'Housing_Structures_2_3_Room_Renter_Occupied',
    'Housing_Structures_4_5_Room_Owner_Occupied',
    'Housing_Structures_4_5_Room_Renter_Occupied',
    'Housing_Structures_6_7_Room_Owner_Occupied',
    'Housing_Structures_6_7_Room_Renter_Occupied',
    'Housing_Structures_8_+_Room_Owner_Occupied',
    'Housing_Structures_8_+_Room_Renter_Occupied',
           
    'Home_Structure_Utility_Gas_Owner_Occupied',
    'Home_Structure_Utility_Gas_Renter_Occupied',
    'Home_Structure_Bottled_Tank_Or_LP_Gas_Owner_Occupied',
    'Home_Structure_Bottled_Tank_Or_LP_Gas_Renter_Occupied',
    'Home_Structure_Electricity_Owner_Occupied',
    'Home_Structure_Electricity_Renter_Occupied',
    'Home_Structure_Fuel_Oil_Or_Kerosene_Owner_Occupied',
    'Home_Structure_Fuel_Oil_Or_Kerosene_Renter_Occupied',
    'Home_Structure_Coal_Or_Coke_Owner_Occupied',
    'Home_Structure_Coal_Or_Coke_Renter_Occupied',
    'Home_Structure_All_Other_Fuels_Owner_Occupied',
    'Home_Structure_All_Other_Fuels_Renter_Occupied',
    'Home_Structure_No_Fuel_Used_Owner_Occupied',
    'Home_Structure_No_Fuel_Used_Renter_Occupied',
           
    'Household_Vehicle_Usage_No_Vehicle_Owner_Occupied',
    'Household_Vehicle_Usage_No_Vehicle_Renter_Occupied',
    'Household_Vehicle_Usage_1_Vehicle_Owner_Occupied',
    'Household_Vehicle_Usage_1_Vehicle_Renter_Occupied',
    'Household_Vehicle_Usage_2_Vehicle_Owner_Occupied',
    'Household_Vehicle_Usage_2_Vehicle_Renter_Occupied',
    'Household_Vehicle_Usage_3_Vehicle_Owner_Occupied',
    'Household_Vehicle_Usage_3_Vehicle_Renter_Occupied',
           
    'Real_Estate_And_Mortgage_Overview_Housing_Units_Without_Mortgage',
    'Real_Estate_And_Mortgage_Overview_Housing_Units_With_Mortgage',
    'Real_Estate_And_Mortgage_Overview_Median_Property_Value_Without_Mortgage',
    'Real_Estate_And_Mortgage_Overview_Median_Property_Value_With_Mortgage',
    'Real_Estate_And_Mortgage_Overview_Median_Household_Income_Without_Mortgage',
    'Real_Estate_And_Mortgage_Overview_Median_Household_Income_With_Mortgage',
    'Real_Estate_And_Mortgage_Overview_Monthly_Housing_Costs_Without_Mortgage',
    'Real_Estate_And_Mortgage_Overview_Monthly_Housing_Costs_With_Mortgage',
    'Real_Estate_And_Mortgage_Overview_Real_Estate_Taxes_Without_Mortgage',
    'Real_Estate_And_Mortgage_Overview_Real_Estate_Taxes_With_Mortgage',
           
    'Property_Value_By_Mortgage_Status_Without_Mortgage_Less_Than_50000',
    'Property_Value_By_Mortgage_Status_With_Mortgage_Less_Than_50000',
    'Property_Value_By_Mortgage_Status_Without_Mortgage_50000_99999',
    'Property_Value_By_Mortgage_Status_With_Mortgage_50000_99999',
    'Property_Value_By_Mortgage_Status_Without_Mortgage_100000_299999',
    'Property_Value_By_Mortgage_Status_With_Mortgage_100000_299999',
    'Property_Value_By_Mortgage_Status_Without_Mortgage_300000_499999',
    'Property_Value_By_Mortgage_Status_With_Mortgage_300000_499999',
    'Property_Value_By_Mortgage_Status_Without_Mortgage_500000_749999',
    'Property_Value_By_Mortgage_Status_With_Mortgage_500000_749999',
    'Property_Value_By_Mortgage_Status_Without_Mortgage_750000_999999',
    'Property_Value_By_Mortgage_Status_With_Mortgage_750000_999999',
    'Property_Value_By_Mortgage_Status_Without_Mortgage_1000000_+',
    'Property_Value_By_Mortgage_Status_With_Mortgage_1000000_+',
           
    'Household_Income_By_Mortgage_Status_Without_Mortgage_Less_Than_10000',
    'Household_Income_By_Mortgage_Status_With_Mortgage_Less_Than_10000',
    'Household_Income_By_Mortgage_Status_Without_Mortgage_10000_24999',
    'Household_Income_By_Mortgage_Status_With_Mortgage_10000_24999',
    'Household_Income_By_Mortgage_Status_Without_Mortgage_25000_34999',
    'Household_Income_By_Mortgage_Status_With_Mortgage_25000_34999',
    'Household_Income_By_Mortgage_Status_Without_Mortgage_35000_44999',
    'Household_Income_By_Mortgage_Status_With_Mortgage_35000_44999',
    'Household_Income_By_Mortgage_Status_Without_Mortgage_50000_74999',
    'Household_Income_By_Mortgage_Status_With_Mortgage_50000_74999',
    'Household_Income_By_Mortgage_Status_Without_Mortgage_75000_99999',
    'Household_Income_By_Mortgage_Status_With_Mortgage_75000_99999',
    'Household_Income_By_Mortgage_Status_Without_Mortgage_100000_149999',
    'Household_Income_By_Mortgage_Status_With_Mortgage_100000_149999',
    'Household_Income_By_Mortgage_Status_Without_Mortgage_150000_+',
    'Household_Income_By_Mortgage_Status_With_Mortgage_150000_+',
           
    'Property_Value_To_Household_Income_Ratio_Without_Mortgage_Less_Than_20x',
    'Property_Value_To_Household_Income_Ratio_With_Mortgage_Less_Than_20x',
    'Property_Value_To_Household_Income_Ratio_Without_Mortgage_20x_29x',
    'Property_Value_To_Household_Income_Ratio_With_Mortgage_20x_29x',
    'Property_Value_To_Household_Income_Ratio_Without_Mortgage_30x_39x',
    'Property_Value_To_Household_Income_Ratio_With_Mortgage_30x_39x',
    'Property_Value_To_Household_Income_Ratio_Without_Mortgage_40x_+',
    'Property_Value_To_Household_Income_Ratio_With_Mortgage_40x_+',
           
    'Real_Estate_Taxes_By_Mortgage_Status_Without_Mortgage_Less_Than_800',
    'Real_Estate_Taxes_By_Mortgage_Status_With_Mortgage_Less_Than_800',
    'Real_Estate_Taxes_By_Mortgage_Status_Without_Mortgage_800_1499',
    'Real_Estate_Taxes_By_Mortgage_Status_With_Mortgage_800_1499',
           
    'Health_Insurance_Coverage_By_Age_With_Coverage_Under_6_Year',
    'Health_Insurance_Coverage_By_Age_Without_Coverage_Under_6_Year',
    'Health_Insurance_Coverage_By_Age_With_Coverage_6_18_Year',
    'Health_Insurance_Coverage_By_Age_Without_Coverage_6_18_Year',
    'Health_Insurance_Coverage_By_Age_With_Coverage_19_25_Year',
    'Health_Insurance_Coverage_By_Age_Without_Coverage_19_25_Year',
    'Health_Insurance_Coverage_By_Age_With_Coverage_26_34_Year',
    'Health_Insurance_Coverage_By_Age_Without_Coverage_26_34_Year',
    'Health_Insurance_Coverage_By_Age_With_Coverage_35_44_Year',
    'Health_Insurance_Coverage_By_Age_Without_Coverage_35_44_Year',
    'Health_Insurance_Coverage_By_Age_With_Coverage_45_54_Year',
    'Health_Insurance_Coverage_By_Age_Without_Coverage_45_54_Year',
    'Health_Insurance_Coverage_By_Age_With_Coverage_55_64_Year',
    'Health_Insurance_Coverage_By_Age_Without_Coverage_55_64_Year',
    'Health_Insurance_Coverage_By_Age_With_Coverage_65_74_Year',
    'Health_Insurance_Coverage_By_Age_Without_Coverage_65_74_Year',
    'Health_Insurance_Coverage_By_Age_With_Coverage_75_+_Year',
    'Health_Insurance_Coverage_By_Age_Without_Coverage_75_+_Year',
           
    'Health_Insurance_Coverage_By_Citizenship_With_Coverage_Native_Born',
    'Health_Insurance_Coverage_By_Citizenship_Without_Coverage_Native_Born',
    'Health_Insurance_Coverage_By_Citizenship_With_Coverage_Foreign_Born_Citizen',
    'Health_Insurance_Coverage_By_Citizenship_Without_Coverage_Foreign_Born_Citizen',
    'Health_Insurance_Coverage_By_Citizenship_With_Coverage_Foreign_Born_Not_A_Citizen',
    'Health_Insurance_Coverage_By_Citizenship_Without_Coverage_Foreign_Born_Not_A_Citizen',
           
    'Health_Insurance_Coverage_By_Household_Income_With_Coverage_Under_25000',
    'Health_Insurance_Coverage_By_Household_Income_Without_Coverage_Under_25000',
    'Health_Insurance_Coverage_By_Household_Income_With_Coverage_25000_49999',
    'Health_Insurance_Coverage_By_Household_Income_Without_Coverage_25000_49999',
    'Health_Insurance_Coverage_By_Household_Income_With_Coverage_50000_74999',
    'Health_Insurance_Coverage_By_Household_Income_Without_Coverage_50000_74999',
    'Health_Insurance_Coverage_By_Household_Income_With_Coverage_75000_99999',
    'Health_Insurance_Coverage_By_Household_Income_Without_Coverage_75000_99999',
    'Health_Insurance_Coverage_By_Household_Income_With_Coverage_100000_+',
    'Health_Insurance_Coverage_By_Household_Income_Without_Coverage_100000_+',
           
    'Public_VS_Private_Health_Insurance_Public_Insurance_Under_6_Years',
    'Public_VS_Private_Health_Insurance_Private_Insurance_Under_6',
    'Public_VS_Private_Health_Insurance_Public_Insurance_6_18_Years',
    'Public_VS_Private_Health_Insurance_Private_Insurance_6_18',
    'Public_VS_Private_Health_Insurance_Public_Insurance_19_25_Years',
    'Public_VS_Private_Health_Insurance_Private_Insurance_19_25_Years',
    'Public_VS_Private_Health_Insurance_Public_Insurance_25_34_Years',
    'Public_VS_Private_Health_Insurance_Private_Insurance_25_34_Years',
    'Public_VS_Private_Health_Insurance_Public_Insurance_35_44_Years',
    'Public_VS_Private_Health_Insurance_Private_Insurance_35_44_Years',
    'Public_VS_Private_Health_Insurance_Public_Insurance_45_54_Years',
    'Public_VS_Private_Health_Insurance_Private_Insurance_45_54_Years',
    'Public_VS_Private_Health_Insurance_Public_Insurance_55_64_Years',
    'Public_VS_Private_Health_Insurance_Private_Insurance_55_64_Years',
    'Public_VS_Private_Health_Insurance_Public_Insurance_65_74_Years',
    'Public_VS_Private_Health_Insurance_Private_Insurance_65_74_Years',
    'Public_VS_Private_Health_Insurance_Public_Insurance_75_Years',
    'Public_VS_Private_Health_Insurance_Private_Insurance_75_Years',
           
    'Disability_Status_By_Sex_By_Age_Male_Under_5_Years',
    'Disability_Status_By_Sex_By_Age_Female_Under_5_Years',
    'Disability_Status_By_Sex_By_Age_Male_5_17_Years',
    'Disability_Status_By_Sex_By_Age_Female_5_17_Years',
    'Disability_Status_By_Sex_By_Age_Male_18_34_Years',
    'Disability_Status_By_Sex_By_Age_Female_18_34_Years',
    'Disability_Status_By_Sex_By_Age_Male_35_64_Years',
    'Disability_Status_By_Sex_By_Age_Female_35_64_Years',
    'Disability_Status_By_Sex_By_Age_Male_65_74_Years',
    'Disability_Status_By_Sex_By_Age_Female_65_74_Years',
    'Disability_Status_By_Sex_By_Age_Male_75_+_Years',
    'Disability_Status_By_Sex_By_Age_Female_75_+_Years',
           
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_Under_5_Years',
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_Under_5_Years',
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_5_17_Years',
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_5_17_Years',
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_18_34_Years',
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_18_34_Years',
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_35_64_Years',
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_35_64_Years',
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_65_74_Years',
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_65_74_Years',
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_75_+_Years',
    'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_75_+_Years',
           
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_Under_5_Years',
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_Under_5_Years',
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_5_17_Years',
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_5_17_Years',
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_18_34_Years',
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_18_34_Years',
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_35_64_Years',
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_35_64_Years',
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_65_74_Years',
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_65_74_Years',
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_75_+_Years',
    'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_75_+_Years',
           
    'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Male_5_17_Years',
    'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Female_5_17_Years',
    'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Male_18_34_Years',
    'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Female_18_34_Years',
    'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Male_35_64_Years',
    'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Female_35_64_Years',
    'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Male_65_74_Years',
    'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Female_65_74_Years',
    'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Male_75_+_Years',
    'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Female_75_+_Years',
           
    'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Male_5_17_Years',
    'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Female_5_17_Years',
    'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Male_18_34_Years',
    'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Female_18_34_Years',
    'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Male_35_64_Years',
    'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Female_35_64_Years',
    'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Male_65_74_Years',
    'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Female_65_74_Years',
    'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Male_75_+_Years',
    'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Female_75_+_Years',
           
    'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Male_5_17_Years',
    'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Female_5_17_Years',
    'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Male_18_34_Years',
    'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Female_18_34_Years',
    'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Male_35_64_Years',
    'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Female_35_64_Years',
    'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Male_65_74_Years',
    'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Female_65_74_Years',
    'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Male_75_+_Years',
    'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Female_75_+_Years',
           
    'Computing_Device_Access_Number_Households_Desktop_Or_Laptop',
    'Computing_Device_Access_Number_Households_Smartphone',
    'Computing_Device_Access_Number_Households_Tablet',
    'Computing_Device_Access_Number_Households_No_Computing_Device',
           
    'Internet_Access_Number_Households_Dial_Up_Internet',
    'Internet_Access_Number_Households_Broadband_Home',
    'Internet_Access_Number_Households_Cellular_Data_Only',
    'Internet_Access_Number_Households_Satellite_Internet',
    'Internet_Access_Number_Households_No_Internet']

In [6]:
for col_name in new_cols:
    df_1[col_name] = np.nan

C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\655264342.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1[col_name] = np.nan

In [7]:
df_1.to_csv('school_safety_zip_atlas_zip_codes_1.csv')

In [8]:
import os
file_path = os.path.abspath("school_safety_zip_atlas_zip_codes_1.csv")
print(file_path)

C:\Users\ryanb\Semester 8\DS 490 Capstone\DS 490 Report Writing\school_safety_zip_atlas_zip_codes_1.csv

In [9]:
df_1 = pd.read_csv(r'C:\Users\ryanb\Semester 8\DS 490 Capstone\DS 490 Report Writing\school_safety_zip_atlas_zip_codes_1.csv')

In [10]:
df_1

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Incident_ID,Month,Day,Year,Date,School,Victims_Killed,Victims_Wounded,Number_Victims,Shooter_Killed,Source,Number_News,Media_Attention,Reliability,Quarter,City,State,School_Level,Location,Location_Type,During_Classes,Time_Period,First_Shot,Duration_min,Summary,Narrative,Situation,Targets,Accomplice,Accomplice_Narrative,Hostages,Barricade,Officer_Involved,Bullied,Domestic_Violence,Gang_Related,Active_Shooter_FBI,Shots_Fired,LAT,LNG,Address,Zip_Code,Race_Asian,Race_Black_African,Race_Hawaiian_Pacific,Race_Hispanic_Or_Latino,Race_Native_Alaskan,Race_White_Caucasian,Race_Two_Or_More_Races,Race_Some_Other_Race,Sex_And_Age_Male_Under_5_Years,Sex_And_Age_Female_Under_5_Years,Sex_And_Age_Male_5_To_9_Years,Sex_And_Age_Female_5_To_9_Years,Sex_And_Age_Male_10_To_14_Years,Sex_And_Age_Female_10_To_14_Years,Sex_And_Age_Male_15_To_19_Years,Sex_And_Age_Female_15_To_19_Years,Sex_And_Age_Male_20_To_24_Years,Sex_And_Age_Female_20_To_24_Years,Sex_And_Age_Male_25_To_29_Years,Sex_And_Age_Female_25_To_29_Years,Sex_And_Age_Male_30_To_34_Years,Sex_And_Age_Female_30_To_34_Years,Sex_And_Age_Male_35_To_39_Years,Sex_And_Age_Female_35_To_39_Years,Sex_And_Age_Male_40_To_44_Years,Sex_And_Age_Female_40_To_44_Years,Sex_And_Age_Male_45_To_49_Years,Sex_And_Age_Female_45_To_49_Years,Sex_And_Age_Male_50_To_54_Years,Sex_And_Age_Female_50_To_54_Years,Sex_And_Age_Male_55_To_59_Years,Sex_And_Age_Female_55_To_59_Years,Sex_And_Age_Male_60_To_64_Years,Sex_And_Age_Female_60_To_64_Years,Sex_And_Age_Male_65_To_69_Years,Sex_And_Age_Female_65_To_69_Years,Sex_And_Age_Male_70_To_74_Years,Sex_And_Age_Female_70_To_74_Years,Sex_And_Age_Male_75_To_79_Years,Sex_And_Age_Female_75_To_79_Years,Sex_And_Age_Male_80_To_84_Years,Sex_And_Age_Female_80_To_84_Years,Sex_And_Age_Male_85_Years_and_Over,Sex_And_Age_Female_85_Years_and_Over,Family_Type_Married_Couple_Number_Of_Families,Family_Type_Married_Couple_Family_Size,Family_Type_Single_Male_Father_Number_Of_Families,Family_Type_Single_Male_Father_Family_Size,Family_Type_Single_Female_Mother_Number_Of_Families,Family_Type_Single_Female_Mother_Family_Size,Household_Type_Married_Couple_Number_Of_Households,Household_Type_Married_Couple_Household_Size,Household_Type_Single_Male_Father_Number_Of_Households,Household_Type_Single_Male_Father_Household_Size,Household_Type_Single_Female_Mother_Number_Of_Households,Household_Type_Single_Female_Mother_Household_Size,Household_Type_Non_Family_Number_Of_Households,Household_Type_Non_Family_Household_Size,Household_Size_1_Person_Households_Family_Households,Household_Size_1_Person_Households_Non_Family_Households,Household_Size_2_Person_Households_Family_Households,Household_Size_2_Person_Households_Non_Family_Households,Household_Size_3_Person_Households_Family_Households,Household_Size_3_Person_Households_Non_Family_Households,Household_Size_4_Person_Households_Family_Households,Household_Size_4_Person_Households_Non_Family_Households,Household_Size_5_Person_Households_Family_Households,Household_Size_5_Person_Households_Non_Family_Households,Household_Size_6_Person_Households_Family_Households,Household_Size_6_Person_Households_Non_Family_Households,Household_Size_7_Person_Households_Family_Households,Household_Size_7_Person_Households_Non_Family_Households,Fertility_By_Age_15_19_Years_Women_With_Births,Fertility_By_Age_15_19_Years_Births_1000_Women,Fertility_By_Age_20_34_Years_Women_With_Births,Fertility_By_Age_20_34_Years_Births_1000_Women,Fertility_By_Age_35_50_Years_Women_With_Births,Fertility_By_Age_35_50_Years_Births_1000_Women,Fertility_By_Age_By_Marriage_15_19_Years_Married,Fertility_By_Age_By_Marriage_15_19_Years_Unmarried,Fertility_By_Age_By_Marriage_20_34_Years_Married,Fertility_By_Age_By_Marriage_20_34_Years_Unmarried,Fertility_By_Age_By_Marriage_35_50_Years_Married,Fertility_By_Age_By_Marriage_35_50_Years_Unmarried,Fertility_By_Education_Less_Than_High_School_Women_With_Births,Fertility_By_Education_Less_Than_High_School_Births_Per_1000_Women,Fertility_By_Education_High_School_Diploma_Women_With_Births,Fertility_By_Education_High_School_Diploma_Births_Per_1000_Women,Fertility_By_Education_College_Or_Associates_Degree_Women_With_Births,Fertility_By_Education_College_Or_Associates_Degree_Births_Per_1000_Women,Fertility_By_Education_Bachelors_Degree_Women_With_Births,Fertility_By_Education_Bachelors_Degree_Births_Per_1000_Women,Fertility_By_Education_Graduate_Degree_Women_With_Births,Fertility_By_Education_Graduates_Degree_Births_Per_1000_Women,Fertility_By_Education_By_Marriage_Less_Than_High_School_Married,Fertility_By_Education_By_Marriage_Less_Than_High_School_Unmarried,Fertility_By_Education_By_Marriage_High_School_Diploma_Married,Fertility_By_Education_By_Marriage_High_School_Diploma_Unmarried,Fertility_By_Education_By_Marriage_College_Or_Associates_Degree_Married,Fertility_By_Education_By_Marriage_College_Or_Associates_Degree_Unmarried,Fertility_By_Education_By_Marriage_Bachelors_Degree_Married,Fertility_By_Education_By_Marriage_Bachelors_Degree_Unmarried,Fertility_By_Education_By_Marriage_Graduate_Degree_Married,Fertility_By_Education_By_Marriage_Graduate_Degree_Unmarried,Income_Overview_Characteristic_Per_Capita_Income_Number,Income_Overview_Characteristic_Per_Capita_Income_Measure,Income_Overview_Characteristic_Median_Family_Income_Number,Income_Overview_Characteristic_Median_Family_Income_Measure,Income_Overview_Characteristic_Mean_Family_Income_Number,Income_Overview_Characteristic_Mean_Family_Income_Measure,Income_Overview_Characteristic_Median_Household_Income_Number,Income_Overview_Characteristic_Median_Household_Income_Measure,Income_Overview_Characteristic_Mean_Household_Income_Number,Income_Overview_Characteristic_Mean_Household_Income_Measure,Income_Overview_Characteristic_Income_Deficit_Number,Income_Overview_Characteristic_Income_Deficit_Measure,Income_Overview_Characteristic_Wage_Income_Gap_Number_Percentage,Income_Overview_Characteristic_Wage_Income_Gap_Measure_Percentage,Income_Overview_Characteristic_Wage_Income_Gap_Number_USA_Dollars,Income_Overview_Characteristic_Wage_Income_Gap_Measure_USA_Dollars,Income_Overview_Characteristic_Gini_Inequality_Index_Number,Income_Overview_Characteristic_Gini_Inequality_Index_Measure,Earnings_By_Sex_Male_Number,Earnings_By_Sex_Male_Average_Earnings,Earnings_By_Sex_Female_Number,Earnings_By_Sex_Female_Average_Earnings,Earnings_By_Sex_By_Income_Male_2499_Or_Less,Earnings_By_Sex_By_Income_Female_2499_Or_Less,Earnings_By_Sex_By_Income_Male_2500_4999,Earnings_By_Sex_By_Income_Female_2500_4999,Earnings_By_Sex_By_Income_Male_5000_7499,Earnings_By_Sex_By_Income_Female_5000_7499,Earnings_By_Sex_By_Income_Male_7500_9999,Earnings_By_Sex_By_Income_Female_7500_9999,Earnings_By_Sex_By_Income_Male_10000_12499,Earnings_By_Sex_By_Income_Female_10000_12499,Earnings_By_Sex_By_Income_Male_12500_14999,Earnings_By_Sex_By_Income_Female_12500_14999,Earnings_By_Sex_By_Income_Male_15000_17499,Earnings_By_Sex_By_Income_Female_15000_17499,Earnings_By_Sex_By_Income_Male_17500_19999,Earnings_By_Sex_By_Income_Female_17500_19999,Earnings_By_Sex_By_Income_Male_20000_22499,Earnings_By_Sex_By_Income_Female_20000_22499,Earnings_By_Sex_By_Income_Male_22500_24999,Earnings_By_Sex_By_Income_Female_22500_24999,Earnings_By_Sex_By_Income_Male_25000_29999,Earnings_By_Sex_By_Income_Female_25000_29999,Earnings_By_Sex_By_Income_Male_30000_34999,Earnings_By_Sex_By_Income_Female_30000_34999,Earnings_By_Sex_By_Income_Male_35000_39999,Earnings_By_Sex_By_Income_Female_35000_39999,Earnings_By_Sex_By_Income_Male_40000_44999,Earnings_By_Sex_By_Income_Female_40000_44999,Earnings_By_Sex_By_Income_Male_45000_49999,Earnings_By_Sex_By_Income_Female_45000_49999,Earnings_By_Sex_By_Income_Male_50000_54999,Earnings_By_Sex_By_Income_Female_50000_54999,Earnings_By_Sex_By_Income_Male_55000_64999,Earnings_By_Sex_By_Income_Female_55000_64999,Earnings_By_Sex_By_Income_Male_65000_74999,Earnings_By_Sex_By_Income_Female_65000_74999,Earnings_By_Sex_By_Income_Male_75000_99999,Earnings_By_Sex_By_Income_Female_75000_99999,Earnings_By_Sex_By_Income_Male_100000_+,Earnings_By_Sex_By_Income_Female_100000_+,Earnings_By_Sex_By_Educational_Attainment_Male_Less_Than_High_School,Earnings_By_Sex_By_Educational_Attainment_Female_Less_Than_High_School,Earnings_By_Sex_By_Educational_Attainment_Male_High_School_Diploma,Earnings_By_Sex_By_Educational_Attainment_Female_High_School_Diploma,Earnings_By_Sex_By_Educational_Attainment_Male_College_Or_Associates_Degree,Earnings_By_Sex_By_Educational_Attainment_Female_College_Or_Associates_Degree,Earnings_By_Sex_By_Educational_Attainment_Male_Bachelors_Degree,Earnings_By_Sex_By_Educational_Attainment_Female_Bachelors_Degree,Earnings_By_Sex_By_Educational_Attainment_Male_Graduate_Degree,Earnings_By_Sex_By_Educational_Attainment_Female_Graduate_Degree,Family_Income_Brackets_Number_Families_Less_Than_10000,Family_Income_Brackets_Percentage_Families_Less_Than_10000,Family_Income_Brackets_Number_Families_10000_14999,Family_Income_Brackets_Percentage_Families_10000_14999,Family_Income_Brackets_Number_Families_15000_24999,Family_Income_Brackets_Percentage_Families_15000_24999,Family_Income_Brackets_Number_Families_25000_34999,Family_Income_Brackets_Percentage_Families_25000_34999,Family_Income_Brackets_Number_Families_35000_44999,Family_Income_Brackets_Percentage_Families_35000_44999,Family_Income_Brackets_Number_Families_50000_74999,Family_Income_Brackets_Percentage_Families_50000_74999,Family_Income_Brackets_Number_Families_75000_99999,Family_Income_Brackets_Percentage_Families_75000_99999,Family_Income_Brackets_Number_Families_100000_149999,Family_Income_Brackets_Percentage_Families_100000_149999,Family_Income_Brackets_Number_Families_150000_199999,Family_Income_Brackets_Percentage_Families_150000_199999,Family_Income_Brackets_Number_Families_200000_+,Family_Income_Brackets_Percentage_Families_200000_+,Family_Income_By_Family_Size_Number_Families_2_Person_Families,Family_Income_By_Family_Size_Median_Income_2_Person_Families,Family_Income_By_Family_Size_Number_Families_3_Person_Families,Family_Income_By_Family_Size_Median_Income_3_Person_Families,Family_Income_By_Family_Size_Number_Families_4_Person_Families,Family_Income_By_Family_Size_Median_Income_4_Person_Families,Family_Income_By_Family_Size_Number_Families_5_Person_Families,Family_Income_By_Family_Size_Median_Income_5_Person_Families,Family_Income_By_Family_Size_Number_Families_6_Person_Families,Family_Income_By_Family_Size_Median_Income_6_Person_Families,Family_Income_By_Family_Size_Number_Families_7_+_Person_Families,Family_Income_By_Family_Size_Median_Income_7_+_Person_Families,Family_Income_By_Number_Of_Earners_No_Earners_Number,Family_Income_By_Number_Of_Earners_No_Earners_Median_Income,Family_Income_By_Number_Of_Earners_1_Earners_Number,Family_Income_By_Number_Of_Earners_1_Earners_Median_Income,Family_Income_By_Number_Of_Earners_2_Earners_Number,Family_Income_By_Number_Of_Earners_2_Earners_Median_Income,Family_Income_By_Number_Of_Earners_3_+_Earners_Number,Family_Income_By_Number_Of_Earners_3_+_Earners_Median_Income,Household_Income_Brackets_Number_Households_Less_Than_10000,Household_Income_Brackets_Percentage_Households_Less_Than_10000,Household_Income_Brackets_Number_Households_10000_14999,Household_Income_Brackets_Percentage_Households_10000_14999,Household_Income_Brackets_Number_Households_15000_24999,Household_Income_Brackets_Percentage_Households_15000_24999,Household_Income_Brackets_Number_Households_25000_34999,Household_Income_Brackets_Percentage_Households_25000_34999,Household_Income_Brackets_Number_Households_35000_49999,Household_Income_Brackets_Percentage_Households_35000_49999,Household_Income_Brackets_Number_Households_50000_74999,Household_Income_Brackets_Percentage_Households_50000_74999,Household_Income_Brackets_Number_Households_75000_99999,Household_Income_Brackets_Percentage_Households_75000_99999,Household_Income_Brackets_Number_Households_100000_149999,Household_Income_Brackets_Percentage_Households_100000_149999,Household_Income_Brackets_Number_Households_150000_199999,Household_Income_Brackets_Percentage_Households_150000_199999,Household_Income_Brackets_Number_Households_200000_+,Household_Income_Brackets_Percentage_Households_200000_+,Household_Income_By_Householder_Age_Number_Households_15_24_Years,Household_Income_By_Householder_Median_Income_Households_15_24_Years,Household_Income_By_Householder_Age_Number_Households_25_44_Years,Household_Income_By_Householder_Median_Income_Households_25_44_Years,Household_Income_By_Householder_Age_Number_Households_45_64_Years,Household_Income_By_Householder_Median_Income_Households_45_64_Years,Household_Income_By_Householder_Age_Number_Households_65_+_Years,Household_Income_By_Householder_Median_Income_Households_65_+_Years,Income_Below_Poverty_By_Sex_Male_Under_5_Years,Income_Below_Poverty_By_Sex_Female_Under_5_Years,Income_Below_Poverty_By_Sex_Male_5_Years,Income_Below_Poverty_By_Sex_Female_5_Years,Income_Below_Poverty_By_Sex_Male_6_11_Years,Income_Below_Poverty_By_Sex_Female_6_11_Years,Income_Below_Poverty_By_Sex_Male_12_14_Years,Income_Below_Poverty_By_Sex_Female_12_14_Years,Income_Below_Poverty_By_Sex_Male_15_Years,Income_Below_Poverty_By_Sex_Female_15_Years,Income_Below_Poverty_By_Sex_Male_16_17_Years,Income_Below_Poverty_By_Sex_Female_16_17_Years,Income_Below_Poverty_By_Sex_Male_18_24_Years,Income_Below_Poverty_By_Sex_Female_18_24_Years,Income_Below_Poverty_By_Sex_Male_25_34_Years,Income_Below_Poverty_By_Sex_Female_25_34_Years,Income_Below_Poverty_By_Sex_Male_35_44_Years,Income_Below_Poverty_By_Sex_Female_35_44_Years,Income_Below_Poverty_By_Sex_Male_45_54_Years,Income_Below_Poverty_By_Sex_Female_45_54_Years,Income_Below_Poverty_By_Sex_Male_55_64_Years,Income_Below_Poverty_By_Sex_Female_55_64_Years,Income_Below_Poverty_By_Sex_Male_65_74_Years,Income_Below_Poverty_By_Sex_Female_65_74_Years,Income_Below_Poverty_By_Sex_Male_75_+_Years,Income_Below_Poverty_By_Sex_Female_75_+_Years,Income_Above_Poverty_By_Sex_&_Age_Male_Under_5_Years,Income_Above_Poverty_By_Sex_&_Age_Female_Under_5_Years,Income_Above_Poverty_By_Sex_&_Age_Male_5_Years,Income_Above_Poverty_By_Sex_&_Age_Female_5_Years,Income_Above_Poverty_By_Sex_&_Age_Male_6_11_Years,Income_Above_Poverty_By_Sex_&_Age_Female_6_11_Years,Income_Above_Poverty_By_Sex_&_Age_Male_12_14_Years,Income_Above_Poverty_By_Sex_&_Age_Female_12_14_Years,Income_Above_Poverty_By_Sex_&_Age_Male_15_Years,Income_Above_Poverty_By_Sex_&_Age_Female_15_Years,Income_Above_Poverty_By_Sex_&_Age_Male_16_17_Years,Income_Above_Poverty_By_Sex_&_Age_Female_16_17_Years,Income_Above_Poverty_By_Sex_&_Age_Male_18_24_Years,Income_Above_Poverty_By_Sex_&_Age_Female_18_24_Years,Income_Above_Poverty_By_Sex_&_Age_Male_25_34_Years,Income_Above_Poverty_By_Sex_&_Age_Female_25_34_Years,Income_Above_Poverty_By_Sex_&_Age_Male_35_44_Years,Income_Above_Poverty_By_Sex_&_Age_Female_35_44_Years,Income_Above_Poverty_By_Sex_&_Age_Male_45_54_Years,Income_Above_Poverty_By_Sex_&_Age_Female_45_54_Years,Income_Above_Poverty_By_Sex_&_Age_Male_55_64_Years,Income_Above_Poverty_By_Sex_&_Age_Female_55_64_Years,Income_Above_Poverty_By_Sex_&_Age_Male_65_74_Years,Income_Above_Poverty_By_Sex_&_Age_Female_65_74_Years,Income_Above_Poverty_By_Sex_&_Age_Male_75_+_Years,Income_Above_Poverty_By_Sex_&_Age_Female_75_+_Years,Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_No_Children,Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_No_Children,Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_1_Or_2_Children,Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_1_Or_2_Children,Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_3_Or_4_Children,Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_3_Or_4_Children,Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_5_+_Children,Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_5_+_Children,Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_No_Children,Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_No_Children,Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_1_Or_2_Children,Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_1_Or_2_Children,Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_3_Or_4_Children,Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_3_Or_4_Children,Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_5_+_Children,Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_5_+_Children,Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_No_Children_Married_Couple_Families,Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_No_Children_Single_Parent_Households,Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_1_Or_2_Children_Married_Couple_Families,Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_1_Or_2_Children_Single_Parent_Households,Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_3_Or_4_Children_Married_Couple_Families,Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_3_Or_4_Children_Single_Parent_Households,Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_5_+_Children_Married_Couple_Families,Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_5_+_Children_Single_Parent_Households,Employment_By_Class_Of_Employer_Private_Company_Employees_Number_Of_Employees,Employment_By_Class_Of_Employer_Private_Company_Employees_Percentage_Of_Employees,Employment_By_Class_Of_Employer_Self_Employed_Incorporated_Number_Of_Employees,Employment_By_Class_Of_Employer_Self_Employed_Incorporated_Percentage_Of_Employees,Employment_By_Class_Of_Employer_Self_Employed_Not_Incorporated_Number_Of_Employees,Employment_By_Class_Of_Employer_Self_Employed_Not_Incorporated_Percentage_Of_Employees,Employment_By_Class_Of_Employer_Non_For_Profit_Organizations_Number_Of_Employees,Employment_By_Class_Of_Employer_Non_For_Profit_Organizations_Percentage_Of_Employees,Employment_By_Class_Of_Employer_Local_Government_Employees_Number_Of_Employees,Employment_By_Class_Of_Employer_Local_Government_Employees_Percentage_Of_Employees,Employment_By_Class_Of_Employer_State_Government_Employees_Number_Of_Employees,Employment_By_Class_Of_Employer_State_Government_Employees_Percentage_Of_Employees,Employment_By_Class_Of_Employer_Federal_Government_Employees_Number_Of_Employees,Employment_By_Class_Of_Employer_Federal_Government_Employees_Percentage_Of_Employees,Employment_Status_By_Age_16_19_Years_In_Labor_Force,Employment_Status_By_Age_16_19_Years_Unemployed,Employment_Status_By_Age_20_24_Years_In_Labor_Force,Employment_Status_By_Age_20_24_Years_Unemployed,Employment_Status_By_Age_25_29_Years_In_Labor_Force,Employment_Status_By_Age_25_29_Years_Unemployed,Employment_Status_By_Age_30_34_Years_In_Labor_Force,Employment_Status_By_Age_30_34_Years_Unemployed,Employment_Status_By_Age_35_44_Years_In_Labor_Force,Employment_Status_By_Age_35_44_Years_Unemployed,Employment_Status_By_Age_45_54_Years_In_Labor_Force,Employment_Status_By_Age_45_54_Years_Unemployed,Employment_Status_By_Age_55_59_Years_In_Labor_Force,Employment_Status_By_Age_55_59_Years_Unemployed,Employment_Status_By_Age_60_64_Years_In_Labor_Force,Employment_Status_By_Age_60_64_Years_Unemployed,Employment_Status_By_Age_65_74_Years_In_Labor_Force,Employment_Status_By_Age_65_74_Years_Unemployed,Employment_Status_By_Age_75_+_Years_In_Labor_Force,Employment_Status_By_Age_75_+_Years_Unemployed,Employment_Status_By_Educational_Attainment_Less_Than_High_School_In_Labor_Force,Employment_Status_By_Educational_Attainment_Less_Than_High_School_Unemployed,Employment_Status_By_Educational_Attainment_High_School_Diploma_In_Labor_Force,Employment_Status_By_Educational_Attainment_High_School_Diploma_Unemployed,Employment_Status_By_Educational_Attainment_College_Or_Associate_Degree_In_Labor_Force,Employment_

In [11]:
options = Options()
options.executable_path = "C:/Users/ryanb/OneDrive/Desktop/Semester 8/DS 490 Data Science Capstone/chromedriver.exe"
# options.add_argument("--incognito")

#disable location prompts
options.add_experimental_option("prefs", {
    "profile.default_content_setting_values.geolocation": 2 
})


# Disable ads
options.add_argument("--disable-notifications")
options.add_argument("--blink-settings=imagesEnabled=false")

adblock_extension_1 = "/path/to/ublock_origin.crx"
adblock_extension_2 = "/path/to/popup_blocker.crx"
options.extensions.append(adblock_extension_1)
options.extensions.append(adblock_extension_2)

browser = webdriver.Chrome(options=options)

In [12]:
browser.get("https://zipatlas.com/")

In [13]:
#1
def get_race_data(browser):
    # Find the "Race" table
    table = browser.find_element(By.XPATH, "//h2[@id='race']/following-sibling::table")

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            race = cells[0].text.strip().lower().replace(" ", "_").replace("/", "_").replace("-", "_")
            population = cells[1].get_attribute("innerText").replace(",", "")
            data[race] = population

    return data

#2
def get_ancestry_data(browser):
     # Click on the "View All" button for the Ancestry section
    ancestry_expand_button = browser.find_element(By.XPATH, "//td[@class='expand' and contains(text(), 'View All')]")
    browser.execute_script("arguments[0].click();", ancestry_expand_button)
    time.sleep(1)
    # Find the "Ancestry" table
    table_xpath = "//h2[@id='ancestry']/following-sibling::table[1]"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            ancestry = cells[0].text.strip()
            population = cells[1].text.replace(",", "")
            data[ancestry] = population

    return data

def extract_and_add_ancestry_data(browser):
    # Extract the zip code from the HTML tag
    zip_code_element = browser.find_element(By.XPATH, "//h1[contains(text(), 'Zip Code')]")
    zip_code = zip_code_element.text.split()[-1]

    # Extract the ancestry data
    ancestry_data = get_ancestry_data(browser)

    # Create a boolean mask to identify rows with matching zip code
    mask = df_1['Zip_Code'] == zip_code

    # Check if any rows match the zip code
    if mask.any():
        # Iterate over the ancestry data and add it to the corresponding rows
        for ancestry, value in ancestry_data.items():
            column_name = f"Ancestry_{ancestry.replace(' ', '_')}"
            if column_name not in df_1.columns:
                df_1[column_name] = pd.np.nan
            
            # Update the value only for the matching zip code row(s)
            df_1.loc[mask, column_name] = value
    else:
        print(f"No matching zip code found in the DataFrame for zip code: {zip_code}")
        
#3
def get_immigration_data(browser):
    # Click on the "View All" button for the Immigrants section
    immigration_expand_button = browser.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[1]/div[8]/table/tfoot/tr/td")
    browser.execute_script("arguments[0].click();", immigration_expand_button)
    time.sleep(1)
    # Find the "Immigrants" table
    table_xpath = "//h2[@id='immigrants']/following-sibling::table[1]"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            origin = cells[0].text.strip()
            population = cells[1].text.replace(",", "")
            data[origin] = population

    return data

def extract_and_add_immigration_data(browser):
    # Extract the zip code from the HTML tag
    zip_code_element = browser.find_element(By.XPATH, "//h2[@id='immigrants']")
    zip_code = zip_code_element.text.split()[-1]

    # Extract the immigration data
    immigration_data = get_immigration_data(browser)

    # Create a boolean mask to identify rows with matching zip code
    mask = df_1['Zip_Code'] == zip_code

    # Check if any rows match the zip code
    if mask.any():
        # Iterate over the immigration data and add it to the corresponding rows
        for origin, value in immigration_data.items():
            column_name = f"Immigration_{origin.replace(' ', '_')}"
            if column_name not in df_1.columns:
                df_1[column_name] = pd.np.nan
            
            # Update the value only for the matching zip code row(s)
            df_1.loc[mask, column_name] = value
    else:
        print(f"No matching zip code found in the DataFrame for zip code: {zip_code}")
        
#4
def get_sex_and_age_data(browser):
    # Find the "Sex and Age" table
    table = browser.find_element(By.XPATH, "//h3[@id='sex-and-age']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "_").replace("&", "and")
            male_count = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            female_count = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[age_bracket] = {
                "male": male_count,
                "female": female_count
            }
    
    return data

#5
def get_median_family_size_by_type_data(browser):
    # Find the "Median Family Size by Type" table
    table = browser.find_element(By.XPATH, "//h3[@id='median-family-size-by-type']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            family_type = cells[0].text.strip().lower().replace("-", "_").replace("/", "_")
            num_families = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            family_size = cells[2].text.strip()
            data[family_type] = {
                "num_families": num_families,
                "family_size": family_size
            }
    
    return data

#6
def get_median_household_size_by_type_data(browser):
    # Find the "Median Household Size by Type" table
    table = browser.find_element(By.XPATH, "//h3[@id='median-household-size-by-type']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            household_type = cells[0].text.strip().lower().replace("-", "_").replace("/", "_")
            num_households = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            household_size = cells[2].text
            data[household_type] = {
                "num_households": num_households,
                "household_size": household_size
            }
    
    return data

#7
def get_household_size_by_marriage_status_data(browser):
    # Find the "Household Size by Marriage Status" table
    table = browser.find_element(By.XPATH, "//h3[@id='household-size-by-marriage-status']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            household_size = cells[0].text.strip().lower().replace("-", "_").replace("+", "").replace(" ", "_")
            family_households = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            nonfamily_households = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[household_size] = {
                "family_households": family_households,
                "nonfamily_households": nonfamily_households
            }
    
    return data

#8
def get_fertility_by_age_data(browser):
    # Find the "Fertility by Age" table
    table = browser.find_element(By.XPATH, "//h3[@id='fertility-by-age']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_")
            women_with_births = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            births_per_1000_women = cells[2].text
            data[age_bracket] = {
                "women_with_births": women_with_births,
                "births_per_1000_women": births_per_1000_women
            }
    
    return data

#9
def get_fertility_by_age_by_marriage_status_data(browser):
    # Find the "Fertility by Age by Marriage Status" table
    table = browser.find_element(By.XPATH, "//h3[@id='fertility-by-age-by-marriage-status']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_")
            married = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            unmarried = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[age_bracket] = {
                "married": married,
                "unmarried": unmarried
            }
    
    return data

#10
def get_fertility_by_education_data(browser):
    # Find the "Fertility by Education" table
    table = browser.find_element(By.XPATH, "//h3[@id='fertility-by-education']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            education_level = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("'", "").replace(",", "")
            women_with_births = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            births_per_1000_women = cells[2].text
            data[education_level] = {
                "women_with_births": women_with_births,
                "births_per_1000_women": births_per_1000_women
            }
    
    return data

#11
def get_fertility_by_education_by_marriage_status_data(browser):
    # Find the "Fertility by Education by Marriage Status" table
    table = browser.find_element(By.XPATH, "//h3[@id='fertility-by-education-by-marriage-status']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            education_level = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("'", "").replace(",", "")
            married = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            unmarried = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[education_level] = {
                "married": married,
                "unmarried": unmarried
            }
    
    return data

#12
def get_income_overview_data(browser):
    # Find the "Income Overview" table
    table_xpath = "//h3[@id='income-overview']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            characteristic = cells[0].text.strip()
            number = cells[1].text.split()[0].replace(",", "")
            measure = cells[2].text.strip().replace("$", "").replace(",", "")
            data[characteristic] = {
                "Number": number,
                "Measure": measure
            }

    return data

#13
def get_earnings_by_sex_data(browser):
    # Find the "Earnings by Sex" table
    table_xpath = "//h3[@id='earnings-by-sex']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            sex = cells[0].text.strip()
            number = cells[1].text.split()[0].replace(",", "")
            average_earnings = cells[2].text.strip().replace("$", "").replace(",", "")
            data[sex] = {
                "Number": number,
                "Average Earnings": average_earnings
            }

    return data

#14
def get_earnings_by_sex_by_income_data(browser):
    # Find the "Earnings by Sex by Income Bracket" table
    table_xpath = "//h3[@id='earnings-by-sex-by-income-bracket']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            income_bracket = cells[0].text.strip().lower().replace(",", "").replace("$", "").replace(" ", "_").replace("+", "")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[income_bracket] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#15
def get_earnings_by_sex_by_education_data(browser):
    # Find the "Earnings by Sex by Educational Attainment" table
    table_xpath = "//h3[@id='earnings-by-sex-by-education']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            education_level = cells[0].text.strip().lower().replace(" ", "_").replace("'", "")
            male_income = cells[1].text.strip().replace("$", "").replace(",", "")
            female_income = cells[2].text.strip().replace("$", "").replace(",", "")
            data[education_level] = {
                "Male": male_income,
                "Female": female_income
            }

    return data

#16
def get_family_income_brackets_data(browser):
    # Find the "Family Income Brackets" table
    table_xpath = "//h3[@id='family-income-brackets']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            income_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("$", "").replace(",", "_")
            number_families = cells[1].text.split()[0].replace(",", "")
            percentage_families = cells[2].text.strip().replace("%", "")
            data[income_bracket] = {
                "Number": number_families,
                "Percentage": percentage_families
            }

    return data

#17
def get_family_income_by_size_data(browser):
    # Find the "Family Income by Family Size" table
    table_xpath = "//h3[@id='family-income-by-family-size']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            family_size = cells[0].text.strip().lower().replace(" ", "_").replace("+", "")
            number_families = cells[1].text.split()[0].replace(",", "")
            median_income = cells[2].text.strip().replace("$", "").replace(",", "")
            data[family_size] = {
                "Number": number_families,
                "Median Income": median_income
            }

    return data

#18
def get_family_income_by_earners_data(browser):
    # Find the "Family Income by Number of Earners" table
    table_xpath = "//h3[@id='family-income-by-number-of-earners']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            num_earners = cells[0].text.strip().lower().replace("+", "").replace(" ", "_")
            num_families = cells[1].text.split()[0].replace(",", "")
            median_income = cells[2].text.strip().replace("$", "").replace(",", "")
            data[num_earners] = {
                "Number": num_families,
                "Median Income": median_income
            }

    return data

#19
def get_household_income_brackets_data(browser):
    # Find the "Household Income Brackets" table
    table_xpath = "//h3[@id='household-income-brackets']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            income_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("$", "").replace(",", "_")
            num_households = cells[1].text.split()[0].replace(",", "")
            percentage_households = cells[2].text.strip().replace("%", "")
            data[income_bracket] = {
                "Number": num_households,
                "Percentage": percentage_households
            }

    return data

#20
def get_household_income_by_age_data(browser):
    # Find the "Household Income by Householder Age" table
    table_xpath = "//h3[@id='household-income-by-householder-age']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("+", "")
            num_households = cells[1].text.split()[0].replace(",", "")
            median_income = cells[2].text.strip().replace("$", "").replace(",", "")
            data[age_bracket] = {
                "Number": num_households,
                "Median Income": median_income
            }

    return data

#21
def get_income_below_poverty_by_sex_age_data(browser):
    # Find the "Income Below Poverty by Sex and Age" table
    table_xpath = "//h3[@id='income-below-poverty-by-sex-and-age']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("+", "").replace("and", "")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[age_bracket] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#22
def get_income_above_poverty_by_sex_age_data(browser):
    # Find the "Income Above Poverty by Sex and Age" table
    table_xpath = "//h3[@id='income-above-poverty-by-sex-and-age']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("+", "").replace("and", "")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[age_bracket] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#23
def get_income_below_poverty_married_couples_data(browser):
    # Find the "Income Below Poverty Among Married-Couple Families" table
    table_xpath = "//h3[@id='income-below-poverty-married-couples']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            children = cells[0].text.strip().lower().replace(" ", "_").replace("+", "")
            above_poverty = cells[1].text.split()[0].replace(",", "")
            below_poverty = cells[2].text.split()[0].replace(",", "")
            data[children] = {
                "Above Poverty": above_poverty,
                "Below Poverty": below_poverty
            }

    return data

#24
def get_income_below_poverty_single_parents_data(browser):
    # Find the "Income Below Poverty Among Single-Parent Households" table
    table_xpath = "//h3[@id='income-below-poverty-single-parents']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            children = cells[0].text.strip().lower().replace(" ", "_").replace("+", "")
            single_father = cells[1].text.split()[0].replace(",", "")
            single_mother = cells[2].text.split()[0].replace(",", "")
            data[children] = {
                "Single Father": single_father,
                "Single Mother": single_mother
            }

    return data

#25
def get_income_below_poverty_married_vs_single_data(browser):
    # Find the "Income Below Poverty Among Married-Couple vs Single-Parent Households" table
    table_xpath = "//h3[@id='income-below-poverty-married-couples-vs-single-parents']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            children = cells[0].text.strip().lower().replace(" ", "_").replace("+", "")
            married_couple = cells[1].text.split()[0].replace(",", "")
            single_parent = cells[2].text.split()[0].replace(",", "")
            data[children] = {
                "Married Couple": married_couple,
                "Single Parent": single_parent
            }

    return data

#26
def get_employment_by_class_of_employer_data(browser):
    # Find the "Employment by Class of Employer" table
    table_xpath = "//h2[@id='employment']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            employer_class = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("(", "").replace(")", "")
            num_employees = cells[1].text.replace(",", "")
            percentage_employees = cells[2].text.replace("%", "")
            data[employer_class] = {
                "Number": num_employees,
                "Percentage": percentage_employees
            }

    return data

#27
def get_employment_status_by_age_data(browser):
    # Find the "Employment Status by Age" table
    table_xpath = "//h3[@id='employment-status-by-age']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("+", "").replace("and", "")
            in_labor_force = cells[1].text.split()[0].replace(",", "")
            unemployed = cells[2].text.split()[0].replace(",", "")
            data[age_bracket] = {
                "In Labor Force": in_labor_force,
                "Unemployed": unemployed
            }

    return data

#28
def get_employment_status_by_education_data(browser):
    # Find the "Employment Status by Educational Attainment" table
    table_xpath = "//h3[@id='employment-status-by-education']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            education_level = cells[0].text.strip().lower().replace(" ", "_").replace("/", "_").replace("'", "")
            in_labor_force = cells[1].text.split()[0].replace(",", "")
            unemployed = cells[2].text.split()[0].replace(",", "")
            data[education_level] = {
                "In Labor Force": in_labor_force,
                "Unemployed": unemployed
            }

    return data

#29
def get_employment_occupations_by_sex_data(browser):
    # Find the "Employment Occupations by Sex" table
    table_xpath = "//h3[@id='employment-occupations-by-sex']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3 and cells[0].text.strip() != "Total (Category)" and cells[0].text.strip() != "Total (Overall)":
            occupation = cells[0].text.strip().lower().replace(" ", "_").replace("&", "").replace(",", "_")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[occupation] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#30
def get_employment_service_occupations_by_sex_data(browser):
    # Find the "Services Occupations by Sex" table
    table_xpath = "//h4[text()='Services Occupations by Sex']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3 and cells[0].text.strip() != "Total (Category)" and cells[0].text.strip() != "Total (Overall)":
            occupation = cells[0].text.strip().lower().replace(" ", "_").replace("&", "").replace(",", "_")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[occupation] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#31
def get_employment_sales_office_occupations_by_sex_data(browser):
    # Find the "Sales and Office Occupations" table
    table_xpath = "//h4[text()='Sales and Office Occupations']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3 and cells[0].text.strip() != "Total (Category)" and cells[0].text.strip() != "Total (Overall)":
            occupation = cells[0].text.strip().lower().replace(" ", "_").replace("&", "").replace(",", "_")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[occupation] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#32
def get_natural_resources_construction_maintenance_occupations_by_sex_data(browser):
    # Find the "Natural Resources, Construction and Maintenance Occupations by Sex" table
    table_xpath = "//h4[text()='Natural Resources, Construction and Maintenance Occupations by Sex']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3 and cells[0].text.strip() != "Total (Category)" and cells[0].text.strip() != "Total (Overall)":
            occupation = cells[0].text.strip().lower().replace(" ", "_").replace("&", "").replace(",", "_")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[occupation] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#33
def get_production_transportation_moving_occupations_by_sex_data(browser):
    # Find the "Production, Transportation and Moving Occupations by Sex" table
    table_xpath = "//h4[text()='Production, Transportation and Moving Occupations by Sex']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3 and cells[0].text.strip() != "Total (Category)" and cells[0].text.strip() != "Total (Overall)":
            occupation = cells[0].text.strip().lower()
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[occupation] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#34
def get_employment_industries_by_sex_data(browser):
    # Find the "Employment Industries by Sex in Zip Code 28655" table
    table_xpath = "//h3[@id='employment-industries-by-sex']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")

    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3 and cells[0].text.strip() != "Total":
            industry = cells[0].text.strip().lower().replace(" ", "_").replace("&", "").replace(",", "")
            male_count = cells[1].get_attribute("data-v")
            female_count = cells[2].get_attribute("data-v")

            data[industry] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#35
def get_school_enrollment_data(browser):
    # Find the "School Enrollment" table
    table_xpath = "//h3[@id='school-enrollment']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            school_level = cells[0].text.strip().lower().replace(" ", "_").replace("/", "_")
            num_students = cells[1].text.replace(",", "")
            data[school_level] = num_students

    return data

#36
def get_school_enrollment_by_age_by_funding_data(browser):
    # Find the "School Enrollment by Age by Funding Source" table
    table_xpath = "//h3[@id='school-enrollment-by-age-by-funding-source']/following-sibling::table"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("+", "").replace("olds", "olds")
            public_school = cells[1].text.split()[0].replace(",", "")
            private_school = cells[2].text.split()[0].replace(",", "")
            data[age_bracket] = {
                "Public School": public_school,
                "Private School": private_school
            }

    return data

#37
def get_educational_attainment_by_field_of_study(browser):
    # Find the "Educational Attainment by Field of Study" table
    table = browser.find_element(By.XPATH, "//h3[@id='educational-attainment-by-field-of-study']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            field_of_study = cells[0].text.strip().lower().replace(" ", "_").replace("&", "and")
            graduates = cells[1].get_attribute("innerText")
            percentage = cells[2].get_attribute("innerText")
            data[field_of_study] = {
                "graduates": graduates,
                "percentage": percentage
            }
    
    return data

#38
def get_vehicle_availability_by_sex(browser):
    # Find the "Vehicle Availability by Sex" table
    table = browser.find_element(By.XPATH, "//h2[@id='transportation-and-commute']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            vehicle_category = cells[0].text.strip().lower().replace(" ", "_")
            male_count = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            female_count = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[vehicle_category] = {
                "male": male_count,
                "female": female_count
            }
    
    return data

#39
def get_commute_time_data(browser):
    # Find the "Commute Time" table
    table = browser.find_element(By.XPATH, "//h3[@id='commute-time']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            commute_time = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "")
            commuters_count = cells[1].get_attribute("innerText")
            data[commute_time] = commuters_count
    
    return data

#40
def get_commute_time_by_sex_data(browser):
    # Find the "Commute Time by Sex" table
    table = browser.find_element(By.XPATH, "//h3[@id='commute-time-by-sex']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            commute_time = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "")
            male_count = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            female_count = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[commute_time] = {
                "male": male_count,
                "female": female_count
            }
    
    return data

#41
def get_time_of_departure_to_work_by_sex_data(browser):
    # Find the "Time of Departure to Work by Sex" table
    table = browser.find_element(By.XPATH, "//h3[@id='time-of-departure-to-work-by-sex']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            time_of_departure = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace(":", "").replace(".", "")
            male_count = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            female_count = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[time_of_departure] = {
                "male": male_count,
                "female": female_count
            }
    
    return data

#42
def get_occupancy_by_ownership_data(browser):
    # Find the "Occupancy by Ownership" table
    table = browser.find_element(By.XPATH, "//h3[@id='occupancy-by-ownership']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            occupancy = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_")
            housing_units = cells[1].get_attribute("innerText").replace(",", "")
            data[occupancy] = housing_units
    
    return data

#43
def get_occupancy_by_household_size_data(browser):
    # Find the "Occupancy by Household Size" table
    table = browser.find_element(By.XPATH, "//h3[@id='occupancy-by-household-size']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            household_size = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "")
            housing_units = cells[1].get_attribute("innerText").replace(",", "")
            data[household_size] = housing_units
    
    return data

#44
def get_occupancy_by_ownership_by_household_size_data(browser):
    # Find the "Occupancy by Ownership by Household Size" table
    table = browser.find_element(By.XPATH, "//h3[@id='occupancy-by-ownership-by-household-size']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            household_size = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "")
            owner_occupied = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            renter_occupied = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[household_size] = {
                "owner_occupied": owner_occupied,
                "renter_occupied": renter_occupied
            }
    
    return data

#45
def get_occupancy_by_educational_attainment_data(browser):
    # Find the "Occupancy by Educational Attainment" table
    table = browser.find_element(By.XPATH, "//h3[@id='occupancy-by-educational-attainment']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            educational_attainment = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "")
            owner_occupied = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            renter_occupied = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[educational_attainment] = {
                "owner_occupied": owner_occupied,
                "renter_occupied": renter_occupied
            }
    
    return data

#46
def get_occupancy_by_age_of_householder_data(browser):
    # Find the "Occupancy by Age of Householder" table
    table = browser.find_element(By.XPATH, "//h3[@id='occupancy-by-age-of-householder']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "")
            households = cells[1].get_attribute("innerText").replace(",", "")
            data[age_bracket] = households
    
    return data

#47
def get_median_income_by_occupancy_data(browser):
    # Find the "Median Income by Occupancy" table
    table = browser.find_element(By.XPATH, "//h3[@id='median-income-by-occupancy']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            occupancy_type = cells[0].text.strip().lower().replace("-", "_")
            households = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            median_income = cells[2].get_attribute("innerText").replace("$", "").replace(",", "")
            data[occupancy_type] = {
                "households": households,
                "median_income": median_income
            }
    
    return data

#48
def get_occupancy_by_householder_income_bracket_data(browser):
    # Find the "Occupancy by Householder Income Bracket" table
    table = browser.find_element(By.XPATH, "//h3[@id='occupancy-by-income-bracket']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            income_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "").replace("$", "").replace(",", "")
            owner_occupied = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            renter_occupied = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[income_bracket] = {
                "owner_occupied": owner_occupied,
                "renter_occupied": renter_occupied
            }
    
    return data

#49
def get_monthly_housing_cost_tiers_data(browser):
    # Find the "Monthly Housing Cost Tiers" table
    table = browser.find_element(By.XPATH, "//h3[@id='monthly-housing-cost-tiers']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            cost_tier = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "").replace("$", "").replace(",", "")
            owner_occupied = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            renter_occupied = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[cost_tier] = {
                "owner_occupied": owner_occupied,
                "renter_occupied": renter_occupied
            }
    
    return data

#50
def get_housing_structures_data(browser):
    # Find the "Housing Structures" table
    table = browser.find_element(By.XPATH, "//h3[@id='housing-structures']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            structure_type = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "").replace("/", "_").replace(",", "")
            housing_units = cells[1].get_attribute("innerText").replace(",", "")
            data[structure_type] = housing_units
    
    return data

#51
def get_housing_structures_by_occupancy_data(browser):
    # Find the "Housing Structures by Occupancy" table
    table = browser.find_element(By.XPATH, "//h3[@id='housing-structures-by-occupancy']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            structure_type = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "").replace("/", "_").replace(",", "")
            owner_occupied = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            renter_occupied = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[structure_type] = {
                "owner_occupied": owner_occupied,
                "renter_occupied": renter_occupied
            }
    
    return data

#52
def get_housing_structures_by_number_of_rooms_data(browser):
    # Find the "Housing Structures by Number of Rooms" table
    table = browser.find_element(By.XPATH, "//h3[@id='housing-structures-by-number-of-rooms']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            num_rooms = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "").replace("/", "_").replace(",", "")
            owner_occupied = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            renter_occupied = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[num_rooms] = {
                "owner_occupied": owner_occupied,
                "renter_occupied": renter_occupied
            }
    
    return data

#53
def get_housing_structure_by_heating_type_data(browser):
    # Find the "Housing Structure by Heating Type" table
    table = browser.find_element(By.XPATH, "//h3[@id='housing-structures-by-heating-type']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            heating_type = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace(",", "").replace(")", "").replace("(", "")
            owner_occupied = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            renter_occupied = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[heating_type] = {
                "owner_occupied": owner_occupied,
                "renter_occupied": renter_occupied
            }
    
    return data

#54
def get_household_vehicle_usage_data(browser):
    # Find the "Household Vehicle Usage" table
    table = browser.find_element(By.XPATH, "//h3[@id='households-by-vehicle-usage']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            vehicle_category = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "")
            owner_occupied = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            renter_occupied = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[vehicle_category] = {
                "owner_occupied": owner_occupied,
                "renter_occupied": renter_occupied
            }
    
    return data

#55
def get_real_estate_and_mortgage_overview_data(browser):
    # Find the "Real Estate & Mortgages" table
    table = browser.find_element(By.XPATH, "//h2[@id='real-estate-and-mortgages']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            characteristic = cells[0].text.strip().lower().replace(" ", "_").replace("&", "and")
            without_mortgage = cells[1].get_attribute("innerText").replace("$", "").replace(",", "")
            with_mortgage = cells[2].get_attribute("innerText").replace("$", "").replace(",", "")
            data[characteristic] = {
                "without_mortgage": without_mortgage,
                "with_mortgage": with_mortgage
            }
    
    return data

#56
def get_property_value_by_mortgage_status_data(browser):
    # Find the "Property Value by Mortgage Status" table
    table = browser.find_element(By.XPATH, "//h3[@id='property-value-by-mortgage-status']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            property_value = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "").replace("$", "").replace(",", "")
            without_mortgage = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            with_mortgage = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[property_value] = {
                "without_mortgage": without_mortgage,
                "with_mortgage": with_mortgage
            }
    
    return data

#57
def get_household_income_by_mortgage_status_data(browser):
    # Find the "Household Income by Mortgage Status" table
    table = browser.find_element(By.XPATH, "//h3[@id='household-income-by-mortgage-status']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            income_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "").replace("$", "").replace(",", "")
            without_mortgage = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            with_mortgage = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[income_bracket] = {
                "without_mortgage": without_mortgage,
                "with_mortgage": with_mortgage
            }
    
    return data

#58
def get_property_value_to_household_income_ratio_data(browser):
    # Find the "Property Value to Household Income Ratio" table
    table = browser.find_element(By.XPATH, "//h3[@id='property-value-to-household-income']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            ratio = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "").replace(".", "")
            without_mortgage = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            with_mortgage = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[ratio] = {
                "without_mortgage": without_mortgage,
                "with_mortgage": with_mortgage
            }
    
    return data

#59
def get_real_estate_taxes_by_mortgage_status_data(browser):
    # Find the "Real Estate Taxes by Mortgage Status" table
    table = browser.find_element(By.XPATH, "//h3[@id='real-estate-taxes-by-mortgage-status']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            tax_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "").replace("$", "").replace(",", "")
            without_mortgage = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            with_mortgage = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[tax_bracket] = {
                "without_mortgage": without_mortgage,
                "with_mortgage": with_mortgage
            }
    
    return data

#60
def get_health_insurance_coverage_by_age_data(browser):
    # Find the "Health Insurance Coverage by Age" table
    table = browser.find_element(By.XPATH, "//h3[@id='health-insurance-coverage-by-age']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "")
            with_coverage = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            without_coverage = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[age_bracket] = {
                "with_coverage": with_coverage,
                "without_coverage": without_coverage
            }
    
    return data

#61
def get_health_insurance_coverage_by_citizenship_data(browser):
    # Find the "Health Insurance Coverage by Citizenship Status" table
    table = browser.find_element(By.XPATH, "//h3[@id='health-insurance-coverage-by-citizenship']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            citizenship_status = cells[0].text.strip().lower().replace(" ", "_").replace(",", "").replace("-", "_")
            with_coverage = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            without_coverage = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[citizenship_status] = {
                "with_coverage": with_coverage,
                "without_coverage": without_coverage
            }
    
    return data

#62
def get_health_insurance_coverage_by_household_income_data(browser):
    # Find the "Health Insurance Coverage by Household Income" table
    table = browser.find_element(By.XPATH, "//h3[@id='health-insurance-coverage-by-household-income']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            household_income = cells[0].text.strip().lower().replace(" ", "_").replace("$", "").replace(",", "")
            with_coverage = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            without_coverage = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[household_income] = {
                "with_coverage": with_coverage,
                "without_coverage": without_coverage
            }
    
    return data

#63
def get_public_vs_private_health_insurance_coverage_by_age_data(browser):
    # Find the "Public vs Private Health Insurance Coverage by Age" table
    table = browser.find_element(By.XPATH, "//h3[@id='public-vs-private-health-insurance-coverage-by-age']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "")
            public_insurance = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            private_insurance = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[age_bracket] = {
                "public_insurance": public_insurance,
                "private_insurance": private_insurance
            }
    
    return data

#64
def get_disability_status_by_sex_by_age_data(browser):
    # Find the "Disability Status by Sex by Age" table
    table = browser.find_element(By.XPATH, "//h3[@id='disability-status-by-sex-by-age']/following-sibling::table")
    
    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_").replace("+", "")
            male_count = cells[1].get_attribute("innerText").split()[0].replace(",", "")
            female_count = cells[2].get_attribute("innerText").split()[0].replace(",", "")
            data[age_bracket] = {
                "male": male_count,
                "female": female_count
            }
    
    return data

#65
def get_disability_class_hearing_difficulty_by_sex_by_age_data(browser):
    # Find the "Disability Class Hearing Difficulty by Sex by Age" table
    table_xpath = "//h3[@id='disability-class-by-sex-by-age']/following-sibling::table[1]"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("+", "")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[age_bracket] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#66
def get_disability_class_vision_difficulty_by_sex_by_age_data(browser):
    # Find the "Disability Class Vision Difficulty by Sex by Age" table
    table_xpath = "//h3[@id='disability-class-by-sex-by-age']/following-sibling::table[2]"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("+", "")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[age_bracket] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#67
def get_disability_class_cognitive_difficulty_by_sex_by_age_data(browser):
    # Find the "Disability Class Cognitive Difficulty by Sex by Age" table
    table_xpath = "//h3[@id='disability-class-by-sex-by-age']/following-sibling::table[3]"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("+", "")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[age_bracket] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#68
def get_disability_class_ambulatory_difficulty_by_sex_by_age_data(browser):
    # Find the "Disability Class Ambulatory Difficulty by Sex by Age" table
    table_xpath = "//h3[@id='disability-class-by-sex-by-age']/following-sibling::table[4]"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("+", "")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[age_bracket] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#69
def get_disability_class_self_care_difficulty_by_sex_by_age_data(browser):
    # Find the "Disability Class Self-Care Difficulty by Sex by Age" table
    table_xpath = "//h3[@id='disability-class-by-sex-by-age']/following-sibling::table[5]"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            age_bracket = cells[0].text.strip().lower().replace(" ", "_").replace("+", "")
            male_count = cells[1].text.split()[0].replace(",", "")
            female_count = cells[2].text.split()[0].replace(",", "")
            data[age_bracket] = {
                "Male": male_count,
                "Female": female_count
            }

    return data

#70
def get_computing_device_access_data(browser):
    # Find the "Computing Device Access" table
    table_xpath = "//h3[@id='computing-device-access']/following-sibling::table[1]"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            device_type = cells[0].text.strip().lower().replace(" ", "_")
            num_households = cells[1].text.replace(",", "")
            data[device_type] = num_households

    return data

#71
def get_internet_access_data(browser):
    # Find the "Internet Access" table
    table_xpath = "//h3[@id='internet-access']/following-sibling::table[1]"
    table = browser.find_element(By.XPATH, table_xpath)

    # Extract the data from the table
    data = {}
    rows = table.find_elements(By.XPATH, ".//tbody/tr")
    for row in rows:
        cells = row.find_elements(By.XPATH, ".//td")
        if len(cells) == 3:
            internet_type = cells[0].text.strip().lower().replace(" ", "_").replace("-", "_")
            num_households = cells[1].text.replace(",", "")
            data[internet_type] = num_households

    return data

In [14]:
def extract_and_add_data(browser, zip_code):
    # Extract the zip code from the heading
    zip_code_element = browser.find_element(By.XPATH, "//h1[contains(text(), 'Zip Code')]")
    zip_code = zip_code_element.text.split()[-1]
    
    #1 Extract the race data
    race_data = get_race_data(browser)

    df_1['Zip_Code'] = df_1['Zip_Code'].astype(str)  # Convert 'Zip_Code' column to string

    #2 Extract and add the ancestry data for the current zip code
    extract_and_add_ancestry_data(browser)

    #3 Extract and add the immigration data for the current zip code
    extract_and_add_immigration_data(browser)

    #4 Extract the sex and age data
    sex_and_age_data = get_sex_and_age_data(browser)
    
    #5 Extract the median family size by type data
    median_family_size_by_type_data = get_median_family_size_by_type_data(browser)
    
    #6 Extract the median household size by type data
    median_household_size_by_type_data = get_median_household_size_by_type_data(browser)

    #7 Extract the household size by marriage status data
    household_size_by_marriage_status_data = get_household_size_by_marriage_status_data(browser)
    
    #8 Extract the fertility by age data
    fertility_by_age_data = get_fertility_by_age_data(browser)
    
    #9 Extract the fertility by age by marriage status data
    fertility_by_age_by_marriage_status_data = get_fertility_by_age_by_marriage_status_data(browser)
    
    #10 Extract the fertility by education data
    fertility_by_education_data = get_fertility_by_education_data(browser)
    
    #11 Execute the function to get the data
    fertility_by_education_by_marriage_status_data = get_fertility_by_education_by_marriage_status_data(browser)
    
    #12 Extract the income overview data
    income_overview_data = get_income_overview_data(browser)
    
    #13 Extract the earnings by sex data
    earnings_by_sex_data = get_earnings_by_sex_data(browser)
    
    #14 Extract the earnings by sex by income data
    earnings_by_sex_by_income_data = get_earnings_by_sex_by_income_data(browser)
    
    #15 Extract the earnings by sex by education data
    earnings_by_sex_by_education_data = get_earnings_by_sex_by_education_data(browser)
    
    #16 Extract the family income brackets data
    family_income_brackets_data = get_family_income_brackets_data(browser)
    # Find the row with the matching zip code
    mask = df_1['Zip_Code'] == zip_code
    
    #17 Extract the family income by family size data
    family_income_by_size_data = get_family_income_by_size_data(browser)
    
    #18 Extract the family income by number of earners data
    family_income_by_earners_data = get_family_income_by_earners_data(browser)
    
    #19 Extract the household income brackets data
    household_income_brackets_data = get_household_income_brackets_data(browser)
    
    #20 Extract the household income by householder age data
    household_income_by_age_data = get_household_income_by_age_data(browser)
    
    #21 Extract the income below poverty by sex and age data
    income_below_poverty_by_sex_age_data = get_income_below_poverty_by_sex_age_data(browser)
    
    #22 Extract the income above poverty by sex and age data
    income_above_poverty_by_sex_age_data = get_income_above_poverty_by_sex_age_data(browser)
    
    #23 Extract the income below poverty among married-couple families data
    income_below_poverty_married_couples_data = get_income_below_poverty_married_couples_data(browser)
    
    #24 Extract the income below poverty among single-parent households data
    income_below_poverty_single_parents_data = get_income_below_poverty_single_parents_data(browser)

    #25 Extract the income below poverty among married-couple vs single-parent households data
    income_below_poverty_married_vs_single_data = get_income_below_poverty_married_vs_single_data(browser)
    
    #26 Extract the employment by class of employer data
    employment_by_class_data = get_employment_by_class_of_employer_data(browser)
    
    #27 Extract the employment status by age data
    employment_status_by_age_data = get_employment_status_by_age_data(browser)
    
    #28 Extract the employment status by educational attainment data
    employment_status_by_education_data = get_employment_status_by_education_data(browser)
    
    #29 Extract the employment occupations by sex data
    employment_occupations_by_sex_data = get_employment_occupations_by_sex_data(browser)
    
    #30 Extract the employment service occupations by sex data
    employment_service_occupations_by_sex_data = get_employment_service_occupations_by_sex_data(browser)
    
    #31 Extract the employment sales and office occupations by sex data
    employment_sales_office_occupations_by_sex_data = get_employment_sales_office_occupations_by_sex_data(browser)

    #32 Extract the natural resources, construction, and maintenance occupations by sex data
    natural_resources_construction_maintenance_occupations_by_sex_data = get_natural_resources_construction_maintenance_occupations_by_sex_data(browser)

    #33 Extract the production, transportation, and moving occupations by sex data
    production_transportation_moving_occupations_by_sex_data = get_production_transportation_moving_occupations_by_sex_data(browser)
    
    #34 Extract the employment industries by sex data
    employment_industries_by_sex_data = get_employment_industries_by_sex_data(browser)
    
    #35 Extract the school enrollment
    school_enrollment_data = get_school_enrollment_data(browser)
    
    #36 Extract the school enrollment by age by funding data
    school_enrollment_by_age_by_funding_data = get_school_enrollment_by_age_by_funding_data(browser)
    
    #37 Extract the educational attainment by field of study data
    educational_attainment_data = get_educational_attainment_by_field_of_study(browser)
    
    #38 Extract the vehicle availability by sex data
    vehicle_availability_data = get_vehicle_availability_by_sex(browser)
    
    #39 Extract the commute time data
    commute_time_data = get_commute_time_data(browser)
    
    #40 Extract the commute time by sex data
    commute_time_by_sex_data = get_commute_time_by_sex_data(browser)
    
    #41 Extract the time of departure to work by sex data
    time_of_departure_to_work_by_sex_data = get_time_of_departure_to_work_by_sex_data(browser)
    
    #42 Extract the occupancy by ownership data
    occupancy_by_ownership_data = get_occupancy_by_ownership_data(browser)
    
    #43 Extract the occupancy by household size data
    occupancy_by_household_size_data = get_occupancy_by_household_size_data(browser)
    
    #44 Extract the occupancy by ownership by household size data
    occupancy_by_ownership_by_household_size_data = get_occupancy_by_ownership_by_household_size_data(browser)
    
    #45 Extract the occupancy by educational attainment data
    occupancy_by_educational_attainment_data = get_occupancy_by_educational_attainment_data(browser)
    
    #46 Extract the occupancy by age of householder data
    occupancy_by_age_of_householder_data = get_occupancy_by_age_of_householder_data(browser)
    
    #47 Extract the median income by occupancy data
    median_income_by_occupancy_data = get_median_income_by_occupancy_data(browser)
    
    
    #48 Extract the occupancy by householder income bracket data
    occupancy_by_householder_income_bracket_data = get_occupancy_by_householder_income_bracket_data(browser)
    
    #49 Extract the monthly housing cost tiers data
    monthly_housing_cost_tiers_data = get_monthly_housing_cost_tiers_data(browser)
    
    #50 Extract the housing structures data
    housing_structures_data = get_housing_structures_data(browser)
    
    #51 Extract the housing structures by occupancy data
    housing_structures_by_occupancy_data = get_housing_structures_by_occupancy_data(browser)
    
    #52 Extract the housing structures by number of rooms data
    housing_structures_by_number_of_rooms_data = get_housing_structures_by_number_of_rooms_data(browser)
    
    #53 Extract the housing structure by heating type data
    housing_structure_by_heating_type_data = get_housing_structure_by_heating_type_data(browser)
    
    #54 Extract the household vehicle usage data
    household_vehicle_usage_data = get_household_vehicle_usage_data(browser)
    
    #55 Extract the real estate and mortgage overview data
    real_estate_and_mortgage_overview_data = get_real_estate_and_mortgage_overview_data(browser)
    
    #56 Extract the property value by mortgage status data
    property_value_by_mortgage_status_data = get_property_value_by_mortgage_status_data(browser)
    
    #57 Extract the household income by mortgage status data
    household_income_by_mortgage_status_data = get_household_income_by_mortgage_status_data(browser)
    
    #58 Extract the property value to household income ratio data
    property_value_to_household_income_ratio_data = get_property_value_to_household_income_ratio_data(browser)
    
    #59 Extract the real estate taxes by mortgage status data
    real_estate_taxes_by_mortgage_status_data = get_real_estate_taxes_by_mortgage_status_data(browser)
    
    #60 Extract the health insurance coverage by age data
    health_insurance_coverage_by_age_data = get_health_insurance_coverage_by_age_data(browser)
    
    #61 Extract the health insurance coverage by citizenship status data
    health_insurance_coverage_by_citizenship_data = get_health_insurance_coverage_by_citizenship_data(browser)
    
    #62 Extract the health insurance coverage by household income data
    health_insurance_coverage_by_household_income_data = get_health_insurance_coverage_by_household_income_data(browser)
    
    #63 Extract the public vs private health insurance coverage by age data
    public_vs_private_health_insurance_coverage_by_age_data = get_public_vs_private_health_insurance_coverage_by_age_data(browser)
    
    #64 Extract the disability status by sex by age data
    disability_status_by_sex_by_age_data = get_disability_status_by_sex_by_age_data(browser)

    #65 Extract the disability class by sex and age data
    disability_class_hearing_difficulty_by_sex_by_age_data = get_disability_class_hearing_difficulty_by_sex_by_age_data(browser)

    #66 Extract the disability class by sex and age data
    disability_class_vision_difficulty_by_sex_by_age_data = get_disability_class_vision_difficulty_by_sex_by_age_data(browser)

    #67 Extract the disability class by sex and age data
    disability_class_cognitive_difficulty_by_sex_by_age_data = get_disability_class_cognitive_difficulty_by_sex_by_age_data(browser)

    #68 Extract the disability class by sex and age data
    disability_class_ambulatory_difficulty_by_sex_by_age_data = get_disability_class_ambulatory_difficulty_by_sex_by_age_data(browser)
    
    #69 Extract the disability class by sex and age data
    disability_class_self_care_difficulty_by_sex_by_age_data = get_disability_class_self_care_difficulty_by_sex_by_age_data(browser)
    
    #70 Extract the computing device access data
    computing_device_access_data = get_computing_device_access_data(browser)

    #71 Extract the internet access data
    internet_access_data = get_internet_access_data(browser)
    
    
    if mask.any():
        index = df_1.index[mask].tolist()[0]
        
        #1
        df_1.at[index, 'Race_Asian'] = int(race_data.get('asian', '0'))
        df_1.at[index, 'Race_Black_African'] = int(race_data.get('black___african_american', '0'))
        df_1.at[index, 'Race_Hawaiian_Pacific'] = int(race_data.get('hawaiian___pacific', '0'))
        df_1.at[index, 'Race_Hispanic_Or_Latino'] = int(race_data.get('hispanic_or_latino', '0'))
        df_1.at[index, 'Race_Native_Alaskan'] = int(race_data.get('native___alaskan', '0'))
        df_1.at[index, 'Race_White_Caucasian'] = int(race_data.get('white___caucasian', '0'))
        df_1.at[index, 'Race_Two_Or_More_Races'] = int(race_data.get('two_or_more_races', '0'))
        df_1.at[index, 'Race_Some_Other_Race'] = int(race_data.get('some_other_race', '0'))
        
        #4
        df_1.at[index, 'Sex_And_Age_Male_Under_5_Years'] = sex_and_age_data.get('under_5_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_Under_5_Years'] = sex_and_age_data.get('under_5_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_5_To_9_Years'] = sex_and_age_data.get('5_to_9_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_5_To_9_Years'] = sex_and_age_data.get('5_to_9_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_10_To_14_Years'] = sex_and_age_data.get('10_to_14_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_10_To_14_Years'] = sex_and_age_data.get('10_to_14_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_15_To_19_Years'] = sex_and_age_data.get('15_to_19_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_15_To_19_Years'] = sex_and_age_data.get('15_to_19_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_20_To_24_Years'] = sex_and_age_data.get('20_to_24_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_20_To_24_Years'] = sex_and_age_data.get('20_to_24_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_25_To_29_Years'] = sex_and_age_data.get('25_to_29_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_25_To_29_Years'] = sex_and_age_data.get('25_to_29_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_30_To_34_Years'] = sex_and_age_data.get('30_to_34_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_30_To_34_Years'] = sex_and_age_data.get('30_to_34_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_35_To_39_Years'] = sex_and_age_data.get('35_to_39_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_35_To_39_Years'] = sex_and_age_data.get('35_to_39_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_40_To_44_Years'] = sex_and_age_data.get('40_to_44_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_40_To_44_Years'] = sex_and_age_data.get('40_to_44_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_45_To_49_Years'] = sex_and_age_data.get('45_to_49_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_45_To_49_Years'] = sex_and_age_data.get('45_to_49_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_50_To_54_Years'] = sex_and_age_data.get('50_to_54_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_50_To_54_Years'] = sex_and_age_data.get('50_to_54_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_55_To_59_Years'] = sex_and_age_data.get('55_to_59_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_55_To_59_Years'] = sex_and_age_data.get('55_to_59_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_60_To_64_Years'] = sex_and_age_data.get('60_to_64_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_60_To_64_Years'] = sex_and_age_data.get('60_to_64_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_65_To_69_Years'] = sex_and_age_data.get('65_to_69_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_65_To_69_Years'] = sex_and_age_data.get('65_to_69_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_70_To_74_Years'] = sex_and_age_data.get('70_to_74_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_70_To_74_Years'] = sex_and_age_data.get('70_to_74_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_75_To_79_Years'] = sex_and_age_data.get('75_to_79_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_75_To_79_Years'] = sex_and_age_data.get('75_to_79_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_80_To_84_Years'] = sex_and_age_data.get('80_to_84_years', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_80_To_84_Years'] = sex_and_age_data.get('80_to_84_years', {}).get('female', None)
        df_1.at[index, 'Sex_And_Age_Male_85_Years_and_Over'] = sex_and_age_data.get('85_years_and_over', {}).get('male', None)
        df_1.at[index, 'Sex_And_Age_Female_85_Years_and_Over'] = sex_and_age_data.get('85_years_and_over', {}).get('female', None)
        
        #5 
        df_1.at[index, 'Family_Type_Married_Couple_Number_Of_Families'] = median_family_size_by_type_data.get('married_couple', {}).get('num_families', None)
        df_1.at[index, 'Family_Type_Married_Couple_Family_Size'] = median_family_size_by_type_data.get('married_couple', {}).get('family_size', None)
        df_1.at[index, 'Family_Type_Single_Male_Father_Number_Of_Families'] = median_family_size_by_type_data.get('single male_father', {}).get('num_families', None)
        df_1.at[index, 'Family_Type_Single_Male_Father_Family_Size'] = median_family_size_by_type_data.get('single male_father', {}).get('family_size', None)
        df_1.at[index, 'Family_Type_Single_Female_Mother_Number_Of_Families'] = median_family_size_by_type_data.get('single female_mother', {}).get('num_families', None)
        df_1.at[index, 'Family_Type_Single_Female_Mother_Family_Size'] = median_family_size_by_type_data.get('single female_mother', {}).get('family_size', None)
        
        #6
        df_1.at[index, 'Household_Type_Married_Couple_Number_Of_Households'] = median_household_size_by_type_data.get('married_couple', {}).get('num_households', None)
        df_1.at[index, 'Household_Type_Married_Couple_Household_Size'] = median_household_size_by_type_data.get('married_couple', {}).get('household_size', None)
        df_1.at[index, 'Household_Type_Single_Male_Father_Number_Of_Households'] = median_household_size_by_type_data.get('single male_father', {}).get('num_households', None)
        df_1.at[index, 'Household_Type_Single_Male_Father_Household_Size'] = median_household_size_by_type_data.get('single male_father', {}).get('household_size', None)
        df_1.at[index, 'Household_Type_Single_Female_Mother_Number_Of_Households'] = median_household_size_by_type_data.get('single female_mother', {}).get('num_households', None)
        df_1.at[index, 'Household_Type_Single_Female_Mother_Household_Size'] = median_household_size_by_type_data.get('single female_mother', {}).get('household_size', None)
        df_1.at[index, 'Household_Type_Non_Family_Number_Of_Households'] = median_household_size_by_type_data.get('non_family', {}).get('num_households', None)
        df_1.at[index, 'Household_Type_Non_Family_Household_Size'] = median_household_size_by_type_data.get('non_family', {}).get('household_size', None)
        
        #7
        df_1.at[index, 'Household_Size_1_Person_Households_Family_Households'] = household_size_by_marriage_status_data.get('1_person_households', {}).get('family_households', None)
        df_1.at[index, 'Household_Size_1_Person_Households_Non_Family_Households'] = household_size_by_marriage_status_data.get('1_person_households', {}).get('nonfamily_households', None)
        df_1.at[index, 'Household_Size_2_Person_Households_Family_Households'] = household_size_by_marriage_status_data.get('2_person_households', {}).get('family_households', None)
        df_1.at[index, 'Household_Size_2_Person_Households_Non_Family_Households'] = household_size_by_marriage_status_data.get('2_person_households', {}).get('nonfamily_households', None)
        df_1.at[index, 'Household_Size_3_Person_Households_Family_Households'] = household_size_by_marriage_status_data.get('3_person_households', {}).get('family_households', None)
        df_1.at[index, 'Household_Size_3_Person_Households_Non_Family_Households'] = household_size_by_marriage_status_data.get('3_person_households', {}).get('nonfamily_households', None)
        df_1.at[index, 'Household_Size_4_Person_Households_Family_Households'] = household_size_by_marriage_status_data.get('4_person_households', {}).get('family_households', None)
        df_1.at[index, 'Household_Size_4_Person_Households_Non_Family_Households'] = household_size_by_marriage_status_data.get('4_person_households', {}).get('nonfamily_households', None)
        df_1.at[index, 'Household_Size_5_Person_Households_Family_Households'] = household_size_by_marriage_status_data.get('5_person_households', {}).get('family_households', None)
        df_1.at[index, 'Household_Size_5_Person_Households_Non_Family_Households'] = household_size_by_marriage_status_data.get('5_person_households', {}).get('nonfamily_households', None)
        df_1.at[index, 'Household_Size_6_Person_Households_Family_Households'] = household_size_by_marriage_status_data.get('6_person_households', {}).get('family_households', None)
        df_1.at[index, 'Household_Size_6_Person_Households_Non_Family_Households'] = household_size_by_marriage_status_data.get('6_person_households', {}).get('nonfamily_households', None)
        df_1.at[index, 'Household_Size_7_Person_Households_Family_Households'] = household_size_by_marriage_status_data.get('7_person_households', {}).get('family_households', None)
        df_1.at[index, 'Household_Size_7_Person_Households_Non_Family_Households'] = household_size_by_marriage_status_data.get('7_person_households', {}).get('nonfamily_households', None)
        
        #8
        df_1.at[index, 'Fertility_By_Age_15_19_Years_Women_With_Births'] = fertility_by_age_data.get('15_to_19_years', {}).get('women_with_births', None)
        df_1.at[index, 'Fertility_By_Age_15_19_Years_Births_1000_Women'] = fertility_by_age_data.get('15_to_19_years', {}).get('births_per_1000_women', None)
        df_1.at[index, 'Fertility_By_Age_20_34_Years_Women_With_Births'] = fertility_by_age_data.get('20_to_34_years', {}).get('women_with_births', None)
        df_1.at[index, 'Fertility_By_Age_20_34_Years_Births_1000_Women'] = fertility_by_age_data.get('20_to_34_years', {}).get('births_per_1000_women', None)
        df_1.at[index, 'Fertility_By_Age_35_50_Years_Women_With_Births'] = fertility_by_age_data.get('35_to_50_years', {}).get('women_with_births', None)
        df_1.at[index, 'Fertility_By_Age_35_50_Years_Births_1000_Women'] = fertility_by_age_data.get('35_to_50_years', {}).get('births_per_1000_women', None)
        
        #9 Update the DataFrame columns based on fertility by age by marriage status data
        df_1.at[index, 'Fertility_By_Age_By_Marriage_15_19_Years_Married'] = fertility_by_age_by_marriage_status_data.get('15_to_19_years', {}).get('married', None)
        df_1.at[index, 'Fertility_By_Age_By_Marriage_15_19_Years_Unmarried'] = fertility_by_age_by_marriage_status_data.get('15_to_19_years', {}).get('unmarried', None)
        df_1.at[index, 'Fertility_By_Age_By_Marriage_20_34_Years_Married'] = fertility_by_age_by_marriage_status_data.get('20_to_34_years', {}).get('married', None)
        df_1.at[index, 'Fertility_By_Age_By_Marriage_20_34_Years_Unmarried'] = fertility_by_age_by_marriage_status_data.get('20_to_34_years', {}).get('unmarried', None)
        df_1.at[index, 'Fertility_By_Age_By_Marriage_35_50_Years_Married'] = fertility_by_age_by_marriage_status_data.get('35_to_50_years', {}).get('married', None)
        df_1.at[index, 'Fertility_By_Age_By_Marriage_35_50_Years_Unmarried'] = fertility_by_age_by_marriage_status_data.get('35_to_50_years', {}).get('unmarried', None)
        
        #10 Update the DataFrame columns based on fertility by education data
        df_1.at[index, 'Fertility_By_Education_Less_Than_High_School_Women_With_Births'] = fertility_by_education_data.get('less_than_high_school', {}).get('women_with_births', None)
        df_1.at[index, 'Fertility_By_Education_Less_Than_High_School_Births_Per_1000_Women'] = fertility_by_education_data.get('less_than_high_school', {}).get('births_per_1000_women', None)
        df_1.at[index, 'Fertility_By_Education_High_School_Diploma_Women_With_Births'] = fertility_by_education_data.get('high_school_diploma', {}).get('women_with_births', None)
        df_1.at[index, 'Fertility_By_Education_High_School_Diploma_Births_Per_1000_Women'] = fertility_by_education_data.get('high_school_diploma', {}).get('births_per_1000_women', None)
        df_1.at[index, 'Fertility_By_Education_College_Or_Associates_Degree_Women_With_Births'] = fertility_by_education_data.get('college_or_associates_degree', {}).get('women_with_births', None)
        df_1.at[index, 'Fertility_By_Education_College_Or_Associates_Degree_Births_Per_1000_Women'] = fertility_by_education_data.get('college_or_associates_degree', {}).get('births_per_1000_women', None)
        df_1.at[index, 'Fertility_By_Education_Bachelors_Degree_Women_With_Births'] = fertility_by_education_data.get('bachelors_degree', {}).get('women_with_births', None)
        df_1.at[index, 'Fertility_By_Education_Bachelors_Degree_Births_Per_1000_Women'] = fertility_by_education_data.get('bachelors_degree', {}).get('births_per_1000_women', None)
        df_1.at[index, 'Fertility_By_Education_Graduate_Degree_Women_With_Births'] = fertility_by_education_data.get('graduate_degree', {}).get('women_with_births', None)
        df_1.at[index, 'Fertility_By_Education_Graduates_Degree_Births_Per_1000_Women'] = fertility_by_education_data.get('graduate_degree', {}).get('births_per_1000_women', None)
        
        #11 Update the DataFrame columns based on fertility by education by marriage status data
        df_1.at[index, 'Fertility_By_Education_By_Marriage_Less_Than_High_School_Married'] = fertility_by_education_by_marriage_status_data.get('less_than_high_school', {}).get('married', None)
        df_1.at[index, 'Fertility_By_Education_By_Marriage_Less_Than_High_School_Unmarried'] = fertility_by_education_by_marriage_status_data.get('less_than_high_school', {}).get('unmarried', None)
        df_1.at[index, 'Fertility_By_Education_By_Marriage_High_School_Diploma_Married'] = fertility_by_education_by_marriage_status_data.get('high_school_diploma', {}).get('married', None)
        df_1.at[index, 'Fertility_By_Education_By_Marriage_High_School_Diploma_Unmarried'] = fertility_by_education_by_marriage_status_data.get('high_school_diploma', {}).get('unmarried', None)
        df_1.at[index, 'Fertility_By_Education_By_Marriage_College_Or_Associates_Degree_Married'] = fertility_by_education_by_marriage_status_data.get('college_or_associates_degree', {}).get('married', None)
        df_1.at[index, 'Fertility_By_Education_By_Marriage_College_Or_Associates_Degree_Unmarried'] = fertility_by_education_by_marriage_status_data.get('college_or_associates_degree', {}).get('unmarried', None)
        df_1.at[index, 'Fertility_By_Education_By_Marriage_Bachelors_Degree_Married'] = fertility_by_education_by_marriage_status_data.get('bachelors_degree', {}).get('married', None)
        df_1.at[index, 'Fertility_By_Education_By_Marriage_Bachelors_Degree_Unmarried'] = fertility_by_education_by_marriage_status_data.get('bachelors_degree', {}).get('unmarried', None)
        df_1.at[index, 'Fertility_By_Education_By_Marriage_Graduate_Degree_Married'] = fertility_by_education_by_marriage_status_data.get('graduate_degree', {}).get('married', None)
        df_1.at[index, 'Fertility_By_Education_By_Marriage_Graduate_Degree_Unmarried'] = fertility_by_education_by_marriage_status_data.get('graduate_degree', {}).get('unmarried', None)
        
        #12 Update the DataFrame columns based on income overview data
        df_1.at[index, 'Income_Overview_Characteristic_Per_Capita_Income_Number'] = income_overview_data['Per Capita Income']['Number']
        df_1.at[index, 'Income_Overview_Characteristic_Per_Capita_Income_Measure'] = income_overview_data['Per Capita Income']['Measure']
        df_1.at[index, 'Income_Overview_Characteristic_Median_Family_Income_Number'] = income_overview_data['Median Family Income']['Number']
        df_1.at[index, 'Income_Overview_Characteristic_Median_Family_Income_Measure'] = income_overview_data['Median Family Income']['Measure']
        df_1.at[index, 'Income_Overview_Characteristic_Mean_Family_Income_Number'] = income_overview_data['Mean Family Income']['Number']
        df_1.at[index, 'Income_Overview_Characteristic_Mean_Family_Income_Measure'] = income_overview_data['Mean Family Income']['Measure']
        df_1.at[index, 'Income_Overview_Characteristic_Median_Household_Income_Number'] = income_overview_data['Median Household Income']['Number']
        df_1.at[index, 'Income_Overview_Characteristic_Median_Household_Income_Measure'] = income_overview_data['Median Household Income']['Measure']
        df_1.at[index, 'Income_Overview_Characteristic_Mean_Household_Income_Number'] = income_overview_data['Mean Household Income']['Number']
        df_1.at[index, 'Income_Overview_Characteristic_Mean_Household_Income_Measure'] = income_overview_data['Mean Household Income']['Measure']
        df_1.at[index, 'Income_Overview_Characteristic_Income_Deficit_Number'] = income_overview_data['Income Deficit']['Number']
        df_1.at[index, 'Income_Overview_Characteristic_Income_Deficit_Measure'] = income_overview_data['Income Deficit']['Measure']
        df_1.at[index, 'Income_Overview_Characteristic_Wage_Income_Gap_Number'] = income_overview_data['Wage / Income Gap (%)']['Number']
        df_1.at[index, 'Income_Overview_Characteristic_Wage_Income_Gap_Measure_Percentage'] = income_overview_data['Wage / Income Gap (%)']['Measure']
        df_1.at[index, 'Income_Overview_Characteristic_Wage_Income_Gap_Number'] = income_overview_data['Wage / Income Gap ($)']['Number']
        df_1.at[index, 'Income_Overview_Characteristic_Wage_Income_Gap_Measure_USA_Dollars'] = income_overview_data['Wage / Income Gap ($)']['Measure']
        df_1.at[index, 'Income_Overview_Characteristic_Gini_Inequality_Index_Number'] = income_overview_data['Gini / Inequality Index']['Number']
        df_1.at[index, 'Income_Overview_Characteristic_Gini_Inequality_Index_Measure'] = income_overview_data['Gini / Inequality Index']['Measure']
        
        #13 Update the DataFrame columns based on earnings by sex data
        df_1.at[index, 'Earnings_By_Sex_Male_Number'] = earnings_by_sex_data['Male']['Number']
        df_1.at[index, 'Earnings_By_Sex_Male_Average_Earnings'] = earnings_by_sex_data['Male']['Average Earnings']
        df_1.at[index, 'Earnings_By_Sex_Female_Number'] = earnings_by_sex_data['Female']['Number']
        df_1.at[index, 'Earnings_By_Sex_Female_Average_Earnings'] = earnings_by_sex_data['Female']['Average Earnings']
        
        #14
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_2499_Or_Less'] = earnings_by_sex_by_income_data['2499_or_less']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_2499_Or_Less'] = earnings_by_sex_by_income_data['2499_or_less']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_2500_4999'] = earnings_by_sex_by_income_data['2500_to_4999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_2500_4999'] = earnings_by_sex_by_income_data['2500_to_4999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_5000_7499'] = earnings_by_sex_by_income_data['5000_to_7499']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_5000_7499'] = earnings_by_sex_by_income_data['5000_to_7499']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_7500_9999'] = earnings_by_sex_by_income_data['7500_to_9999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_7500_9999'] = earnings_by_sex_by_income_data['7500_to_9999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_10000_12499'] = earnings_by_sex_by_income_data['10000_to_12499']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_10000_12499'] = earnings_by_sex_by_income_data['10000_to_12499']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_12500_14999'] = earnings_by_sex_by_income_data['12500_to_14999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_12500_14999'] = earnings_by_sex_by_income_data['12500_to_14999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_15000_17499'] = earnings_by_sex_by_income_data['15000_to_17499']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_15000_17499'] = earnings_by_sex_by_income_data['15000_to_17499']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_17500_19999'] = earnings_by_sex_by_income_data['17500_to_19999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_17500_19999'] = earnings_by_sex_by_income_data['17500_to_19999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_20000_22499'] = earnings_by_sex_by_income_data['20000_to_22499']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_20000_22499'] = earnings_by_sex_by_income_data['20000_to_22499']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_22500_24999'] = earnings_by_sex_by_income_data['22500_to_24999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_22500_24999'] = earnings_by_sex_by_income_data['22500_to_24999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_25000_29999'] = earnings_by_sex_by_income_data['25000_to_29999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_25000_29999'] = earnings_by_sex_by_income_data['25000_to_29999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_30000_34999'] = earnings_by_sex_by_income_data['30000_to_34999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_30000_34999'] = earnings_by_sex_by_income_data['30000_to_34999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_35000_39999'] = earnings_by_sex_by_income_data['35000_to_39999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_35000_39999'] = earnings_by_sex_by_income_data['35000_to_39999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_40000_44999'] = earnings_by_sex_by_income_data['40000_to_44999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_40000_44999'] = earnings_by_sex_by_income_data['40000_to_44999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_45000_49999'] = earnings_by_sex_by_income_data['45000_to_49999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_45000_49999'] = earnings_by_sex_by_income_data['45000_to_49999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_50000_54999'] = earnings_by_sex_by_income_data['50000_to_54999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_50000_54999'] = earnings_by_sex_by_income_data['50000_to_54999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_55000_64999'] = earnings_by_sex_by_income_data['55000_to_64999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_55000_64999'] = earnings_by_sex_by_income_data['55000_to_64999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_65000_74999'] = earnings_by_sex_by_income_data['65000_to_74999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_65000_74999'] = earnings_by_sex_by_income_data['65000_to_74999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_75000_99999'] = earnings_by_sex_by_income_data['75000_to_99999']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_75000_99999'] = earnings_by_sex_by_income_data['75000_to_99999']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Male_100000_+'] = earnings_by_sex_by_income_data['100000']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Income_Female_100000_+'] = earnings_by_sex_by_income_data['100000']['Female']
        
        #15 Update the DataFrame columns based on earnings by sex by education data
        df_1.at[index, 'Earnings_By_Sex_By_Educational_Attainment_Male_Less_Than_High_School'] = earnings_by_sex_by_education_data['less_than_high_school']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Educational_Attainment_Female_Less_Than_High_School'] = earnings_by_sex_by_education_data['less_than_high_school']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Educational_Attainment_Male_High_School_Diploma'] = earnings_by_sex_by_education_data['high_school_diploma']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Educational_Attainment_Female_High_School_Diploma'] = earnings_by_sex_by_education_data['high_school_diploma']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Educational_Attainment_Male_College_Or_Associates_Degree'] = earnings_by_sex_by_education_data['college_or_associates_degree']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Educational_Attainment_Female_College_Or_Associates_Degree'] = earnings_by_sex_by_education_data['college_or_associates_degree']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Educational_Attainment_Male_Bachelors_Degree'] = earnings_by_sex_by_education_data['bachelors_degree']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Educational_Attainment_Female_Bachelors_Degree'] = earnings_by_sex_by_education_data['bachelors_degree']['Female']
        df_1.at[index, 'Earnings_By_Sex_By_Educational_Attainment_Male_Graduate_Degree'] = earnings_by_sex_by_education_data['graduate_degree']['Male']
        df_1.at[index, 'Earnings_By_Sex_By_Educational_Attainment_Female_Graduate_Degree'] = earnings_by_sex_by_education_data['graduate_degree']['Female']        
        
        #16 Update the DataFrame columns based on family income brackets data
        df_1.at[index, 'Family_Income_Brackets_Number_Families_Less_Than_10000'] = family_income_brackets_data['less_than_10_000']['Number']
        df_1.at[index, 'Family_Income_Brackets_Percentage_Families_Less_Than_10000'] = family_income_brackets_data['less_than_10_000']['Percentage']
        df_1.at[index, 'Family_Income_Brackets_Number_Families_10000_14999'] = family_income_brackets_data['10_000_to_14_999']['Number']
        df_1.at[index, 'Family_Income_Brackets_Percentage_Families_10000_14999'] = family_income_brackets_data['10_000_to_14_999']['Percentage']
        df_1.at[index, 'Family_Income_Brackets_Number_Families_15000_24999'] = family_income_brackets_data['15_000_to_24_999']['Number']
        df_1.at[index, 'Family_Income_Brackets_Percentage_Families_15000_24999'] = family_income_brackets_data['15_000_to_24_999']['Percentage']
        df_1.at[index, 'Family_Income_Brackets_Number_Families_25000_34999'] = family_income_brackets_data['25_000_to_34_999']['Number']
        df_1.at[index, 'Family_Income_Brackets_Percentage_Families_25000_34999'] = family_income_brackets_data['25_000_to_34_999']['Percentage']
        df_1.at[index, 'Family_Income_Brackets_Number_Families_35000_44999'] = family_income_brackets_data['35_000_to_49_999']['Number']
        df_1.at[index, 'Family_Income_Brackets_Percentage_Families_35000_44999'] = family_income_brackets_data['35_000_to_49_999']['Percentage']
        df_1.at[index, 'Family_Income_Brackets_Number_Families_50000_74999'] = family_income_brackets_data['50_000_to_74_999']['Number']
        df_1.at[index, 'Family_Income_Brackets_Percentage_Families_50000_74999'] = family_income_brackets_data['50_000_to_74_999']['Percentage']
        df_1.at[index, 'Family_Income_Brackets_Number_Families_75000_99999'] = family_income_brackets_data['75_000_to_99_999']['Number']
        df_1.at[index, 'Family_Income_Brackets_Percentage_Families_75000_99999'] = family_income_brackets_data['75_000_to_99_999']['Percentage']
        df_1.at[index, 'Family_Income_Brackets_Number_Families_100000_149999'] = family_income_brackets_data['100_000_to_149_999']['Number']
        df_1.at[index, 'Family_Income_Brackets_Percentage_Families_100000_149999'] = family_income_brackets_data['100_000_to_149_999']['Percentage']
        df_1.at[index, 'Family_Income_Brackets_Number_Families_150000_199999'] = family_income_brackets_data['150_000_to_199_999']['Number']
        df_1.at[index, 'Family_Income_Brackets_Percentage_Families_150000_199999'] = family_income_brackets_data['150_000_to_199_999']['Percentage']
        df_1.at[index, 'Family_Income_Brackets_Number_Families_200000_+'] = family_income_brackets_data['200_000+']['Number']
        df_1.at[index, 'Family_Income_Brackets_Percentage_Families_200000_+'] = family_income_brackets_data['200_000+']['Percentage']
        
        #17 Update the DataFrame columns based on family income by family size data
        df_1.at[index, 'Family_Income_By_Family_Size_Number_Families_2_Person_Families'] = family_income_by_size_data['2-person_families']['Number']
        df_1.at[index, 'Family_Income_By_Family_Size_Median_Income_2_Person_Families'] = family_income_by_size_data['2-person_families']['Median Income']
        df_1.at[index, 'Family_Income_By_Family_Size_Number_Families_3_Person_Families'] = family_income_by_size_data['3-person_families']['Number']
        df_1.at[index, 'Family_Income_By_Family_Size_Median_Income_3_Person_Families'] = family_income_by_size_data['3-person_families']['Median Income']
        df_1.at[index, 'Family_Income_By_Family_Size_Number_Families_4_Person_Families'] = family_income_by_size_data['4-person_families']['Number']
        df_1.at[index, 'Family_Income_By_Family_Size_Median_Income_4_Person_Families'] = family_income_by_size_data['4-person_families']['Median Income']
        df_1.at[index, 'Family_Income_By_Family_Size_Number_Families_5_Person_Families'] = family_income_by_size_data['5-person_families']['Number']
        df_1.at[index, 'Family_Income_By_Family_Size_Median_Income_5_Person_Families'] = family_income_by_size_data['5-person_families']['Median Income']
        df_1.at[index, 'Family_Income_By_Family_Size_Number_Families_6_Person_Families'] = family_income_by_size_data['6-person_families']['Number']
        df_1.at[index, 'Family_Income_By_Family_Size_Median_Income_6_Person_Families'] = family_income_by_size_data['6-person_families']['Median Income']
        df_1.at[index, 'Family_Income_By_Family_Size_Number_Families_7_+_Person_Families'] = family_income_by_size_data['7_person_families']['Number']
        df_1.at[index, 'Family_Income_By_Family_Size_Median_Income_7_+_Person_Families'] = family_income_by_size_data['7_person_families']['Median Income']
        
        #18 Update the DataFrame columns based on family income by number of earners data
        df_1.at[index, 'Family_Income_By_Number_Of_Earners_No_Earners_Number'] = family_income_by_earners_data['no_earners']['Number']
        df_1.at[index, 'Family_Income_By_Number_Of_Earners_No_Earners_Median_Income'] = family_income_by_earners_data['no_earners']['Median Income']
        df_1.at[index, 'Family_Income_By_Number_Of_Earners_1_Earners_Number'] = family_income_by_earners_data['1_earner']['Number']
        df_1.at[index, 'Family_Income_By_Number_Of_Earners_1_Earners_Median_Income'] = family_income_by_earners_data['1_earner']['Median Income']
        df_1.at[index, 'Family_Income_By_Number_Of_Earners_2_Earners_Number'] = family_income_by_earners_data['2_earners']['Number']
        df_1.at[index, 'Family_Income_By_Number_Of_Earners_2_Earners_Median_Income'] = family_income_by_earners_data['2_earners']['Median Income']
        df_1.at[index, 'Family_Income_By_Number_Of_Earners_3_+_Earners_Number'] = family_income_by_earners_data['3_earners']['Number']
        df_1.at[index, 'Family_Income_By_Number_Of_Earners_3_+_Earners_Median_Income'] = family_income_by_earners_data['3_earners']['Median Income']
        
        #19 Update the DataFrame columns based on household income brackets data
        df_1.at[index, 'Household_Income_Brackets_Number_Households_Less_Than_10000'] = household_income_brackets_data['less_than_10_000']['Number']
        df_1.at[index, 'Household_Income_Brackets_Percentage_Households_Less_Than_10000'] = household_income_brackets_data['less_than_10_000']['Percentage']
        df_1.at[index, 'Household_Income_Brackets_Number_Households_10000_14999'] = household_income_brackets_data['10_000_to_14_999']['Number']
        df_1.at[index, 'Household_Income_Brackets_Percentage_Households_10000_14999'] = household_income_brackets_data['10_000_to_14_999']['Percentage']
        df_1.at[index, 'Household_Income_Brackets_Number_Households_15000_24999'] = household_income_brackets_data['15_000_to_24_999']['Number']
        df_1.at[index, 'Household_Income_Brackets_Percentage_Households_15000_24999'] = household_income_brackets_data['15_000_to_24_999']['Percentage']
        df_1.at[index, 'Household_Income_Brackets_Number_Households_25000_34999'] = household_income_brackets_data['25_000_to_34_999']['Number']
        df_1.at[index, 'Household_Income_Brackets_Percentage_Households_25000_34999'] = household_income_brackets_data['25_000_to_34_999']['Percentage']
        df_1.at[index, 'Household_Income_Brackets_Number_Households_35000_49999'] = household_income_brackets_data['35_000_to_49_999']['Number']
        df_1.at[index, 'Household_Income_Brackets_Percentage_Households_35000_49999'] = household_income_brackets_data['35_000_to_49_999']['Percentage']
        df_1.at[index, 'Household_Income_Brackets_Number_Households_50000_74999'] = household_income_brackets_data['50_000_to_74_999']['Number']
        df_1.at[index, 'Household_Income_Brackets_Percentage_Households_50000_74999'] = household_income_brackets_data['50_000_to_74_999']['Percentage']
        df_1.at[index, 'Household_Income_Brackets_Number_Households_75000_99999'] = household_income_brackets_data['75_000_to_99_999']['Number']
        df_1.at[index, 'Household_Income_Brackets_Percentage_Households_75000_99999'] = household_income_brackets_data['75_000_to_99_999']['Percentage']
        df_1.at[index, 'Household_Income_Brackets_Number_Households_100000_149999'] = household_income_brackets_data['100_000_to_149_999']['Number']
        df_1.at[index, 'Household_Income_Brackets_Percentage_Households_100000_149999'] = household_income_brackets_data['100_000_to_149_999']['Percentage']
        df_1.at[index, 'Household_Income_Brackets_Number_Households_150000_199999'] = household_income_brackets_data['150_000_to_199_999']['Number']
        df_1.at[index, 'Household_Income_Brackets_Percentage_Households_150000_199999'] = household_income_brackets_data['150_000_to_199_999']['Percentage']
        df_1.at[index, 'Household_Income_Brackets_Number_Households_200000_+'] = household_income_brackets_data['200_000+']['Number']
        df_1.at[index, 'Household_Income_Brackets_Percentage_Households_200000_+'] = household_income_brackets_data['200_000+']['Percentage']
        
        #20 Update the DataFrame columns based on household income by householder age data
        df_1.at[index, 'Household_Income_By_Householder_Age_Number_Households_15_24_Years'] = household_income_by_age_data['15_to_24_years']['Number']
        df_1.at[index, 'Household_Income_By_Householder_Median_Income_Households_15_24_Years'] = household_income_by_age_data['15_to_24_years']['Median Income']
        df_1.at[index, 'Household_Income_By_Householder_Age_Number_Households_25_44_Years'] = household_income_by_age_data['25_to_44_years']['Number']
        df_1.at[index, 'Household_Income_By_Householder_Median_Income_Households_25_44_Years'] = household_income_by_age_data['25_to_44_years']['Median Income']
        df_1.at[index, 'Household_Income_By_Householder_Age_Number_Households_45_64_Years'] = household_income_by_age_data['45_to_64_years']['Number']
        df_1.at[index, 'Household_Income_By_Householder_Median_Income_Households_45_64_Years'] = household_income_by_age_data['45_to_64_years']['Median Income']
        df_1.at[index, 'Household_Income_By_Householder_Age_Number_Households_65_+_Years'] = household_income_by_age_data['65_years']['Number']
        df_1.at[index, 'Household_Income_By_Householder_Median_Income_Households_65_+_Years'] = household_income_by_age_data['65_years']['Median Income']

        #21 Update the DataFrame columns based on income below poverty by sex and age data
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_Under_5_Years'] = income_below_poverty_by_sex_age_data['under_5_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_Under_5_Years'] = income_below_poverty_by_sex_age_data['under_5_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_5_Years'] = income_below_poverty_by_sex_age_data['5_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_5_Years'] = income_below_poverty_by_sex_age_data['5_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_6_11_Years'] = income_below_poverty_by_sex_age_data['6_to_11_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_6_11_Years'] = income_below_poverty_by_sex_age_data['6_to_11_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_12_14_Years'] = income_below_poverty_by_sex_age_data['12_to_14_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_12_14_Years'] = income_below_poverty_by_sex_age_data['12_to_14_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_15_Years'] = income_below_poverty_by_sex_age_data['15_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_15_Years'] = income_below_poverty_by_sex_age_data['15_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_16_17_Years'] = income_below_poverty_by_sex_age_data['16__17_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_16_17_Years'] = income_below_poverty_by_sex_age_data['16__17_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_18_24_Years'] = income_below_poverty_by_sex_age_data['18_to_24_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_18_24_Years'] = income_below_poverty_by_sex_age_data['18_to_24_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_25_34_Years'] = income_below_poverty_by_sex_age_data['25_to_34_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_25_34_Years'] = income_below_poverty_by_sex_age_data['25_to_34_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_35_44_Years'] = income_below_poverty_by_sex_age_data['35_to_44_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_35_44_Years'] = income_below_poverty_by_sex_age_data['35_to_44_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_45_54_Years'] = income_below_poverty_by_sex_age_data['45_to_54_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_45_54_Years'] = income_below_poverty_by_sex_age_data['45_to_54_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_55_64_Years'] = income_below_poverty_by_sex_age_data['55_to_64_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_55_64_Years'] = income_below_poverty_by_sex_age_data['55_to_64_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_65_74_Years'] = income_below_poverty_by_sex_age_data['65_to_74_years']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_65_74_Years'] = income_below_poverty_by_sex_age_data['65_to_74_years']['Female']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Male_75_+_Years'] = income_below_poverty_by_sex_age_data['75_years__over']['Male']
        df_1.at[index, 'Income_Below_Poverty_By_Sex_Female_75_+_Years'] = income_below_poverty_by_sex_age_data['75_years__over']['Female']
        
        #22 Update the DataFrame columns based on income above poverty by sex and age data
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_Under_5_Years'] = income_above_poverty_by_sex_age_data['under_5_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_Under_5_Years'] = income_above_poverty_by_sex_age_data['under_5_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_5_Years'] = income_above_poverty_by_sex_age_data['5_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_5_Years'] = income_above_poverty_by_sex_age_data['5_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_6_11_Years'] = income_above_poverty_by_sex_age_data['6_to_11_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_6_11_Years'] = income_above_poverty_by_sex_age_data['6_to_11_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_12_14_Years'] = income_above_poverty_by_sex_age_data['12_to_14_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_12_14_Years'] = income_above_poverty_by_sex_age_data['12_to_14_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_15_Years'] = income_above_poverty_by_sex_age_data['15_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_15_Years'] = income_above_poverty_by_sex_age_data['15_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_16_17_Years'] = income_above_poverty_by_sex_age_data['16__17_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_16_17_Years'] = income_above_poverty_by_sex_age_data['16__17_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_18_24_Years'] = income_above_poverty_by_sex_age_data['18_to_24_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_18_24_Years'] = income_above_poverty_by_sex_age_data['18_to_24_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_25_34_Years'] = income_above_poverty_by_sex_age_data['25_to_34_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_25_34_Years'] = income_above_poverty_by_sex_age_data['25_to_34_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_35_44_Years'] = income_above_poverty_by_sex_age_data['35_to_44_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_35_44_Years'] = income_above_poverty_by_sex_age_data['35_to_44_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_45_54_Years'] = income_above_poverty_by_sex_age_data['45_to_54_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_45_54_Years'] = income_above_poverty_by_sex_age_data['45_to_54_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_55_64_Years'] = income_above_poverty_by_sex_age_data['55_to_64_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_55_64_Years'] = income_above_poverty_by_sex_age_data['55_to_64_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_65_74_Years'] = income_above_poverty_by_sex_age_data['65_to_74_years']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_65_74_Years'] = income_above_poverty_by_sex_age_data['65_to_74_years']['Female']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Male_75_+_Years'] = income_above_poverty_by_sex_age_data['75_years__over']['Male']
        df_1.at[index, 'Income_Above_Poverty_By_Sex_&_Age_Female_75_+_Years'] = income_above_poverty_by_sex_age_data['75_years__over']['Female']
        
        #23 Update the DataFrame columns based on income below poverty among married-couple families data
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_No_Children'] = income_below_poverty_married_couples_data['no_children']['Above Poverty']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_No_Children'] = income_below_poverty_married_couples_data['no_children']['Below Poverty']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_1_Or_2_Children'] = income_below_poverty_married_couples_data['1_or_2_children']['Above Poverty']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_1_Or_2_Children'] = income_below_poverty_married_couples_data['1_or_2_children']['Below Poverty']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_3_Or_4_Children'] = income_below_poverty_married_couples_data['3_or_4_children']['Above Poverty']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_3_Or_4_Children'] = income_below_poverty_married_couples_data['3_or_4_children']['Below Poverty']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_Families_Above_Poverty_5_+_Children'] = income_below_poverty_married_couples_data['5_or_more_children']['Above Poverty']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_Families_Below_Poverty_5_+_Children'] = income_below_poverty_married_couples_data['5_or_more_children']['Below Poverty']
        
        #24 Update the DataFrame columns based on income below poverty among single-parent households data
        df_1.at[index, 'Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_No_Children'] = income_below_poverty_single_parents_data['no_children']['Single Father']
        df_1.at[index, 'Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_No_Children'] = income_below_poverty_single_parents_data['no_children']['Single Mother']
        df_1.at[index, 'Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_1_Or_2_Children'] = income_below_poverty_single_parents_data['1_or_2_children']['Single Father']
        df_1.at[index, 'Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_1_Or_2_Children'] = income_below_poverty_single_parents_data['1_or_2_children']['Single Mother']
        df_1.at[index, 'Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_3_Or_4_Children'] = income_below_poverty_single_parents_data['3_or_4_children']['Single Father']
        df_1.at[index, 'Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_3_Or_4_Children'] = income_below_poverty_single_parents_data['3_or_4_children']['Single Mother']
        df_1.at[index, 'Income_Below_Poverty_Among_Single_Parent_Households_Single_Father_5_+_Children'] = income_below_poverty_single_parents_data['5_or_more_children']['Single Father']
        df_1.at[index, 'Income_Below_Poverty_Among_Single_Parent_Households_Single_Mother_5_+_Children'] = income_below_poverty_single_parents_data['5_or_more_children']['Single Mother']
        
        #25 Update the DataFrame columns based on income below poverty among married-couple vs single-parent households data
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_No_Children_Married_Couple_Families'] = income_below_poverty_married_vs_single_data['no_children']['Married Couple']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_No_Children_Single_Parent_Households'] = income_below_poverty_married_vs_single_data['no_children']['Single Parent']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_1_Or_2_Children_Married_Couple_Families'] = income_below_poverty_married_vs_single_data['1_or_2_children']['Married Couple']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_1_Or_2_Children_Single_Parent_Households'] = income_below_poverty_married_vs_single_data['1_or_2_children']['Single Parent']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_3_Or_4_Children_Married_Couple_Families'] = income_below_poverty_married_vs_single_data['3_or_4_children']['Married Couple']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_3_Or_4_Children_Single_Parent_Households'] = income_below_poverty_married_vs_single_data['3_or_4_children']['Single Parent']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_5_+_Children_Married_Couple_Families'] = income_below_poverty_married_vs_single_data['5_or_more_children']['Married Couple']
        df_1.at[index, 'Income_Below_Poverty_Among_Married_Couple_VS_Single_Parent_Households_5_+_Children_Single_Parent_Households'] = income_below_poverty_married_vs_single_data['5_or_more_children']['Single Parent']
        
        #26 Update the DataFrame columns based on employment by class of employer data
        df_1.at[index, 'Employment_By_Class_Of_Employer_Private_Company_Employees_Number_Of_Employees'] = employment_by_class_data['private_company_employees']['Number']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Private_Company_Employees_Percentage_Of_Employees'] = employment_by_class_data['private_company_employees']['Percentage']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Self_Employed_Incorporated_Number_Of_Employees'] = employment_by_class_data['self_employed_incorporated']['Number']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Self_Employed_Incorporated_Percentage_Of_Employees'] = employment_by_class_data['self_employed_incorporated']['Percentage']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Self_Employed_Not_Incorporated_Number_Of_Employees'] = employment_by_class_data['self_employed_not_incorporated']['Number']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Self_Employed_Not_Incorporated_Percentage_Of_Employees'] = employment_by_class_data['self_employed_not_incorporated']['Percentage']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Non_For_Profit_Organizations_Number_Of_Employees'] = employment_by_class_data['not_for_profit_organizations']['Number']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Non_For_Profit_Organizations_Percentage_Of_Employees'] = employment_by_class_data['not_for_profit_organizations']['Percentage']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Local_Government_Employees_Number_Of_Employees'] = employment_by_class_data['local_government_employees']['Number']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Local_Government_Employees_Percentage_Of_Employees'] = employment_by_class_data['local_government_employees']['Percentage']
        df_1.at[index, 'Employment_By_Class_Of_Employer_State_Government_Employees_Number_Of_Employees'] = employment_by_class_data['state_government_employees']['Number']
        df_1.at[index, 'Employment_By_Class_Of_Employer_State_Government_Employees_Percentage_Of_Employees'] = employment_by_class_data['state_government_employees']['Percentage']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Federal_Government_Employees_Number_Of_Employees'] = employment_by_class_data['federal_government_employees']['Number']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Federal_Government_Employees_Percentage_Of_Employees'] = employment_by_class_data['federal_government_employees']['Percentage']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Unpaid_Family_Workers_Number_Of_Employees'] = employment_by_class_data['unpaid_family_workers']['Number']
        df_1.at[index, 'Employment_By_Class_Of_Employer_Unpaid_Family_Workers_Employees_Percentage_Of_Employees'] = employment_by_class_data['unpaid_family_workers']['Percentage']
        
        #27 Update the DataFrame columns based on employment status by age data
        df_1.at[index, 'Employment_Status_By_Age_16_19_Years_In_Labor_Force'] = employment_status_by_age_data['16_to_19_years']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Age_16_19_Years_Unemployed'] = employment_status_by_age_data['16_to_19_years']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Age_20_24_Years_In_Labor_Force'] = employment_status_by_age_data['20_to_24_years']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Age_20_24_Years_Unemployed'] = employment_status_by_age_data['20_to_24_years']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Age_25_29_Years_In_Labor_Force'] = employment_status_by_age_data['25_to_29_years']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Age_25_29_Years_Unemployed'] = employment_status_by_age_data['25_to_29_years']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Age_30_34_Years_In_Labor_Force'] = employment_status_by_age_data['30_to_34_years']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Age_30_34_Years_Unemployed'] = employment_status_by_age_data['30_to_34_years']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Age_35_44_Years_In_Labor_Force'] = employment_status_by_age_data['35_to_44_years']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Age_35_44_Years_Unemployed'] = employment_status_by_age_data['35_to_44_years']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Age_45_54_Years_In_Labor_Force'] = employment_status_by_age_data['45_to_54_years']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Age_45_54_Years_Unemployed'] = employment_status_by_age_data['45_to_54_years']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Age_55_59_Years_In_Labor_Force'] = employment_status_by_age_data['55_to_59_years']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Age_55_59_Years_Unemployed'] = employment_status_by_age_data['55_to_59_years']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Age_60_64_Years_In_Labor_Force'] = employment_status_by_age_data['60_to_64_years']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Age_60_64_Years_Unemployed'] = employment_status_by_age_data['60_to_64_years']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Age_65_74_Years_In_Labor_Force'] = employment_status_by_age_data['65_to_74_years']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Age_65_74_Years_Unemployed'] = employment_status_by_age_data['65_to_74_years']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Age_75_+_Years_In_Labor_Force'] = employment_status_by_age_data['75_years__over']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Age_75_+_Years_Unemployed'] = employment_status_by_age_data['75_years__over']['Unemployed']
        
        #28 Update the DataFrame columns based on employment status by education data
        df_1.at[index, 'Employment_Status_By_Educational_Attainment_Less_Than_High_School_In_Labor_Force'] = employment_status_by_education_data['less_than_high_school']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Educational_Attainment_Less_Than_High_School_Unemployed'] = employment_status_by_education_data['less_than_high_school']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Educational_Attainment_High_School_Diploma_In_Labor_Force'] = employment_status_by_education_data['high_school_diploma']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Educational_Attainment_High_School_Diploma_Unemployed'] = employment_status_by_education_data['high_school_diploma']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Educational_Attainment_College_Or_Associate_Degree_In_Labor_Force'] = employment_status_by_education_data['college___associate_degree']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Educational_Attainment_College_Or_Associate_Degree_Unemployed'] = employment_status_by_education_data['college___associate_degree']['Unemployed']
        df_1.at[index, 'Employment_Status_By_Educational_Attainment_Bachelors_+_Degree_In_Labor_Force'] = employment_status_by_education_data['bachelors_degree_or_higher']['In Labor Force']
        df_1.at[index, 'Employment_Status_By_Educational_Attainment_Bachelors_+_Degree_Unemployed'] = employment_status_by_education_data['bachelors_degree_or_higher']['Unemployed']
        
        #29 Update the DataFrame columns based on employment occupations by sex data
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Management"] = employment_occupations_by_sex_data["management"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Management"] = employment_occupations_by_sex_data["management"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Business_Financial"] = employment_occupations_by_sex_data["business__financial"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Business_Financial"] = employment_occupations_by_sex_data["business__financial"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Computers_Engineering_Science"] = employment_occupations_by_sex_data["computers__engineering__science"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Computers_Engineering_Science"] = employment_occupations_by_sex_data["computers__engineering__science"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Computers_Mathematics"] = employment_occupations_by_sex_data["computers__mathematics"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Computers_Mathematics"] = employment_occupations_by_sex_data["computers__mathematics"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Architecture_Engineering"] = employment_occupations_by_sex_data["architecture__engineering"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Architecture_Engineering"] = employment_occupations_by_sex_data["architecture__engineering"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Life_Physical_Social_Science"] = employment_occupations_by_sex_data["life__physical__social_science"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Life_Physical_Social_Science"] = employment_occupations_by_sex_data["life__physical__social_science"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Community_Social_Service"] = employment_occupations_by_sex_data["community__social_service"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Community_Social_Service"] = employment_occupations_by_sex_data["community__social_service"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Education_Arts_Media"] = employment_occupations_by_sex_data["education__arts__media"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Education_Arts_Media"] = employment_occupations_by_sex_data["education__arts__media"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Legal_Services_Support"] = employment_occupations_by_sex_data["legal_services__support"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Legal_Services_Support"] = employment_occupations_by_sex_data["legal_services__support"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Education_Instruction_Library"] = employment_occupations_by_sex_data["education_instruction__library"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Education_Instruction_Library"] = employment_occupations_by_sex_data["education_instruction__library"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Arts_Media_Entertainment"] = employment_occupations_by_sex_data["arts__media__entertainment"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Arts_Media_Entertainment"] = employment_occupations_by_sex_data["arts__media__entertainment"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Health_Diagnosing_Treating"] = employment_occupations_by_sex_data["health_diagnosing__treating"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Health_Diagnosing_Treating"] = employment_occupations_by_sex_data["health_diagnosing__treating"]["Female"]
        df_1.at[index, "Employment_Occupations_By_Sex_Male_Health_Technologists"] = employment_occupations_by_sex_data["health_technologists"]["Male"]
        df_1.at[index, "Employment_Occupations_By_Sex_Female_Health_Technologists"] = employment_occupations_by_sex_data["health_technologists"]["Female"]
        
        #30 Update the DataFrame columns based on employment service occupations by sex data
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Male_Healthcare_Support"] = employment_service_occupations_by_sex_data["healthcare_support"]["Male"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Female_Healthcare_Support"] = employment_service_occupations_by_sex_data["healthcare_support"]["Female"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Male_Security_Protection"] = employment_service_occupations_by_sex_data["security__protection"]["Male"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Female_Security_Protection"] = employment_service_occupations_by_sex_data["security__protection"]["Female"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Male_Firefighting_Prevention"] = employment_service_occupations_by_sex_data["firefighting__prevention"]["Male"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Female_Firefighting_Prevention"] = employment_service_occupations_by_sex_data["firefighting__prevention"]["Female"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Male_Law_Enforcement"] = employment_service_occupations_by_sex_data["law_enforcement"]["Male"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Female_Law_Enforcement"] = employment_service_occupations_by_sex_data["law_enforcement"]["Female"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Male_Food_Preparation_Serving"] = employment_service_occupations_by_sex_data["food_preparation__serving"]["Male"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Female_Food_Preparation_Serving"] = employment_service_occupations_by_sex_data["food_preparation__serving"]["Female"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Male_Cleaning_Maintenance"] = employment_service_occupations_by_sex_data["cleaning__maintenance"]["Male"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Female_Cleaning_Maintenance"] = employment_service_occupations_by_sex_data["cleaning__maintenance"]["Female"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Male_Personal_Care_Service"] = employment_service_occupations_by_sex_data["personal_care__service"]["Male"]
        df_1.at[index, "Employment_Service_Occupations_By_Sex_Female_Personal_Care_Service"] = employment_service_occupations_by_sex_data["personal_care__service"]["Female"]
        
        #31 Update the DataFrame columns based on employment sales and office occupations by sex data
        df_1.at[index, 'Employment_Sales_Office_Occupations_By_Sex_Male_Sales_Related'] = employment_sales_office_occupations_by_sex_data['sales__related']['Male']
        df_1.at[index, 'Employment_Sales_Office_Occupations_By_Sex_Female_Sales_Related'] = employment_sales_office_occupations_by_sex_data['sales__related']['Female']
        df_1.at[index, 'Employment_Sales_Office_Occupations_By_Sex_Male_Office_Administration'] = employment_sales_office_occupations_by_sex_data['office__administration']['Male']
        df_1.at[index, 'Employment_Sales_Office_Occupations_By_Sex_Female_Office_Administration'] = employment_sales_office_occupations_by_sex_data['office__administration']['Female']
        
        #32 Update the DataFrame columns based on natural resources, construction, and maintenance occupations by sex data
        df_1.at[index, 'Natural_Resources_Construction_Maintenance_Occupation_Male_Farming_Fishing_Forestry'] = natural_resources_construction_maintenance_occupations_by_sex_data['farming__fishing__forestry']['Male']
        df_1.at[index, 'Natural_Resources_Construction_Maintenance_Occupation_Female_Farming_Fishing_Forestry'] = natural_resources_construction_maintenance_occupations_by_sex_data['farming__fishing__forestry']['Female']
        df_1.at[index, 'Natural_Resources_Construction_Maintenance_Occupation_Male_Construction_Extraction'] = natural_resources_construction_maintenance_occupations_by_sex_data['construction__extraction']['Male']
        df_1.at[index, 'Natural_Resources_Construction_Maintenance_Occupation_Female_Construction_Extraction'] = natural_resources_construction_maintenance_occupations_by_sex_data['construction__extraction']['Female']
        df_1.at[index, 'Natural_Resources_Construction_Maintenance_Occupation_Male_Installation_Maintenance_Repair'] = natural_resources_construction_maintenance_occupations_by_sex_data['installation__maintenance__repair']['Male']
        df_1.at[index, 'Natural_Resources_Construction_Maintenance_Occupation_Female_Installation_Maintenance_Repair'] = natural_resources_construction_maintenance_occupations_by_sex_data['installation__maintenance__repair']['Female']
        
        #33 Update the DataFrame columns based on production, transportation, and moving occupations by sex data
        df_1.at[index, 'Production_Transportation_Moving_Occupation_Male_Production'] = production_transportation_moving_occupations_by_sex_data['production']['Male']
        df_1.at[index, 'Production_Transportation_Moving_Occupation_Female_Production'] = production_transportation_moving_occupations_by_sex_data['production']['Female']
        df_1.at[index, 'Production_Transportation_Moving_Occupation_Male_Transportation'] = production_transportation_moving_occupations_by_sex_data['transportation']['Male']
        df_1.at[index, 'Production_Transportation_Moving_Occupation_Female_Transportation'] = production_transportation_moving_occupations_by_sex_data['transportation']['Female']
        df_1.at[index, 'Production_Transportation_Moving_Occupation_Male_Material_Moving'] = production_transportation_moving_occupations_by_sex_data['material moving']['Male']
        df_1.at[index, 'Production_Transportation_Moving_Occupation_Female_Material_Moving'] = production_transportation_moving_occupations_by_sex_data['material moving']['Female']
        
        #34 Update the DataFrame columns based on employment industries sex data
        df_1.at[index, 'Employment_Industries_Male_Agriculture_Fishing_Hunting'] = employment_industries_by_sex_data['agriculture_fishing__hunting']['Male']
        df_1.at[index, 'Employment_Industries_Female_Agriculture_Fishing_Hunting'] = employment_industries_by_sex_data['agriculture_fishing__hunting']['Female']
        df_1.at[index, 'Employment_Industries_Male_Mining_Quarrying_Extraction'] = employment_industries_by_sex_data['mining_quarrying__extraction']['Male']
        df_1.at[index, 'Employment_Industries_Female_Agriculture_Mining_Quarrying_Extraction'] = employment_industries_by_sex_data['mining_quarrying__extraction']['Female']
        df_1.at[index, 'Employment_Industries_Male_Construction'] = employment_industries_by_sex_data['construction']['Male']
        df_1.at[index, 'Employment_Industries_Female_Construction'] = employment_industries_by_sex_data['construction']['Female']
        df_1.at[index, 'Employment_Industries_Male_Manufacturing'] = employment_industries_by_sex_data['manufacturing']['Male']
        df_1.at[index, 'Employment_Industries_Female_Manufacturing'] = employment_industries_by_sex_data['manufacturing']['Female']
        df_1.at[index, 'Employment_Industries_Male_Wholesale_Trade'] = employment_industries_by_sex_data['wholesale_trade']['Male']
        df_1.at[index, 'Employment_Industries_Female_Wholesale_Trade'] = employment_industries_by_sex_data['wholesale_trade']['Female']
        df_1.at[index, 'Employment_Industries_Male_Retail_Trade'] = employment_industries_by_sex_data['retail_trade']['Male']
        df_1.at[index, 'Employment_Industries_Female_Retail_Trade'] = employment_industries_by_sex_data['retail_trade']['Female']
        df_1.at[index, 'Employment_Industries_Male_Transportation_Warehousing'] = employment_industries_by_sex_data['transportation__warehousing']['Male']
        df_1.at[index, 'Employment_Industries_Female_Transportation_Warehousing'] = employment_industries_by_sex_data['transportation__warehousing']['Female']
        df_1.at[index, 'Employment_Industries_Male_Utilities'] = employment_industries_by_sex_data['utilities']['Male']
        df_1.at[index, 'Employment_Industries_Female_Utilities'] = employment_industries_by_sex_data['utilities']['Female']
        df_1.at[index, 'Employment_Industries_Male_Information'] = employment_industries_by_sex_data['information']['Male']
        df_1.at[index, 'Employment_Industries_Female_Information'] = employment_industries_by_sex_data['information']['Female']
        df_1.at[index, 'Employment_Industries_Male_Finance_Insurance'] = employment_industries_by_sex_data['finance__insurance']['Male']
        df_1.at[index, 'Employment_Industries_Female_Finance_Insurance'] = employment_industries_by_sex_data['finance__insurance']['Female']
        df_1.at[index, 'Employment_Industries_Male_Real_Estate_Rental_Leasing'] = employment_industries_by_sex_data['real_estate_rental__leasing']['Male']
        df_1.at[index, 'Employment_Industries_Female_Real_Estate_Rental_Leasing'] = employment_industries_by_sex_data['real_estate_rental__leasing']['Female']
        df_1.at[index, 'Employment_Industries_Male_Professional_Scientific'] = employment_industries_by_sex_data['professional__scientific']['Male']
        df_1.at[index, 'Employment_Industries_Female_Professional_Scientific'] = employment_industries_by_sex_data['professional__scientific']['Female']
        df_1.at[index, 'Employment_Industries_Male_Enterprise_Management'] = employment_industries_by_sex_data['enterprise_management']['Male']
        df_1.at[index, 'Employment_Industries_Female_Enterprise_Management'] = employment_industries_by_sex_data['enterprise_management']['Female']
        df_1.at[index, 'Employment_Industries_Male_Administrative_Support'] = employment_industries_by_sex_data['administrative__support']['Male']
        df_1.at[index, 'Employment_Industries_Female_Administrative_Support'] = employment_industries_by_sex_data['administrative__support']['Female']
        df_1.at[index, 'Employment_Industries_Male_Educational_Services'] = employment_industries_by_sex_data['educational_services']['Male']
        df_1.at[index, 'Employment_Industries_Female_Educational_Services'] = employment_industries_by_sex_data['educational_services']['Female']
        df_1.at[index, 'Employment_Industries_Male_Health_Care_Social_Assistance'] = employment_industries_by_sex_data['health_care__social_assistance']['Male']
        df_1.at[index, 'Employment_Industries_Female_Health_Care_Social_Assistance'] = employment_industries_by_sex_data['health_care__social_assistance']['Female']
        df_1.at[index, 'Employment_Industries_Male_Arts_Entertainment_Recreation'] = employment_industries_by_sex_data['arts_entertainment__recreation']['Male']
        df_1.at[index, 'Employment_Industries_Female_Arts_Entertainment_Recreation'] = employment_industries_by_sex_data['arts_entertainment__recreation']['Female']
        df_1.at[index, 'Employment_Industries_Male_Accommodation_Food_Services'] = employment_industries_by_sex_data['accommodation__food_services']['Male']
        df_1.at[index, 'Employment_Industries_Female_Accommodation_Food_Services'] = employment_industries_by_sex_data['accommodation__food_services']['Female']
        df_1.at[index, 'Employment_Industries_Male_Public_Administration'] = employment_industries_by_sex_data['public_administration']['Male']
        df_1.at[index, 'Employment_Industries_Female_Public_Administration'] = employment_industries_by_sex_data['public_administration']['Female']
        
        #35 Update the DataFrame columns based on school enrollment data
        df_1.at[index, 'School_Enrollment_Nursery_Pre_School_Number_Students'] = school_enrollment_data['nursery___preschool']
        df_1.at[index, 'School_Enrollment_Kindergarten_Number_Students'] = school_enrollment_data['kindergarten']
        df_1.at[index, 'School_Enrollment_Elementary_School_Number_Students'] = school_enrollment_data['elementary_school']
        df_1.at[index, 'School_Enrollment_Middle_School_Number_Students'] = school_enrollment_data['middle_school']
        df_1.at[index, 'School_Enrollment_Highschool_School_Number_Students'] = school_enrollment_data['high_school']
        df_1.at[index, 'School_Enrollment_College_Undergraduate_Number_Students'] = school_enrollment_data['college___undergraduate']
        df_1.at[index, 'School_Enrollment_Graduate_Professional_Number_Students'] = school_enrollment_data['graduate___professional']
        
        #36 Update the DataFrame columns based on school enrollment by age by funding data
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_3_4_Year_Public_School'] = school_enrollment_by_age_by_funding_data['3_to_4_year_olds']['Public School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_3_4_Year_Private_School'] = school_enrollment_by_age_by_funding_data['3_to_4_year_olds']['Private School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_5_9_Year_Public_School'] = school_enrollment_by_age_by_funding_data['5_to_9_year_old']['Public School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_5_9_Year_Private_School'] = school_enrollment_by_age_by_funding_data['5_to_9_year_old']['Private School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_10_14_Year_Public_School'] = school_enrollment_by_age_by_funding_data['10_to_14_year_olds']['Public School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_10_14_Year_Private_School'] = school_enrollment_by_age_by_funding_data['10_to_14_year_olds']['Private School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_15_17_Year_Public_School'] = school_enrollment_by_age_by_funding_data['15_to_17_year_olds']['Public School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_15_17_Year_Private_School'] = school_enrollment_by_age_by_funding_data['15_to_17_year_olds']['Private School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_18_19_Year_Public_School'] = school_enrollment_by_age_by_funding_data['18_to_19_year_olds']['Public School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_18_19_Year_Private_School'] = school_enrollment_by_age_by_funding_data['18_to_19_year_olds']['Private School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_20_24_Year_Public_School'] = school_enrollment_by_age_by_funding_data['20_to_24_year_olds']['Public School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_20_24_Year_Private_School'] = school_enrollment_by_age_by_funding_data['20_to_24_year_olds']['Private School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_25_34_Year_Public_School'] = school_enrollment_by_age_by_funding_data['25_to_34_year_olds']['Public School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_25_34_Year_Private_School'] = school_enrollment_by_age_by_funding_data['25_to_34_year_olds']['Private School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_35_+_Year_Public_School'] = school_enrollment_by_age_by_funding_data['35_years_and_over']['Public School']
        df_1.at[index, 'School_Enrollment_By_Age_By_Funding_35_+_Year_Private_School'] = school_enrollment_by_age_by_funding_data['35_years_and_over']['Private School']
        
        #37 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Computers_and_Mathematics_Graduates'] = educational_attainment_data['computers_and_mathematics']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Computers_and_Mathematics_Percentage'] = educational_attainment_data['computers_and_mathematics']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Bio_Nature_and_Agricultural_Graduates'] = educational_attainment_data['bio,_nature_and_agricultural']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Bio_Nature_and_Agricultural_Percentage'] = educational_attainment_data['bio,_nature_and_agricultural']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Physical_and_Health_Sciences_Graduates'] = educational_attainment_data['physical_and_health_sciences']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Physical_and_Health_Sciences_Percentage'] = educational_attainment_data['physical_and_health_sciences']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Psychology_Graduates'] = educational_attainment_data['psychology']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Psychology_Percentage'] = educational_attainment_data['psychology']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Social_Sciences_Graduates'] = educational_attainment_data['social_sciences']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Social_Sciences_Percentage'] = educational_attainment_data['social_sciences']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Engineering_Graduates'] = educational_attainment_data['engineering']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Engineering_Percentage'] = educational_attainment_data['engineering']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Multidisciplinary_Studies_Graduates'] = educational_attainment_data['multidisciplinary_studies']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Multidisciplinary_Studies_Percentage'] = educational_attainment_data['multidisciplinary_studies']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Science_and_Technology_Graduates'] = educational_attainment_data['science_and_technology']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Science_and_Technology_Percentage'] = educational_attainment_data['science_and_technology']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Business_Graduates'] = educational_attainment_data['business']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Business_Percentage'] = educational_attainment_data['business']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Education_Graduates'] = educational_attainment_data['education']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Education_Percentage'] = educational_attainment_data['education']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Literature_and_Languages_Graduates'] = educational_attainment_data['literature_and_languages']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Literature_and_Languages_Percentage'] = educational_attainment_data['literature_and_languages']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Liberal_Arts_and_History_Graduates'] = educational_attainment_data['liberal_arts_and_history']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Liberal_Arts_and_History_Percentage'] = educational_attainment_data['liberal_arts_and_history']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Visual_and_Performing_Arts_Graduates'] = educational_attainment_data['visual_and_performing_arts']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Visual_and_Performing_Arts_Percentage'] = educational_attainment_data['visual_and_performing_arts']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Communications_Graduates'] = educational_attainment_data['communications']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Communications_Percentage'] = educational_attainment_data['communications']['percentage']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Arts_and_Humanities_Graduates'] = educational_attainment_data['arts_and_humanities']['graduates']
        df_1.at[index, 'Educational_Attainment_By_Field_Of_Study_Arts_and_Humanities_Percentage'] = educational_attainment_data['arts_and_humanities']['percentage']
        
        #38 Update the DataFrame columns based on vehicle availability by sex data
        df_1.at[index, 'Vehicle_Availability_By_Sex_Male_No_Vehicle'] = vehicle_availability_data['no_vehicle']['male']
        df_1.at[index, 'Vehicle_Availability_By_Sex_Female_No_Vehicle'] = vehicle_availability_data['no_vehicle']['female']
        df_1.at[index, 'Vehicle_Availability_By_Sex_Male_1_Vehicle'] = vehicle_availability_data['1_vehicle']['male']
        df_1.at[index, 'Vehicle_Availability_By_Sex_Female_1_Vehicle'] = vehicle_availability_data['1_vehicle']['female']
        df_1.at[index, 'Vehicle_Availability_By_Sex_Male_2_Vehicles'] = vehicle_availability_data['2_vehicles']['male']
        df_1.at[index, 'Vehicle_Availability_By_Sex_Female_2_Vehicles'] = vehicle_availability_data['2_vehicles']['female']
        df_1.at[index, 'Vehicle_Availability_By_Sex_Male_3_Vehicles'] = vehicle_availability_data['3_vehicles']['male']
        df_1.at[index, 'Vehicle_Availability_By_Sex_Female_3_Vehicles'] = vehicle_availability_data['3_vehicles']['female']
        df_1.at[index, 'Vehicle_Availability_By_Sex_Male_4_Vehicles'] = vehicle_availability_data['4_vehicles']['male']
        df_1.at[index, 'Vehicle_Availability_By_Sex_Female_4_Vehicles'] = vehicle_availability_data['4_vehicles']['female']
        df_1.at[index, 'Vehicle_Availability_By_Sex_Male_5_+_Vehicles'] = vehicle_availability_data['5_or_more_vehicles']['male']
        df_1.at[index, 'Vehicle_Availability_By_Sex_Female_5_+_Vehicles'] = vehicle_availability_data['5_or_more_vehicles']['female']
        
        #39 Update the DataFrame columns based on commute time data
        df_1.at[index, 'Commute_Time_Less_Than_5_Minutes'] = commute_time_data['less_than_5_minutes']
        df_1.at[index, 'Commute_Time_5_9_Minutes'] = commute_time_data['5_to_9_minutes']
        df_1.at[index, 'Commute_Time_10_14_Minutes'] = commute_time_data['10_to_14_minutes']
        df_1.at[index, 'Commute_Time_15_19_Minutes'] = commute_time_data['15_to_19_minutes']
        df_1.at[index, 'Commute_Time_20_24_Minutes'] = commute_time_data['20_to_24_minutes']
        df_1.at[index, 'Commute_Time_25_29_Minutes'] = commute_time_data['25_to_29_minutes']
        df_1.at[index, 'Commute_Time_30_34_Minutes'] = commute_time_data['30_to_34_minutes']
        df_1.at[index, 'Commute_Time_35_39_Minutes'] = commute_time_data['35_to_39_minutes']
        df_1.at[index, 'Commute_Time_40_44_Minutes'] = commute_time_data['40_to_44_minutes']
        df_1.at[index, 'Commute_Time_45_59_Minutes'] = commute_time_data['45_to_59_minutes']
        df_1.at[index, 'Commute_Time_60_89_Minutes'] = commute_time_data['60_to_89_minutes']
        df_1.at[index, 'Commute_Time_90_+_Minutes'] = commute_time_data['90_or_more_minutes']
        
        #40 Update the DataFrame columns based on commute time by sex data
        df_1.at[index, 'Commute_Time_By_Sex_Less_Than_5_Minutes_Male'] = commute_time_by_sex_data['less_than_5_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_Less_Than_5_Minutes_Female'] = commute_time_by_sex_data['less_than_5_minutes']['female']
        df_1.at[index, 'Commute_Time_By_Sex_5_9_Minutes_Male'] = commute_time_by_sex_data['5_to_9_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_5_9_Minutes_Female'] = commute_time_by_sex_data['5_to_9_minutes']['female']
        df_1.at[index, 'Commute_Time_By_Sex_10_14_Minutes_Male'] = commute_time_by_sex_data['10_to_14_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_10_14_Minutes_Female'] = commute_time_by_sex_data['10_to_14_minutes']['female']
        df_1.at[index, 'Commute_Time_By_Sex_15_19_Minutes_Male'] = commute_time_by_sex_data['15_to_19_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_15_19_Minutes_Female'] = commute_time_by_sex_data['15_to_19_minutes']['female']
        df_1.at[index, 'Commute_Time_By_Sex_20_24_Minutes_Male'] = commute_time_by_sex_data['20_to_24_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_20_24_Minutes_Female'] = commute_time_by_sex_data['20_to_24_minutes']['female']
        df_1.at[index, 'Commute_Time_By_Sex_25_29_Minutes_Male'] = commute_time_by_sex_data['25_to_29_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_25_29_Minutes_Female'] = commute_time_by_sex_data['25_to_29_minutes']['female']
        df_1.at[index, 'Commute_Time_By_Sex_30_34_Minutes_Male'] = commute_time_by_sex_data['30_to_34_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_30_34_Minutes_Female'] = commute_time_by_sex_data['30_to_34_minutes']['female']
        df_1.at[index, 'Commute_Time_By_Sex_35_39_Minutes_Male'] = commute_time_by_sex_data['35_to_39_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_35_39_Minutes_Female'] = commute_time_by_sex_data['35_to_39_minutes']['female']
        df_1.at[index, 'Commute_Time_By_Sex_40_44_Minutes_Male'] = commute_time_by_sex_data['40_to_44_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_40_44_Minutes_Female'] = commute_time_by_sex_data['40_to_44_minutes']['female']
        df_1.at[index, 'Commute_Time_By_Sex_45_59_Minutes_Male'] = commute_time_by_sex_data['45_to_59_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_45_59_Minutes_Female'] = commute_time_by_sex_data['45_to_59_minutes']['female']
        df_1.at[index, 'Commute_Time_By_Sex_60_89_Minutes_Male'] = commute_time_by_sex_data['60_to_89_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_60_89_Minutes_Female'] = commute_time_by_sex_data['60_to_89_minutes']['female']
        df_1.at[index, 'Commute_Time_By_Sex_90_+_Minutes_Male'] = commute_time_by_sex_data['90_or_more_minutes']['male']
        df_1.at[index, 'Commute_Time_By_Sex_90_+_Minutes_Female'] = commute_time_by_sex_data['90_or_more_minutes']['female']
        
        #41 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_12am_4_59am_Male'] = time_of_departure_to_work_by_sex_data['1200_am_to_459_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_12am_4_59am_Female'] = time_of_departure_to_work_by_sex_data['1200_am_to_459_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_5am_5_29am_Male'] = time_of_departure_to_work_by_sex_data['500_am_to_529_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_5am_5_29am_Female'] = time_of_departure_to_work_by_sex_data['500_am_to_529_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_5_30am_5_59am_Male'] = time_of_departure_to_work_by_sex_data['530_am_to_559_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_5_30am_5_59am_Female'] = time_of_departure_to_work_by_sex_data['530_am_to_559_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_6am_6_29am_Male'] = time_of_departure_to_work_by_sex_data['600_am_to_629_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_6am_6_29am_Female'] = time_of_departure_to_work_by_sex_data['600_am_to_629_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_6_30am_6_59am_Male'] = time_of_departure_to_work_by_sex_data['630_am_to_659_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_6_30am_6_59am_Female'] = time_of_departure_to_work_by_sex_data['630_am_to_659_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_7am_7_29am_Male'] = time_of_departure_to_work_by_sex_data['700_am_to_729_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_7am_7_29am_Female'] = time_of_departure_to_work_by_sex_data['700_am_to_729_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_7_30am_7_59am_Male'] = time_of_departure_to_work_by_sex_data['730_am_to_759_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_7_30am_7_59am_Female'] = time_of_departure_to_work_by_sex_data['730_am_to_759_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_8am_8_29am_Male'] = time_of_departure_to_work_by_sex_data['800_am_to_829_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_8am_8_29am_Female'] = time_of_departure_to_work_by_sex_data['800_am_to_829_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_8_30am_8_59am_Male'] = time_of_departure_to_work_by_sex_data['830_am_to_859_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_8_30am_8_59am_Female'] = time_of_departure_to_work_by_sex_data['830_am_to_859_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_9am_9_29am_Male'] = time_of_departure_to_work_by_sex_data['900_am_to_959_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_9am_9_29am_Female'] = time_of_departure_to_work_by_sex_data['900_am_to_959_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_10am_10_59am_Male'] = time_of_departure_to_work_by_sex_data['1000_am_to_1059_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_10am_10_59am_Female'] = time_of_departure_to_work_by_sex_data['1000_am_to_1059_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_11am_11_59am_Male'] = time_of_departure_to_work_by_sex_data['1100_am_to_1159_am']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_11am_11_59am_Female'] = time_of_departure_to_work_by_sex_data['1100_am_to_1159_am']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_12pm_3_59pm_Male'] = time_of_departure_to_work_by_sex_data['1200_pm_to_359_pm']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_12pm_3_59pm_Female'] = time_of_departure_to_work_by_sex_data['1200_pm_to_359_pm']['female']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_4pm_11_59pm_Male'] = time_of_departure_to_work_by_sex_data['400_pm_to_1159_pm']['male']
        df_1.at[index, 'Time_Of_Departure_To_Work_By_Sex_4pm_11_59pm_Female'] = time_of_departure_to_work_by_sex_data['400_pm_to_1159_pm']['female']
        
        #42 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Housing_Occupany_Ownership_Owner_Housing_Units_Number'] = occupancy_by_ownership_data['owner_occupied_housing_units']
        df_1.at[index, 'Housing_Occupany_Ownership_Renter_Occupied_Housing_Units_Number'] = occupancy_by_ownership_data['renter_occupied_housing_units']
        
        #43 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Ouccupancy_By_Household_1_Person_Household_Number'] = occupancy_by_household_size_data['1_person_household']
        df_1.at[index, 'Ouccupancy_By_Household_2_Person_Household_Number'] = occupancy_by_household_size_data['2_person_household']
        df_1.at[index, 'Ouccupancy_By_Household_3_Person_Household_Number'] = occupancy_by_household_size_data['3_person_household']
        df_1.at[index, 'Ouccupancy_By_Household_4_+_Person_Household_Number'] = occupancy_by_household_size_data['4_person_household']
        
        #44 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Ouccupancy_By_Ownership_By_Household_1_Person_Household_Number'] = occupancy_by_ownership_by_household_size_data['1_person_household']['owner_occupied']
        df_1.at[index, 'Ouccupancy_By_Ownership_By_Household_2_Person_Household_Number'] = occupancy_by_ownership_by_household_size_data['2_person_household']['owner_occupied']
        df_1.at[index, 'Ouccupancy_By_Ownership_By_Household_3_Person_Household_Number'] = occupancy_by_ownership_by_household_size_data['3_person_household']['owner_occupied']
        df_1.at[index, 'Ouccupancy_By_Ownership_By_Household_4_+_Person_Household_Number'] = occupancy_by_ownership_by_household_size_data['4_person_household']['owner_occupied']
        
        #45 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Occupancy_By_Educational_Attainment_Owner_Occupied_Less_Than_High_School'] = occupancy_by_educational_attainment_data['less_than_high_school']['owner_occupied']
        df_1.at[index, 'Occupancy_By_Educational_Attainment_Renter_Occupied_Less_Than_High_School'] = occupancy_by_educational_attainment_data['less_than_high_school']['renter_occupied']
        df_1.at[index, 'Occupancy_By_Educational_Attainment_Owner_Occupied_High_School_Diploma'] = occupancy_by_educational_attainment_data['high_school_diploma']['owner_occupied']
        df_1.at[index, 'Occupancy_By_Educational_Attainment_Renter_Occupied_High_School_Diploma'] = occupancy_by_educational_attainment_data['high_school_diploma']['renter_occupied']
        df_1.at[index, 'Occupancy_By_Educational_Attainment_Owner_Occupied_College_Associate_Degree'] = occupancy_by_educational_attainment_data['college/associate_degree']['owner_occupied']
        df_1.at[index, 'Occupancy_By_Educational_Attainment_Renter_Occupied_College_Associate_Degree'] = occupancy_by_educational_attainment_data['college/associate_degree']['renter_occupied']
        df_1.at[index, 'Occupancy_By_Educational_Attainment_Owner_Occupied_Bachelors_Degree'] = occupancy_by_educational_attainment_data["bachelor's_degree_or_higher"]['owner_occupied']
        df_1.at[index, 'Occupancy_By_Educational_Attainment_Renter_Occupied_Bachelors_Degree'] = occupancy_by_educational_attainment_data["bachelor's_degree_or_higher"]['renter_occupied']
        
        #46 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Occupancy_By_Age_Of_Householder_Number_Households_Under_35_Years'] = occupancy_by_age_of_householder_data['under_35_years']
        df_1.at[index, 'Occupancy_By_Age_Of_Householder_Number_Households_35_44_Years'] = occupancy_by_age_of_householder_data['35_to_44_years']
        df_1.at[index, 'Occupancy_By_Age_Of_Householder_Number_Households_45_54_Years'] = occupancy_by_age_of_householder_data['45_to_54_years']
        df_1.at[index, 'Occupancy_By_Age_Of_Householder_Number_Households_55_64_Years'] = occupancy_by_age_of_householder_data['55_to_64_years']
        df_1.at[index, 'Occupancy_By_Age_Of_Householder_Number_Households_65_74_Years'] = occupancy_by_age_of_householder_data['65_to_74_years']
        df_1.at[index, 'Occupancy_By_Age_Of_Householder_Number_Households_75_84_Years'] = occupancy_by_age_of_householder_data['75_to_84_years']
        df_1.at[index, 'Occupancy_By_Age_Of_Householder_Number_Households_85_+_Years'] = occupancy_by_age_of_householder_data['85_years_and_over']
        
        #47 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Median_Income_By_Occupany_Owner_Occupied_Nunber_Households'] = median_income_by_occupancy_data['owner_occupied']['households']
        df_1.at[index, 'Median_Income_By_Occupany_Owner_Occupied_Median_Income'] = median_income_by_occupancy_data['owner_occupied']['median_income']
        df_1.at[index, 'Median_Income_By_Occupany_Renter_Occupied_Nunber_Households'] = median_income_by_occupancy_data['renter_occupied']['households']
        df_1.at[index, 'Median_Income_By_Occupany_Renter_Occupied_Median_Income'] = median_income_by_occupancy_data['renter_occupied']['median_income']
        
        #48 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Owner_Occupied_Less_Than_5000'] = occupancy_by_householder_income_bracket_data['less_than_5000']['owner_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Renter_Occupied_Less_Than_5000'] = occupancy_by_householder_income_bracket_data['less_than_5000']['renter_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Owner_Occupied_5000_9999'] = occupancy_by_householder_income_bracket_data['5000_to_9999']['owner_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Renter_Occupied_5000_9999'] = occupancy_by_householder_income_bracket_data['5000_to_9999']['renter_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Owner_Occupied_10000_14999'] = occupancy_by_householder_income_bracket_data['10000_to_14999']['owner_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Renter_Occupied_10000_14999'] = occupancy_by_householder_income_bracket_data['10000_to_14999']['renter_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Owner_Occupied_15000_19999'] = occupancy_by_householder_income_bracket_data['15000_to_19999']['owner_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Renter_Occupied_15000_19999'] = occupancy_by_householder_income_bracket_data['15000_to_19999']['renter_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Owner_Occupied_20000_24999'] = occupancy_by_householder_income_bracket_data['20000_to_24999']['owner_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Renter_Occupied_25000_34999'] = occupancy_by_householder_income_bracket_data['25000_to_34999']['renter_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Owner_Occupied_35000_49999'] = occupancy_by_householder_income_bracket_data['35000_to_49999']['owner_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Renter_Occupied_35000_49999'] = occupancy_by_householder_income_bracket_data['35000_to_49999']['renter_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Owner_Occupied_50000_74999'] = occupancy_by_householder_income_bracket_data['50000_to_74999']['owner_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Renter_Occupied_50000_74999'] = occupancy_by_householder_income_bracket_data['50000_to_74999']['renter_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Owner_Occupied_100000_149999'] = occupancy_by_householder_income_bracket_data['100000_to_149999']['owner_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Renter_Occupied_100000_149999'] = occupancy_by_householder_income_bracket_data['100000_to_149999']['renter_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Owner_Occupied_150000_+'] = occupancy_by_householder_income_bracket_data['150000_or_more']['owner_occupied']
        df_1.at[index, 'Occupany_By_Householder_Income_Bracket_Renter_Occupied_150000_+'] = occupancy_by_householder_income_bracket_data['150000_or_more']['renter_occupied']
            
        #49 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Owner_Occupied_Less_Than_300'] = monthly_housing_cost_tiers_data['less_than_300']['owner_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Renter_Occupied_Less_Than_300'] = monthly_housing_cost_tiers_data['less_than_300']['renter_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Owner_Occupied_300_499'] = monthly_housing_cost_tiers_data['300_to_499']['owner_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Renter_Occupied_300_499'] = monthly_housing_cost_tiers_data['300_to_499']['renter_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Owner_Occupied_500_799'] = monthly_housing_cost_tiers_data['500_to_799']['owner_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Renter_Occupied_500_799'] = monthly_housing_cost_tiers_data['500_to_799']['renter_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Owner_Occupied_800_999'] = monthly_housing_cost_tiers_data['800_to_999']['owner_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Renter_Occupied_800_999'] = monthly_housing_cost_tiers_data['800_to_999']['renter_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Owner_Occupied_1000_1499'] = monthly_housing_cost_tiers_data['1000_to_1499']['owner_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Renter_Occupied_1000_1499'] = monthly_housing_cost_tiers_data['1000_to_1499']['renter_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Owner_Occupied_1500_1999'] = monthly_housing_cost_tiers_data['1500_to_1999']['owner_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Renter_Occupied_1500_1999'] = monthly_housing_cost_tiers_data['1500_to_1999']['renter_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Owner_Occupied_2000_2499'] = monthly_housing_cost_tiers_data['2000_to_2499']['owner_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Renter_Occupied_2000_2499'] = monthly_housing_cost_tiers_data['2000_to_2499']['renter_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Owner_Occupied_2500_2999'] = monthly_housing_cost_tiers_data['2500_to_2999']['owner_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Renter_Occupied_2500_2999'] = monthly_housing_cost_tiers_data['2500_to_2999']['renter_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Owner_Occupied_3000_+'] = monthly_housing_cost_tiers_data['3000_or_more']['owner_occupied']
        df_1.at[index, 'Monthly_Housing_Cost_Tiers_Renter_Occupied_3000_+'] = monthly_housing_cost_tiers_data['3000_or_more']['renter_occupied']
        
        #50 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Housing_Structures_Number_Housing_Units_Single_Unit_Detached'] = housing_structures_data.get('single_unit_detached', None)
        df_1.at[index, 'Housing_Structures_Number_Housing_Units_Single_Unit_Attached'] = housing_structures_data.get('single_unit_attached', None)
        df_1.at[index, 'Housing_Structures_Number_Housing_Units_2_Unit_Apartments'] = housing_structures_data.get('2_unit_apartments', None)
        df_1.at[index, 'Housing_Structures_Number_Housing_Units_3_4_Unit_Apartments'] = housing_structures_data.get('3_or_4_unit_apartments', None)
        df_1.at[index, 'Housing_Structures_Number_Housing_Units_5_9_Unit_Apartments'] = housing_structures_data.get('5_to_9_unit_apartments', None)
        df_1.at[index, 'Housing_Structures_Number_Housing_Units_10_+_Unit_Apartments'] = housing_structures_data.get('10_or_more_apartments', None)
        df_1.at[index, 'Housing_Structures_Number_Housing_Units_Mobile_Home_Or_Other'] = housing_structures_data.get('mobile_home___other', None)
        
        #51 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Housing_Structures_By_Occupancy_Owner_Owner_Single_Unit_Detached_Owner_Occupied'] = housing_structures_by_occupancy_data.get('single_unit_detached', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Owner_Owner_Single_Unit_Detached_Renter_Occupied'] = housing_structures_by_occupancy_data.get('single_unit_detached', {}).get('renter_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_Single_Unit_Attached_Owner_Occupied'] = housing_structures_by_occupancy_data.get('single_unit_attached', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_Single_Unit_Attached_Renter_Occupied'] = housing_structures_by_occupancy_data.get('single_unit_attached', {}).get('renter_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_2_Unit_Apartments_Owner_Occupied'] = housing_structures_by_occupancy_data.get('2_unit_apartments', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_2_Unit_Apartments_Renter_Occupied'] = housing_structures_by_occupancy_data.get('2_unit_apartments', {}).get('renter_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_3_4_Unit_Apartments_Owner_Occupied'] = housing_structures_by_occupancy_data.get('3_or_4_unit_apartments', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_3_4_Unit_Apartments_Renter_Occupied'] = housing_structures_by_occupancy_data.get('3_or_4_unit_apartments', {}).get('renter_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_5_9_Unit_Apartments_Owner_Occupied'] = housing_structures_by_occupancy_data.get('5_to_9_unit_apartments', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_5_9_Unit_Apartments_Renter_Occupied'] = housing_structures_by_occupancy_data.get('5_to_9_unit_apartments', {}).get('renter_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_10_+_Unit_Apartments_Owner_Occupied'] = housing_structures_by_occupancy_data.get('10_or_more_apartments', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_10_+_Unit_Apartments_Renter_Occupied'] = housing_structures_by_occupancy_data.get('10_or_more_apartments', {}).get('renter_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_Mobile_Home_Or_Other_Owner_Occupied'] = housing_structures_by_occupancy_data.get('mobile_home___other', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Occupancy_Number_Housing_Units_Mobile_Home_Or_Other_Renter_Occupied'] = housing_structures_by_occupancy_data.get('mobile_home___other', {}).get('renter_occupied', None)
        
        #52 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Housing_Structures_By_Number_Of_Rooms_Owner_Occupied_1_Room'] = housing_structures_by_number_of_rooms_data.get('1_room', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Number_Of_Rooms_Renter_Occupied_1_Room'] = housing_structures_by_number_of_rooms_data.get('1_room', {}).get('renter_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Number_Of_Rooms_Owner_Occupied_2_3_Room'] = housing_structures_by_number_of_rooms_data.get('2_or_3_rooms', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Number_Of_Rooms_Renter_Occupied_2_3_Room'] = housing_structures_by_number_of_rooms_data.get('2_or_3_rooms', {}).get('renter_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Number_Of_Rooms_Owner_Occupied_4_5_Room'] = housing_structures_by_number_of_rooms_data.get('4_or_5_rooms', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Number_Of_Rooms_Renter_Occupied_4_5_Room'] = housing_structures_by_number_of_rooms_data.get('4_or_5_rooms', {}).get('renter_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Number_Of_Rooms_Owner_Occupied_6_7_Room'] = housing_structures_by_number_of_rooms_data.get('6_or_7_rooms', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Number_Of_Rooms_Renter_Occupied_6_7_Room'] = housing_structures_by_number_of_rooms_data.get('6_or_7_rooms', {}).get('renter_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Number_Of_Rooms_Owner_Occupied_8_+_Room'] = housing_structures_by_number_of_rooms_data.get('8_or_more_rooms', {}).get('owner_occupied', None)
        df_1.at[index, 'Housing_Structures_By_Number_Of_Rooms_Renter_Occupied_8_+_Room'] = housing_structures_by_number_of_rooms_data.get('8_or_more_rooms', {}).get('renter_occupied', None)
        
        #53 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Home_Structure_By_Heating_Type_Owner_Occupied_Utility_Gas'] = housing_structure_by_heating_type_data.get('utility_gas', {}).get('owner_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Renter_Occupied_Utility_Gas'] = housing_structure_by_heating_type_data.get('utility_gas', {}).get('renter_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Owner_Occupied_Bottled_Tank_Or_LP_Gas'] = housing_structure_by_heating_type_data.get('bottled_tank_or_lp_gas', {}).get('owner_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Renter_Occupied_Bottled_Tank_Or_LP_Gas'] = housing_structure_by_heating_type_data.get('bottled_tank_or_lp_gas', {}).get('renter_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Owner_Occupied_Electricity'] = housing_structure_by_heating_type_data.get('electricity', {}).get('owner_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Renter_Occupied_Electricity'] = housing_structure_by_heating_type_data.get('electricity', {}).get('renter_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Owner_Occupied_Fuel_Oil_Or_Kerosene'] = housing_structure_by_heating_type_data.get('fuel_oil_or_kerosene', {}).get('owner_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Renter_Occupied_Fuel_Oil_Or_Kerosene'] = housing_structure_by_heating_type_data.get('fuel_oil_or_kerosene', {}).get('renter_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Owner_Occupied_Coal_Or_Coke'] = housing_structure_by_heating_type_data.get('coal_or_coke', {}).get('owner_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Renter_Occupied_Coal_Or_Coke'] = housing_structure_by_heating_type_data.get('coal_or_coke', {}).get('renter_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Owner_Occupied_All_Other_Fuels'] = housing_structure_by_heating_type_data.get('all_other_fuels', {}).get('owner_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Renter_Occupied_All_Other_Fuels'] = housing_structure_by_heating_type_data.get('all_other_fuels', {}).get('renter_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Owner_Occupied_No_Fuel_Used'] = housing_structure_by_heating_type_data.get('no_fuel_used', {}).get('owner_occupied', None)
        df_1.at[index, 'Home_Structure_By_Heating_Type_Renter_Occupied_No_Fuel_Used'] = housing_structure_by_heating_type_data.get('no_fuel_used', {}).get('renter_occupied', None)

        #54 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Household_Vehicle_Usage_Owner_Occupied_No_Vehicle'] = household_vehicle_usage_data.get('no_vehicle', {}).get('owner_occupied', None)
        df_1.at[index, 'Household_Vehicle_Usage_Renter_Occupied_No_Vehicle'] = household_vehicle_usage_data.get('no_vehicle', {}).get('renter_occupied', None)
        df_1.at[index, 'Household_Vehicle_Usage_Owner_Occupied_1_Vehicle'] = household_vehicle_usage_data.get('1_vehicle', {}).get('owner_occupied', None)
        df_1.at[index, 'Household_Vehicle_Usage_Renter_Occupied_1_Vehicle'] = household_vehicle_usage_data.get('1_vehicle', {}).get('renter_occupied', None)
        df_1.at[index, 'Household_Vehicle_Usage_Owner_Occupied_2_Vehicle'] = household_vehicle_usage_data.get('2_vehicles', {}).get('owner_occupied', None)
        df_1.at[index, 'Household_Vehicle_Usage_Renter_Occupied_2_Vehicle'] = household_vehicle_usage_data.get('2_vehicles', {}).get('renter_occupied', None)
        df_1.at[index, 'Household_Vehicle_Usage_Owner_Occupied_3_Vehicle'] = household_vehicle_usage_data.get('3_or_more_vehicles', {}).get('owner_occupied', None)
        df_1.at[index, 'Household_Vehicle_Usage_Renter_Occupied_3_Vehicle'] = household_vehicle_usage_data.get('3_or_more_vehicles', {}).get('renter_occupied', None)
    
        #55 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Real_Estate_And_Mortgage_Overview_Housing_Units_Without_Mortgage'] = real_estate_and_mortgage_overview_data.get('housing_units', {}).get('without_mortgage', None)
        df_1.at[index, 'Real_Estate_And_Mortgage_Overview_Housing_Units_With_Mortgage'] = real_estate_and_mortgage_overview_data.get('housing_units', {}).get('with_mortgage', None)
        df_1.at[index, 'Real_Estate_And_Mortgage_Overview_Median_Property_Value_Without_Mortgage'] = real_estate_and_mortgage_overview_data.get('median_property_value', {}).get('without_mortgage', None)
        df_1.at[index, 'Real_Estate_And_Mortgage_Overview_Median_Property_Value_With_Mortgage'] = real_estate_and_mortgage_overview_data.get('median_property_value', {}).get('with_mortgage', None)
        df_1.at[index, 'Real_Estate_And_Mortgage_Overview_Median_Household_Income_Without_Mortgage'] = real_estate_and_mortgage_overview_data.get('median_household_income', {}).get('without_mortgage', None)
        df_1.at[index, 'Real_Estate_And_Mortgage_Overview_Median_Household_Income_With_Mortgage'] = real_estate_and_mortgage_overview_data.get('median_household_income', {}).get('with_mortgage', None)
        df_1.at[index, 'Real_Estate_And_Mortgage_Overview_Monthly_Housing_Costs_Without_Mortgage'] = real_estate_and_mortgage_overview_data.get('monthly_housing_costs', {}).get('without_mortgage', None)
        df_1.at[index, 'Real_Estate_And_Mortgage_Overview_Monthly_Housing_Costs_With_Mortgage'] = real_estate_and_mortgage_overview_data.get('monthly_housing_costs', {}).get('with_mortgage', None)
        df_1.at[index, 'Real_Estate_And_Mortgage_Overview_Real_Estate_Taxes_Without_Mortgage'] = real_estate_and_mortgage_overview_data.get('real_estate_taxes', {}).get('without_mortgage', None)
        df_1.at[index, 'Real_Estate_And_Mortgage_Overview_Real_Estate_Taxes_With_Mortgage'] = real_estate_and_mortgage_overview_data.get('real_estate_taxes', {}).get('with_mortgage', None)
    
        #56 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Property_Value_By_Mortgage_Status_Without_Mortgage_Less_Than_50000'] = property_value_by_mortgage_status_data.get('less_than_50000', {}).get('without_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_With_Mortgage_Less_Than_50000'] = property_value_by_mortgage_status_data.get('less_than_50000', {}).get('with_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_Without_Mortgage_50000_99999'] = property_value_by_mortgage_status_data.get('50000_to_99999', {}).get('without_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_With_Mortgage_50000_99999'] = property_value_by_mortgage_status_data.get('50000_to_99999', {}).get('with_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_Without_Mortgage_100000_299999'] = property_value_by_mortgage_status_data.get('100000_to_299999', {}).get('without_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_With_Mortgage_100000_299999'] = property_value_by_mortgage_status_data.get('100000_to_299999', {}).get('with_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_Without_Mortgage_300000_499999'] = property_value_by_mortgage_status_data.get('300000_to_499999', {}).get('without_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_With_Mortgage_300000_499999'] = property_value_by_mortgage_status_data.get('300000_to_499999', {}).get('with_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_Without_Mortgage_500000_749999'] = property_value_by_mortgage_status_data.get('500000_to_749999', {}).get('without_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_With_Mortgage_500000_749999'] = property_value_by_mortgage_status_data.get('500000_to_749999', {}).get('with_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_Without_Mortgage_750000_999999'] = property_value_by_mortgage_status_data.get('750000_to_999999', {}).get('without_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_With_Mortgage_750000_999999'] = property_value_by_mortgage_status_data.get('750000_to_999999', {}).get('with_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_Without_Mortgage_1000000_+'] = property_value_by_mortgage_status_data.get('1000000_or_more', {}).get('without_mortgage', None)
        df_1.at[index, 'Property_Value_By_Mortgage_Status_With_Mortgage_1000000_+'] = property_value_by_mortgage_status_data.get('1000000_or_more', {}).get('with_mortgage', None)
    
        #57 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Household_Income_By_Mortgage_Status_Without_Mortgage_Less_Than_10000'] = household_income_by_mortgage_status_data.get('less_than_10000', {}).get('without_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_With_Mortgage_Less_Than_10000'] = household_income_by_mortgage_status_data.get('less_than_10000', {}).get('with_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_Without_Mortgage_10000_24999'] = household_income_by_mortgage_status_data.get('10000_to_24999', {}).get('without_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_With_Mortgage_10000_24999'] = household_income_by_mortgage_status_data.get('10000_to_24999', {}).get('with_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_Without_Mortgage_25000_34999'] = household_income_by_mortgage_status_data.get('25000_to_34999', {}).get('without_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_With_Mortgage_25000_34999'] = household_income_by_mortgage_status_data.get('25000_to_34999', {}).get('with_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_Without_Mortgage_35000_44999'] = household_income_by_mortgage_status_data.get('35000_to_49999', {}).get('without_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_With_Mortgage_35000_44999'] = household_income_by_mortgage_status_data.get('35000_to_49999', {}).get('with_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_Without_Mortgage_50000_74999'] = household_income_by_mortgage_status_data.get('50000_to_74999', {}).get('without_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_With_Mortgage_50000_74999'] = household_income_by_mortgage_status_data.get('50000_to_74999', {}).get('with_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_Without_Mortgage_75000_99999'] = household_income_by_mortgage_status_data.get('75000_to_99999', {}).get('without_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_With_Mortgage_75000_99999'] = household_income_by_mortgage_status_data.get('75000_to_99999', {}).get('with_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_Without_Mortgage_100000_149999'] = household_income_by_mortgage_status_data.get('100000_to_149999', {}).get('without_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_With_Mortgage_100000_149999'] = household_income_by_mortgage_status_data.get('100000_to_149999', {}).get('with_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_Without_Mortgage_150000_+'] = household_income_by_mortgage_status_data.get('150000_or_more', {}).get('without_mortgage', None)
        df_1.at[index, 'Household_Income_By_Mortgage_Status_With_Mortgage_150000_+'] = household_income_by_mortgage_status_data.get('150000_or_more', {}).get('with_mortgage', None)
    
        #58 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Property_Value_To_Household_Income_Ratio_Without_Mortgage_Less_Than_20x'] = property_value_to_household_income_ratio_data.get('less_than_20x', {}).get('without_mortgage', None)
        df_1.at[index, 'Property_Value_To_Household_Income_Ratio_With_Mortgage_Less_Than_20x'] = property_value_to_household_income_ratio_data.get('less_than_20x', {}).get('with_mortgage', None)
        df_1.at[index, 'Property_Value_To_Household_Income_Ratio_Without_Mortgage_20x_29x'] = property_value_to_household_income_ratio_data.get('20x_to_29x', {}).get('without_mortgage', None)
        df_1.at[index, 'Property_Value_To_Household_Income_Ratio_With_Mortgage_20x_29x'] = property_value_to_household_income_ratio_data.get('20x_to_29x', {}).get('with_mortgage', None)
        df_1.at[index, 'Property_Value_To_Household_Income_Ratio_Without_Mortgage_30x_39x'] = property_value_to_household_income_ratio_data.get('30x_to_39x', {}).get('without_mortgage', None)
        df_1.at[index, 'Property_Value_To_Household_Income_Ratio_With_Mortgage_30x_39x'] = property_value_to_household_income_ratio_data.get('30x_to_39x', {}).get('with_mortgage', None)
        df_1.at[index, 'Property_Value_To_Household_Income_Ratio_Without_Mortgage_40x_+'] = property_value_to_household_income_ratio_data.get('40x_or_more', {}).get('without_mortgage', None)
        df_1.at[index, 'Property_Value_To_Household_Income_Ratio_With_Mortgage_40x_+'] = property_value_to_household_income_ratio_data.get('40x_or_more', {}).get('with_mortgage', None)
    
        #59 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Real_Estate_Taxes_By_Mortgage_Status_Without_Mortgage_Less_Than_800'] = real_estate_taxes_by_mortgage_status_data.get('less_than_800', {}).get('without_mortgage', None)
        df_1.at[index, 'Real_Estate_Taxes_By_Mortgage_Status_With_Mortgage_Less_Than_800'] = real_estate_taxes_by_mortgage_status_data.get('less_than_800', {}).get('with_mortgage', None)
        df_1.at[index, 'Real_Estate_Taxes_By_Mortgage_Status_Without_Mortgage_800_1499'] = real_estate_taxes_by_mortgage_status_data.get('800_to_1499', {}).get('without_mortgage', None)
        df_1.at[index, 'Real_Estate_Taxes_By_Mortgage_Status_With_Mortgage_800_1499'] = real_estate_taxes_by_mortgage_status_data.get('800_to_1499', {}).get('with_mortgage', None)
    
        #60 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_With_Coverage_Under_6_Year'] = health_insurance_coverage_by_age_data.get('under_6_years', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_Without_Coverage_Under_6_Year'] = health_insurance_coverage_by_age_data.get('under_6_years', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_With_Coverage_6_18_Year'] = health_insurance_coverage_by_age_data.get('6_to_18_years', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_Without_Coverage_6_18_Year'] = health_insurance_coverage_by_age_data.get('6_to_18_years', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_With_Coverage_19_25_Year'] = health_insurance_coverage_by_age_data.get('19_to_25_years', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_Without_Coverage_19_25_Year'] = health_insurance_coverage_by_age_data.get('19_to_25_years', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_With_Coverage_26_34_Year'] = health_insurance_coverage_by_age_data.get('26_to_34_years', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_Without_Coverage_26_34_Year'] = health_insurance_coverage_by_age_data.get('26_to_34_years', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_With_Coverage_35_44_Year'] = health_insurance_coverage_by_age_data.get('35_to_44_years', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_Without_Coverage_35_44_Year'] = health_insurance_coverage_by_age_data.get('35_to_44_years', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_With_Coverage_45_54_Year'] = health_insurance_coverage_by_age_data.get('45_to_54_years', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_Without_Coverage_45_54_Year'] = health_insurance_coverage_by_age_data.get('45_to_54_years', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_With_Coverage_55_64_Year'] = health_insurance_coverage_by_age_data.get('55_to_64_years', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_Without_Coverage_55_64_Year'] = health_insurance_coverage_by_age_data.get('55_to_64_years', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_With_Coverage_65_74_Year'] = health_insurance_coverage_by_age_data.get('65_to_74_years', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_Without_Coverage_65_74_Year'] = health_insurance_coverage_by_age_data.get('65_to_74_years', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_With_Coverage_75_+_Year'] = health_insurance_coverage_by_age_data.get('75_years_and_older', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Age_Without_Coverage_75_+_Year'] = health_insurance_coverage_by_age_data.get('75_years_and_older', {}).get('without_coverage', None)
    
        #61 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Health_Insurance_Coverage_By_Citizenship_With_Coverage_Native_Born'] = health_insurance_coverage_by_citizenship_data.get('native_born', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Citizenship_Without_Coverage_Native_Born'] = health_insurance_coverage_by_citizenship_data.get('native_born', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Citizenship_With_Coverage_Foreign_Born_Citizen'] = health_insurance_coverage_by_citizenship_data.get('foreign_born_citizen', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Citizenship_Without_Coverage_Foreign_Born_Citizen'] = health_insurance_coverage_by_citizenship_data.get('foreign_born_citizen', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Citizenship_With_Coverage_Foreign_Born_Not_A_Citizen'] = health_insurance_coverage_by_citizenship_data.get('foreign_born_not_a_citizen', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Citizenship_Without_Coverage_Foreign_Born_Not_A_Citizen'] = health_insurance_coverage_by_citizenship_data.get('foreign_born_not_a_citizen', {}).get('without_coverage', None)
    
        #62 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Health_Insurance_Coverage_By_Household_Income_With_Coverage_Under_25000'] = health_insurance_coverage_by_household_income_data.get('under_25000', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Household_Income_Without_Coverage_Under_25000'] = health_insurance_coverage_by_household_income_data.get('under_25000', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Household_Income_With_Coverage_25000_49999'] = health_insurance_coverage_by_household_income_data.get('25000_to_49999', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Household_Income_Without_Coverage_25000_49999'] = health_insurance_coverage_by_household_income_data.get('25000_to_49999', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Household_Income_With_Coverage_50000_74999'] = health_insurance_coverage_by_household_income_data.get('50000_to_74999', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Household_Income_Without_Coverage_50000_74999'] = health_insurance_coverage_by_household_income_data.get('50000_to_74999', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Household_Income_With_Coverage_75000_99999'] = health_insurance_coverage_by_household_income_data.get('75000_to_99999', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Household_Income_Without_Coverage_75000_99999'] = health_insurance_coverage_by_household_income_data.get('75000_to_99999', {}).get('without_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Household_Income_With_Coverage_100000_+'] = health_insurance_coverage_by_household_income_data.get('100000_and_over', {}).get('with_coverage', None)
        df_1.at[index, 'Health_Insurance_Coverage_By_Household_Income_Without_Coverage_100000_+'] = health_insurance_coverage_by_household_income_data.get('100000_and_over', {}).get('without_coverage', None)
    
        #63 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Public_Insurance_Under_6_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('under_6', {}).get('public_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Private_Insurance_Under_6'] = public_vs_private_health_insurance_coverage_by_age_data.get('under_6', {}).get('private_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Public_Insurance_6_18_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('6_to_18_years', {}).get('public_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Private_Insurance_6_18'] = public_vs_private_health_insurance_coverage_by_age_data.get('6_to_18_years', {}).get('private_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Public_Insurance_19_25_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('19_to_25_years', {}).get('public_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Private_Insurance_19_25_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('19_to_25_years', {}).get('private_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Public_Insurance_25_34_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('25_to_34_years', {}).get('public_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Private_Insurance_25_34_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('25_to_34_years', {}).get('private_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Public_Insurance_35_44_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('35_to_44_years', {}).get('public_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Private_Insurance_35_44_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('35_to_44_years', {}).get('private_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Public_Insurance_45_54_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('45_to_54_years', {}).get('public_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Private_Insurance_45_54_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('45_to_54_years', {}).get('private_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Public_Insurance_55_64_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('55_to_64_years', {}).get('public_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Private_Insurance_55_64_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('55_to_64_years', {}).get('private_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Public_Insurance_65_74_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('65_to_74_years', {}).get('public_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Private_Insurance_65_74_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('65_to_74_years', {}).get('private_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Public_Insurance_75_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('75_years_and_over', {}).get('public_insurance', None)
        df_1.at[index, 'Public_VS_Private_Health_Insurance_Private_Insurance_75_Years'] = public_vs_private_health_insurance_coverage_by_age_data.get('75_years_and_over', {}).get('private_insurance', None)
    
        #64 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Male_Under_5_Years'] = disability_status_by_sex_by_age_data.get('under_5_years', {}).get('male', None)
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Female_Under_5_Years'] = disability_status_by_sex_by_age_data.get('under_5_years', {}).get('female', None)
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Male_5_17_Years'] = disability_status_by_sex_by_age_data.get('5_to_17_years', {}).get('male', None)
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Female_5_17_Years'] = disability_status_by_sex_by_age_data.get('5_to_17_years', {}).get('female', None)
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Male_18_34_Years'] = disability_status_by_sex_by_age_data.get('18_to_34_years', {}).get('male', None)
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Female_18_34_Years'] = disability_status_by_sex_by_age_data.get('18_to_34_years', {}).get('female', None)
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Male_35_64_Years'] = disability_status_by_sex_by_age_data.get('35_to_64_years', {}).get('male', None)
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Female_35_64_Years'] = disability_status_by_sex_by_age_data.get('35_to_64_years', {}).get('female', None)
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Male_65_74_Years'] = disability_status_by_sex_by_age_data.get('65_to_74_years', {}).get('male', None)
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Female_65_74_Years'] = disability_status_by_sex_by_age_data.get('65_to_74_years', {}).get('female', None)
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Male_75_+_Years'] = disability_status_by_sex_by_age_data.get('75_years_and_over', {}).get('male', None)
        df_1.at[index, 'Disability_Status_By_Sex_By_Age_Female_75_+_Years'] = disability_status_by_sex_by_age_data.get('75_years_and_over', {}).get('female', None)
        
        #65 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_Under_5_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['under_5_years']['Male']
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_Under_5_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['under_5_years']['Female']
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_5_17_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['5_to_17_years']['Male']
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_5_17_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['5_to_17_years']['Female']
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_18_34_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['18_to_34_years']['Male']
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_18_34_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['18_to_34_years']['Female']
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_35_64_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['35_to_64_years']['Male']
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_35_64_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['35_to_64_years']['Female']
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_65_74_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['65_to_74_years']['Male']
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_65_74_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['65_to_74_years']['Female']
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Male_75_+_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['75_years_and_over']['Male']
        df_1.at[index, 'Disability_Class_Hearing_Difficulty_By_Sex_By_Age_Female_75_+_Years'] = disability_class_hearing_difficulty_by_sex_by_age_data['75_years_and_over']['Female']
        
        #66 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_Under_5_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['under_5_years']['Male']
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_Under_5_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['under_5_years']['Female']
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_5_17_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['5_to_17_years']['Male']
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_5_17_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['5_to_17_years']['Female']
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_18_34_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['18_to_34_years']['Male']
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_18_34_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['18_to_34_years']['Female']
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_35_64_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['35_to_64_years']['Male']
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_35_64_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['35_to_64_years']['Female']
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_65_74_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['65_to_74_years']['Male']
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_65_74_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['65_to_74_years']['Female']
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Male_75_+_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['75_years_and_over']['Male']
        df_1.at[index, 'Disability_Class_Vision_Difficulty_By_Sex_By_Age_Female_75_+_Years'] = disability_class_vision_difficulty_by_sex_by_age_data['75_years_and_over']['Female']
        
        #67 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Male_5_17_Years'] = disability_class_cognitive_difficulty_by_sex_by_age_data['5_to_17_years']['Male']
        df_1.at[index, 'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Female_5_17_Years'] = disability_class_cognitive_difficulty_by_sex_by_age_data['5_to_17_years']['Female']
        df_1.at[index, 'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Male_18_34_Years'] = disability_class_cognitive_difficulty_by_sex_by_age_data['18_to_34_years']['Male']
        df_1.at[index, 'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Female_18_34_Years'] = disability_class_cognitive_difficulty_by_sex_by_age_data['18_to_34_years']['Female']
        df_1.at[index, 'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Male_35_64_Years'] = disability_class_cognitive_difficulty_by_sex_by_age_data['35_to_64_years']['Male']
        df_1.at[index, 'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Female_35_64_Years'] = disability_class_cognitive_difficulty_by_sex_by_age_data['35_to_64_years']['Female']
        df_1.at[index, 'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Male_65_74_Years'] = disability_class_cognitive_difficulty_by_sex_by_age_data['65_to_74_years']['Male']
        df_1.at[index, 'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Female_65_74_Years'] = disability_class_cognitive_difficulty_by_sex_by_age_data['65_to_74_years']['Female']
        df_1.at[index, 'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Male_75_+_Years'] = disability_class_cognitive_difficulty_by_sex_by_age_data['75_years_and_over']['Male']
        df_1.at[index, 'Disability_Class_Cognitive_Difficulty_By_Sex_By_Age_Female_75_+_Years'] = disability_class_cognitive_difficulty_by_sex_by_age_data['75_years_and_over']['Female']
        
        #68 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Male_5_17_Years'] = disability_class_ambulatory_difficulty_by_sex_by_age_data['5_to_17_years']['Male']
        df_1.at[index, 'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Female_5_17_Years'] = disability_class_ambulatory_difficulty_by_sex_by_age_data['5_to_17_years']['Female']
        df_1.at[index, 'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Male_18_34_Years'] = disability_class_ambulatory_difficulty_by_sex_by_age_data['18_to_34_years']['Male']
        df_1.at[index, 'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Female_18_34_Years'] = disability_class_ambulatory_difficulty_by_sex_by_age_data['18_to_34_years']['Female']
        df_1.at[index, 'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Male_35_64_Years'] = disability_class_ambulatory_difficulty_by_sex_by_age_data['35_to_64_years']['Male']
        df_1.at[index, 'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Female_35_64_Years'] = disability_class_ambulatory_difficulty_by_sex_by_age_data['35_to_64_years']['Female']
        df_1.at[index, 'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Male_65_74_Years'] = disability_class_ambulatory_difficulty_by_sex_by_age_data['65_to_74_years']['Male']
        df_1.at[index, 'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Female_65_74_Years'] = disability_class_ambulatory_difficulty_by_sex_by_age_data['65_to_74_years']['Female']
        df_1.at[index, 'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Male_75_+_Years'] = disability_class_ambulatory_difficulty_by_sex_by_age_data['75_years_and_over']['Male']
        df_1.at[index, 'Disability_Class_Ambulatory_Difficulty_By_Sex_By_Age_Female_75_+_Years'] = disability_class_ambulatory_difficulty_by_sex_by_age_data['75_years_and_over']['Female']
        
        #69 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Male_5_17_Years'] = disability_class_self_care_difficulty_by_sex_by_age_data['5_to_17_years']['Male']
        df_1.at[index, 'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Female_5_17_Years'] = disability_class_self_care_difficulty_by_sex_by_age_data['5_to_17_years']['Female']
        df_1.at[index, 'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Male_18_34_Years'] = disability_class_self_care_difficulty_by_sex_by_age_data['18_to_34_years']['Male']
        df_1.at[index, 'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Female_18_34_Years'] = disability_class_self_care_difficulty_by_sex_by_age_data['18_to_34_years']['Female']
        df_1.at[index, 'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Male_35_64_Years'] = disability_class_self_care_difficulty_by_sex_by_age_data['35_to_64_years']['Male']
        df_1.at[index, 'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Female_35_64_Years'] = disability_class_self_care_difficulty_by_sex_by_age_data['35_to_64_years']['Female']
        df_1.at[index, 'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Male_65_74_Years'] = disability_class_self_care_difficulty_by_sex_by_age_data['65_to_74_years']['Male']
        df_1.at[index, 'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Female_65_74_Years'] = disability_class_self_care_difficulty_by_sex_by_age_data['65_to_74_years']['Female']
        df_1.at[index, 'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Male_75_+_Years'] = disability_class_self_care_difficulty_by_sex_by_age_data['75_years_and_over']['Male']
        df_1.at[index, 'Disability_Class_Self_Care_Difficulty_By_Sex_By_Age_Female_75_+_Years'] = disability_class_self_care_difficulty_by_sex_by_age_data['75_years_and_over']['Female']
        
        #70 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Computing_Device_Access_Number_Households_Desktop_Or_Laptop'] = computing_device_access_data['desktop_or_laptop']
        df_1.at[index, 'Computing_Device_Access_Number_Households_Smartphone'] = computing_device_access_data['smartphone']
        df_1.at[index, 'Computing_Device_Access_Number_Households_Tablet'] = computing_device_access_data['tablet']
        df_1.at[index, 'Computing_Device_Access_Number_Households_No_Computing_Device'] = computing_device_access_data['no_computing_device']
        
        #71 Assign the extracted data to the DataFrame columns
        df_1.at[index, 'Internet_Access_Number_Households_Dial_Up_Internet'] = internet_access_data['dial_up_internet']
        df_1.at[index, 'Internet_Access_Number_Households_Broadband_Home'] = internet_access_data['broadband_home']
        df_1.at[index, 'Internet_Access_Number_Households_Cellular_Data_Only'] = internet_access_data['cellular_data_only']
        df_1.at[index, 'Internet_Access_Number_Households_Satellite_Internet'] = internet_access_data['satellite_internet']
        df_1.at[index, 'Internet_Access_Number_Households_No_Internet'] = internet_access_data['no_internet']
        
    else:
        print(f"No matching row found for zip code {zip_code}")
# Save the updated DataFrame to a CSV file
df_1.to_csv("school_safety_partial_finance_data.csv", index=False)

In [15]:
max_retries = 5

for zip_code in tqdm(df_1['Zip_Code'].unique()):
    zip_code = str(zip_code)
    
    rows = df_1[df_1['Zip_Code'] == zip_code]
    
    if pd.isnull(rows[['Race_Asian', 'Race_Black_African', 'Race_White_Caucasian']]).all().all():
        retry_count = 0
        while retry_count < max_retries:
            input_element = browser.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[3]/div[1]/div/input")
            input_element.clear()
            
            for char in zip_code:
                input_element.send_keys(char)
                time.sleep(0.5)
            
            time.sleep(2)
            input_element.send_keys(Keys.RETURN)
            
            try:
                WebDriverWait(browser, 10).until(EC.presence_of_element_located((By.XPATH, "//h2[@id='race']")))
                print(f"Running algorithm for zip code: {zip_code}")
                extract_and_add_data(browser, zip_code)
                
                df_1.to_csv("school_safety_4.csv", index=False)
                print(f"Done for zip code: {zip_code}")
                break
            except:
                retry_count += 1
                print(f"Data not found for zip code {zip_code}. Retry count: {retry_count}")
                time.sleep(5)
        
        if retry_count == max_retries:
            print(f"Max retries reached for zip code {zip_code}. Skipping to the next zip code.")
    else:
        print(f"Data already exists for zip code: {zip_code}. Skipping...")

  0%|                                                                                         | 0/1879 [00:00<?, ?it/s]

Running algorithm for zip code: 46218

C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:57: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\4023729309.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_1[column_name] = pd.np.nan
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\2750562127.py:363: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1.at[index, 'Income_Overview_Characteristic_Wage_Income_Gap_Number'] = income_overview_data['Wage / Income Gap (%)']['Number']
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\2750562127.py:609: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1.at[index, 'Employment_By_Class_Of_Employer_Unpaid_Family_Workers_Number_Of_Employees'] = employment_by_class_data['unpaid_family_workers']['Number']
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\2750562127.py:610: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1.at[index, 'Employment_By_Class_Of_Employer_Unpaid_Family_Workers_Employees_Percentage_Of_Employees'] = employment_by_class_data['unpaid_family_workers']['Percentage']
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\2750562127.py:838: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1.at[index, 'Commute_Time_By_Sex_Less_Than_5_Minutes_Male'] = commute_time_by_sex_data['less_than_5_minutes']['male']
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\2750562127.py:839: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1.at[index, 'Commute_Time_By_Sex_Less_Than_5_Minutes_Female'] = commute_time_by_sex_data['less_than_5_minutes']['female']
C:\Users\ryanb\AppData\Local\Temp\ipykernel_9344\2750562127.py:840: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_1.at[index, 'Commute_Time_By_Sex_5_9_Minutes_Male'] = commute_time_by_sex_data['5_to_9_minutes']['male']

Done for zip code: 46218
Running algorithm for zip code: 28655
Data not found for zip code 28655. Retry count: 1

  0%|                                                                              | 1/1879 [00:46<24:16:16, 46.53s/it]

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=124.0.6367.78)
Stacktrace:
	GetHandleVerifier [0x00007FF7D5D41522+60802]
	(No symbol) [0x00007FF7D5CBAC22]
	(No symbol) [0x00007FF7D5B77CE4]
	(No symbol) [0x00007FF7D5B4DFDF]
	(No symbol) [0x00007FF7D5BF1E57]
	(No symbol) [0x00007FF7D5C098D1]
	(No symbol) [0x00007FF7D5BEA923]
	(No symbol) [0x00007FF7D5BB8FEC]
	(No symbol) [0x00007FF7D5BB9C21]
	GetHandleVerifier [0x00007FF7D604413D+3217821]
	GetHandleVerifier [0x00007FF7D60860D7+3488055]
	GetHandleVerifier [0x00007FF7D607F05F+3459263]
	GetHandleVerifier [0x00007FF7D5DFB866+823494]
	(No symbol) [0x00007FF7D5CC5FBF]
	(No symbol) [0x00007FF7D5CC0EE4]
	(No symbol) [0x00007FF7D5CC1072]
	(No symbol) [0x00007FF7D5CB18C4]
	BaseThreadInitThunk [0x00007FFB9DFF257D+29]
	RtlUserThreadStart [0x00007FFB9F60AA48+40]

In [ ]:
print(df_1['Zip_Code'].to_string())

In [ ]:
zip_code = input("Zip_Code: ")
extract_and_add_data(browser, zip_code)
print(race_data)
df_1.to_csv("school_safety_partial_finance_data.csv", index=False)
print('Done!')